<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i></a>
  Grades
<% end %>
<div class="container-width" style="max-width: 600px; margin: 0 auto; margin-top:60px; margin-bottom:70px;">
	<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
		<%= link_to new_institute_grade_path(@institute) do %>
			<div class="pull-right add-member">
				<span>Add Class</span><i class="material-icons">&#xE7FE;</i>
			</div>
		<% end %>
		<div class="clearfix mar-btm"></div>
		
	<% end %>
	<ul class="list-unstyled list-inline text-center">
		<% if(!@grades.blank?) %>
			<% @grades.each do |grade| %>
				<% grade_section_models = grade.grades_sections.where(institute_id: @institute.id) %>
				<% grades_sections_members_models = grade.grades_sections_members_models.where(institute_id: @institute.id) %>
				<% teachers_count =  grades_sections_members_models.where(member_role: "Teacher").map(&:member).uniq.count%>
				<% students_count =  grades_sections_members_models.where(member_role: "Student").map(&:member).uniq.count%>
				<% parents_count =  grades_sections_members_models.where(member_role: "Parent").map(&:member).uniq.count%>

				<li>
					<div class="ch-item">	
						<div class="ch-info">
							<h3><%= teachers_count %> Teachers</h3>
							
							<p><%= students_count %> Students<br><%= parents_count %> Parents<a href="<%= institute_grade_path(@institute, grade) %>"><%= grade.grade_name %></a></p>
						</div>
						<div class="ch-thumb">
							<span>Class <%= grade.grade_name %></span>
							<span><%= grade_section_models.count %> Sections</span>
						</div>
					</div>
					<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_path(@institute, grade) do %>Go To Class <%= grade.grade_name %><% end %></button>
				</li>
				
			<% end %>
		<% else %>
			<h1 class="nothing-posted"> No Classes Added yet </h1>	
		<% end %>
		
	</ul>
</div>	
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });

</script>