<% content_for :heading do %>
	My Classes
<% end %>
<div class="container-width" style="margin-top:60px;">
	<ul class="list-unstyled list-inline text-center">
		<% if(!@grades.blank?) %>
			<% @grades.each do |grade| %>
				<% grade_section_models = grade.grades_sections.where(institute_id: @institute.id) %>
				<% grades_sections_members_models = grade.grades_sections_members_models.where(institute_id: @institute.id) %>
				<% teachers_count =  grades_sections_members_models.where(member_role: "Teacher").map(&:member).uniq.count%>
				<% students_count =  grades_sections_members_models.where(member_role: "Student").map(&:member).uniq.count%>
				<% parents_count =  grades_sections_members_models.where(member_role: "Parent").map(&:member).uniq.count%>

				<li>
					<div class="ch-item">	
						<div class="ch-info">
							<h3><%= teachers_count %> Teachers</h3>
							
							<p><%= students_count %> Students<br><%= parents_count %> Parents<a href="<%= institute_grade_path(@institute, grade) %>"><%= grade.grade_name %></a></p>
						</div>
						<div class="ch-thumb">
							<span>Class <%= grade.grade_name %></span>
							<span><%= grade_section_models.count %> Sections</span>
						</div>
					</div>
					<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_path(@institute, grade) do %>Go To Class <%= grade.grade_name %><% end %></button>
				</li>
				
			<% end %>
		<% end %>
		
	</ul>
</div>	
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });

</script>