<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>Add Classes and Sections</a>
<% end %>
<div style="margin-top: 100px;"></div>
<div class="new-class-step-1-form-div">
	<%= form_tag institute_grades_path(@institute), method: :post, multipart: true, remote: true, id: "new-class-form" do %>
		<%= hidden_field_tag :step, 1 %>
			
		<div class="grades-div text-left">
			
			<% @grades.each do |grade| %>					
				<div class="main-grade">

					<ul class="detectul">
						<li class="listitems"> 
							<div class="checkbox">
								<label for="grades-division-<%= grade.id %>" class="grades-division">
									<%= check_box_tag "grade_ids[]", grade.id, false, { class: "checkbox grade-names-input", id: "grades-division-#{grade.id}"} %>
									<span>Class <%= grade.grade_name %></span>
									<span><i class="material-icons circle-arrow-down-icon" style="top:9px;right:6px;font-size:27px;color: #fff;">&#xE313;</i></span>
								</label>
							</div>
						</li>
					</ul>	
					<div class="division-criterias" style="display:none;">
						<div class="division-section">
							<span class="text-muted division-criteria-style division-criteria-subject-style">All Sections: </span>
							<input type="checkbox" name="subject-selector" class="all-sections" id="all-sections"/>
							<div class="division-upper-sections">	
								<% @sections.each do |section| %>
									<%= check_box_tag "grades[#{grade.id}][section_ids][]", section.id, false, {"data-role" => "none", class: "grade-section-names-input"} %>
									<span><%= section.section_name %></span>
								<% end %>
								
							</div>
							
						</div>	
					</div>	
				</div>					
			<% end %>
		</div>			
		<%= submit_tag :Next, "data-disable-with" => "Please Wait..." %>

	<% end %>
</div>
<div style="margin-bottom: 100px;"></div>
<script type="text/javascript">
	$(document).on('change','.grade-names-input',function(){
		if($(this).is(':checked')) {
			$(this).parents(".main-grade").find(".division-criterias").slideDown();
			$(this).parents("ul.detectul").find(".circle-arrow-down-icon").addClass("arrow-circle-up");
		} else {
			$(this).parents(".main-grade").find(".division-criterias").slideUp();
			$(this).parents("ul.detectul").find(".circle-arrow-down-icon").removeClass("arrow-circle-up");
		}
	});
	$(".all-sections").change(function(e){
		$(this).parents(".main-grade").find(".division-upper-sections input:checkbox").prop('checked', $(this).prop("checked"));
	});

</script>>