<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i></a>
  Class <%= @grade.grade_name %>
<% end %>
<div class="container-width" style="margin-top:60px;">
	<ul class="list-unstyled list-inline text-center">
		<%= link_to new_institute_grade_section_path(@institute, @grade) do %>
			<div class="pull-right add-member">
				<span>Add Section</span><i class="material-icons">&#xE7FE;</i>
			</div>
		<% end %>
		<div class="clearfix"></div>
		<% if(!@grade_section_models.blank?) %>
			<% @grade_section_models.each do |grade_section_model| %>
				<% section = grade_section_model.section %>
				<% subjects_count = section.sections_subjects.where(institute_id: @institute.id, grade_id: grade_section_model.grade_id).map(&:subject).uniq.count %>
				
				<% teachers_count =  section.sections_members.where(institute_id: @institute.id, grade_id: grade_section_model.grade_id, member_role: "Teacher").count %>
				<% students_count =  section.sections_members.where(institute_id: @institute.id, grade_id: grade_section_model.grade_id, member_role: "Student").count %>
				<% parents_count =  section.sections_members.where(institute_id: @institute.id, grade_id: grade_section_model.grade_id, member_role: "Parent").count %>

				<li>
					<div class="ch-item">	
						<div class="ch-info">
							<h3><%= teachers_count %> Teachers</h3>
							
							<p><%= students_count %> Students<br><%= parents_count %> Parents<a href="<%= institute_grade_section_path(@institute, @grade, section) %>"><%= section.section_name %></a></p>
						</div>
						<div class="ch-thumb">
							<span>Section <%= section.section_name %></span>
							<span><%= subjects_count %> Subjects</span>
						</div>
					</div>
					<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_section_path(@institute, @grade, section) do %>Go To Section <%= section.section_name %><% end %></button>
				</li>
				
			<% end %>
		<% end %>
	</ul>
</div>
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });

</script>