<% if(!params[:slot_for].blank? and params[:slot_for] == "Teacher") %>
	<%= form_tag institute_timetable_slot_path(@institute, @timetable_slot), method: :patch, remote: true do %>
		<%= hidden_field_tag :slot_for, :Teacher %>
		<%= hidden_field_tag :start_time, @timetable_slot.start_time %>
		<%= hidden_field_tag :end_time, @timetable_slot.end_time %>
		<h3>
			<%= @teacher.first_name %> <%= @teacher.last_name %> (<%= @teacher.details %>)
			<span class="pull-right" style="font-size:17px; color:#d9535f"> <%= get_am_pm_time(@timetable_slot.start_time) %> to <%= get_am_pm_time(@timetable_slot.end_time) %></span>
		</h3>
		<span>Assign Class and Subject </span>
		<div class="clearfix mar-btm"></div>
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Class", ""]] %>
				<% @grade_section_models.each do |grade_section_model| %>
					<% options << ["Class #{grade_section_model.grade.grade_name}#{grade_section_model.section.section_name}", grade_section_model.id] %>
				<% end %>
				<%= select_tag :grade_section_id, options_for_select(options, ["Class #{@timetable_slot.grade.grade_name}#{@timetable_slot.section.section_name}", @grade_section_model.id]), class: "form-control",required: :true %>
			</div>
		</div>
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Subject", ""]] %>
				<% @subjects.each do |subject| %>
					<% options << [subject.subject_name, subject.id] %>
				<% end %>
				<%= select_tag :subject_id, options_for_select(options, [@subject.subject_name, @subject.id]),class: "form-control", required: :true %>
			</div>
		</div>	
		<div class="col-sm-2 col-xs-12">
			<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
		</div>

		<div class="col-sm-2 col-xs-12">
			<%= link_to institute_timetable_slot_path(@institute, @timetable_slot), method: :delete, remote: true do %> 
				<br>
				<button class="btn btn-success" style="width: 100%;"> 
					Delete This Day Plan Slot
				</button>
			<% end %>
		</div>
	<% end %>
	<div class="clearfix mar-btm"></div>
<% else %>
	<%= form_tag institute_timetable_slot_path(@institute, @timetable_slot), method: :patch, remote: true do %>
		<%= hidden_field_tag :slot_for, :Others %>
		<%= hidden_field_tag :start_time, @timetable_slot.start_time %>
		<%= hidden_field_tag :end_time, @timetable_slot.end_time %>
	
		<h3>
			Class <%= @grade.grade_name %><%= @section.section_name %>
			<span class="pull-right" style="font-size:17px;color:#d9535f"> <%= get_am_pm_time(@timetable_slot.start_time) %> to <%= get_am_pm_time(@timetable_slot.end_time) %></span>
		</h3>
		<span>Assign Teacher and Subject </span>
		<div class="clearfix mar-btm"></div>
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Teacher", ""]] %>
				<% @teachers.each do |teacher| %>
					<% options << [teacher.first_name + " " + teacher.last_name, teacher.id] %>
				<% end %>
				<%= select_tag :teacher_id, options_for_select(options, [@teacher.first_name + " " + @teacher.last_name, @teacher.id, ""]), class: "form-control",required: :true %>
			</div>
		</div>	
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Subject", ""]] %>
				<% @subjects.each do |subject| %>
					<% options << [subject.subject_name, subject.id] %>
				<% end %>
				<%= select_tag :subject_id, options_for_select(options, [@subject.subject_name, @subject.id]),class: "form-control", required: :true %>
			</div>
		</div>	
		<div class="col-sm-2 col-xs-12">
			<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
		</div>
		
		<div class="col-sm-2 col-xs-12">
			<%= link_to institute_timetable_slot_path(@institute, @timetable_slot), method: :delete, remote: true do %> 
				<br>
				<button class="btn btn-success" style="width: 100%;"> 
					Delete This Day Plan Slot
				</button>
			<% end %>
		</div>
	<% end %>
	<div class="clearfix mar-btm"></div>
<% end %>

