<% if(!params[:teacher_id].blank?) %>
	<%= form_tag institute_timetable_slots_path(@institute), method: :post, remote: :true do %>
		<%= hidden_field_tag :teacher_id, @teacher.id %>
		<%= hidden_field_tag :start_time, Time.parse(params[:start_time]) %>
		<%= hidden_field_tag :end_time, Time.parse(params[:end_time]) %>
		<h3>
			<%= @teacher.first_name %> <%= @teacher.last_name %> (<%= @teacher.details %>)
			<span class="pull-right" style="font-size:17px; color:#d9535f"> <%= get_am_pm_time(DateTime.parse(params[:start_time])) %> to <%= get_am_pm_time(DateTime.parse(params[:end_time])) %></span>
		</h3>
		<span>Assign Class and Subject </span>
		<div class="clearfix mar-btm"></div>
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
		
				<% options = [["Set Class", ""]] %>
				<% @grade_section_models.each do |grade_section_model| %>
					<% options << ["Class #{grade_section_model.grade.grade_name}#{grade_section_model.section.section_name}", grade_section_model.id] %>
				<% end %>
				<%= select_tag :grade_section_id, options_for_select(options, ["Set Class", ""]),class: "form-control", required: :true %>
			</div>
		</div>	

		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				
				<% options = [["Set Subject", ""]] %>
				<% @subjects.each do |subject| %>
					<% options << [subject.subject_name, subject.id] %>
				<% end %>
				<%= select_tag :subject_id, options_for_select(options, ["Set Subject", ""]),class: "form-control", required: :true %>
			</div>
		</div>
		<div class="col-sm-2 col-xs-12">
			<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
		</div>
	<% end %>
	<div class="clearfix mar-btm"></div>
<% else %>
	<%= form_tag institute_timetable_slots_path(@institute), method: :post, remote: :true do %>
		<%= hidden_field_tag :grade_id, @grade.id %>
		<%= hidden_field_tag :section_id, @section.id %>
		<%= hidden_field_tag :start_time, Time.parse(params[:start_time]) %>
		<%= hidden_field_tag :end_time, Time.parse(params[:end_time]) %>
		<h3>
			Class <%= @grade.grade_name %><%= @section.section_name %>
			<span class="pull-right" style="font-size:17px; color:#d9535f"> <%= get_am_pm_time(DateTime.parse(params[:start_time])) %> to <%= get_am_pm_time(DateTime.parse(params[:end_time])) %></span>
		</h3>
		<span>Assign Teacher and Subject </span>
		<div class="clearfix mar-btm"></div>
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Teacher", ""]] %>
				<% @teachers.each do |teacher| %>
					<% options << [teacher.first_name + " " + teacher.last_name, teacher.id] %>
				<% end %>
				<%= select_tag :teacher_id, options_for_select(options, ["Set Teacher", ""]),class: "form-control", required: :true %>

			</div>
		</div>	
		<div class="col-sm-5 col-xs-6">
			<div class="form-group">
				<% options = [["Set Subject", ""]] %>
				<% @subjects.each do |subject| %>
					<% options << [subject.subject_name, subject.id] %>
				<% end %>
				<%= select_tag :subject_id, options_for_select(options, ["Set Subject", ""]), class: "form-control",required: :true %>
				
			</div>
		</div>
		<div class="col-sm-2 col-xs-12">
			<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
		</div>
	<% end %>
	<div class="clearfix mar-btm"></div>
<% end %>

