<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE88A;</i></a>
	Day Plan
<% end %>

<div class="container-width classRoute timetable-index-page"  style="max-width:600px;margin:0 auto;margin-top: 70px;">
	<ul class="nav nav-tabs text-center" role="tablist" id="tablist" style="background:#98c2d2;">		
		<li class="active" style="width:100%;">
			<a data-toggle="tab" href="#class-plan">
				Class Plan
			</a>
		</li>
	</ul>
	<div class="tab-content admin-home-content" style="margin-bottom:70px;">
		<div class="tab-pane active" id="class-plan">
			<% if(!@section_member_models.blank?) %>
				<ul class="list-unstyled teachers-list index-conversation-modal" style ="max-height: none">
					<% @section_member_models.each do |section_member_model| %>
					
						<% grade = section_member_model.grade %>
						<% section = section_member_model.section %>
						
						<% if(!grade.blank? and !section.blank?) %>
							<li>
								<h6 class="teachers-list-heading" style="background:#b0b0b0;">Class <%= grade.grade_name %><%= section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
								<div class="container-width classRoute">
									<div class="calendar class-calendar" data-grade-id="<%= grade.id %>" data-section-id="<%= section.id %>">
				
									</div>

								</div>	
							</li>
						<% else %>	

						<% end %>			

					<% end %>
				</ul>			
			<% end %>
		</div>
	</div>
</div>	
<script>
	var calendarObjects = [];
	initClassDayPlanCalendar();
	function initClassDayPlanCalendar(){
		$.each($('.class-calendar'), function(index, calendarElement){

		  var gradeId = $(calendarElement).attr("data-grade-id");
		  var sectionId = $(calendarElement).attr("data-section-id");
		  var dayClickFlag = false;
		  calendarObjects[index] = $(calendarElement).fullCalendar({
			  header: {
			    left: 'prev,next today',
			    center: 'title',
			    right: 'agendaWeek,agendaDay'
			  },
			  defaultView: "agendaDay",
			  firstDay: 1,
			  slotDuration: "00:30:00",
			  scrollTime: "08:00:00",
			  ignoreTimezone: true,
			  displayEventTime : false,
			  eventSources: [
			    { 
			      googleCalendarApiKey: 'AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow',
			      url: 'https://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic',

			      color: '#ea5b31',   // an option!
		  		  textColor: '#fff' // an option!

			    },
			    {
			        url: '/institutes/<%= @institute.id %>/timetable_slots?grade_id='+gradeId + '&section_id='+sectionId,
			        color: '#4646a7',   // an option!
	    		    textColor: '#fff' // an option!
			    }

			  ]
			});
		});
	
	}		  

</script>