<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE88A;</i></a>
	Day Plan
<% end %>

<div class="container-width classRoute timetable-index-page"  style="max-width:600px;margin:0 auto;margin-top: 70px;">
	<ul class="nav nav-tabs text-center" role="tablist" id="tablist" style="background:#98c2d2;">	
		<li class="active" style="width:100%;">
			<a data-toggle="tab" href="#teacher-plan">
				Teacher Plan
			</a>
		</li>
	</ul>
	<div class="tab-content admin-home-content" style="margin-bottom:70px;">
		<div class="tab-pane active" id="teacher-plan">
		
			<ul class="list-unstyled teachers-list index-conversation-modal" style ="max-height: none">
				
				<li>
					<h6 class="teachers-list-heading" style="background:#b0b0b0;"><%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.details %>)<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
					<div class="container-width classRoute">
						<div class="calendar teacher-calendar" data-teacher-id="<%= current_user.id %>">
	
						</div>

					</div>	
				</li>
							
			</ul>			
			
		</div>		
	</div>
</div>	
<script>
	
	var teacherCalendarObjects = [];		
	$.each($('.teacher-calendar'), function(index, calendarElement){
	  var teacherId = $(calendarElement).attr("data-teacher-id");
	  
	  teacherCalendarObjects[index] = $(calendarElement).fullCalendar({
		  header: {
		    left: 'prev,next today',
		    center: 'title',
		    right: 'agendaWeek,agendaDay'
		  },
		  defaultView: "agendaDay",
		  firstDay: 1,
		  slotDuration: "00:30:00",
		  scrollTime: "08:00:00",
		  ignoreTimezone: true,
		  displayEventTime : false,
		  eventSources: [
		    { 
		      googleCalendarApiKey: 'AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow',
		      url: 'https://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic',

		      color: '#ea5b31',   // an option!
		  	  textColor: '#fff' // an option!

		    },
		    {
		        url: '/institutes/<%= @institute.id %>/timetable_slots',
		        color: '#4646a7',   // an option!
	    		textColor: '#fff' // an option!
		    }

		  ],
		  eventClick: function(event, jsEvent, view) {
		      return false;
		  }
		});
	});	


</script>