<div class="messages-media">
	<div class="media main-media">
		<div class="media-left pull-right">
			<a href="#">
				<img src="<%= message.message_creator.profile_picture.media.url(:thumb) %>" class="img-circle img-xs">
			</a>
		</div>
		<div class="media-body media-middle">
			<h5 class="media-heading text-muted"><%= message.message_creator.details %><span class="pull-right"><%= get_am_pm_time(message.created_at) %></span></h5>
			<span class="pull-left"><%= message.message_creator.first_name %></span>
		</div>
	</div>
	<div class="media-content text-muted">
		<%= message.content %>
	</div>
	<% if(!message.attachments.blank?) %>
		<% message.attachments.each do |attachment| %>
			<p>
				<% if(attachment.is_image_type?) %>
					<img src="<%= attachment.media.url(:thumb) %>" > 
				<% end %>

				<% if(attachment.is_video_type?) %>
					<%= videojs_rails sources: { "#{attachment.media.content_type.split('/').last}" => attachment.media.url(:medium)}, setup: "{}", controls: true, width:"300", height: "200" %>

				<% end %>

				<% if(attachment.is_document_type?) %>
					<iframe width="200" height= "200" src="https://docs.google.com/gview?url=https://classtalk.in<%= attachment.media.url %>&embedded=true&chrome=true"></iframe>
				<% end %>
			</p>
		<% end %>	
	<% end %>
</div>