<div class="messages-media message-div message" data-message-id="<%= message.id %>">
	<div class="media main-media">
		<div class="media-left pull-right">
			<a href="javascript:void(0)">
				<img src="<%= message.message_creator.profile_picture.media.url(:thumb) %>" class="img-circle img-xs">
			</a>
		</div>
		<div class="media-body media-middle">
			<h5 class="media-heading text-muted"><%= message.message_creator.details %><span class="pull-right"><%= get_am_pm_time(message.created_at) %></span></h5>
			<span class="pull-left"><%= message.message_creator.first_name %></span>
			
			<% if message.creator_id == current_user.id %>
			
				<% participant_ids_array = conversation.participants.where.not(id: message.creator_id).map{|participant| participant.id } %>
				<% message.seen_user_ids = "" if message.seen_user_ids.blank? %>
				<% seen_user_ids_array = message.seen_user_ids.split(", ").map{|id| id.to_i}.uniq %>
				<% if(message.is_seen_by_all_participants == true) %>
					<span class="double-checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Seen by all</span>
				<% else %>
					<span class="double-checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Seen by <%= seen_user_ids_array.length %></span>
				<% end %>
			<% end %>
			<% if(message.creator_id == current_user.id and !conversation.message_categories.blank? and conversation.message_categories.include?(message.category)) %>
					
				<% student_participant_ids_array = conversation.participants.where.not(id: message.creator_id).where(role: "Student").map{|p| p.id} %>
				<% message.acted_user_ids = "" if message.acted_user_ids.blank? %>
				<% acted_user_ids_array = message.acted_user_ids.split(", ").map{|id| id.to_i}.uniq %>
				<% if(message.is_acted_by_all_participants == true) %>
					<span class="checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Submitted by all</span>
				<% else %>
					<span class="checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Submitted by <%= acted_user_ids_array.length %></span>
				<% end %>
			<% end %>

			<% if((current_user.role == "Student" or current_user.role == "Parent") and message.creator_id != current_user.id and !conversation.message_categories.blank? and conversation.message_categories.include?(message.category)) %>
					
				<% message.acted_user_ids = "" if message.acted_user_ids.blank? %>
				<% acted_user_ids_array = message.acted_user_ids.split(", ").map{|id| id.to_i}.uniq %>
				<% if(acted_user_ids_array.include?(current_user.id) or acted_user_ids_array.include?(current_user.child_id)) %>
					<span class="checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Submitted</span>
				<% else %>
					<span class="checkmark pull-right" data-message-id=<%= message.id %> data-conversation-id=<%= conversation.id %>>Pending <%= acted_user_ids_array.length %></span>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="media-content text-muted">
		<%= message.content %>
	</div>					
	<% if(!message.attachments.blank?) %>
		<% message.attachments.each do |attachment| %>
			<p>
				<% if(attachment.is_image_type?) %>
					<img height="200" width="200" src="<%= attachment.media.url(:thumb) %>" > 
				<% end %>

				<% if(attachment.is_video_type?) %>
					<video width="300" height="200" controls class="video-js vjs-default-skin">
						<source src="<%= attachment.media.url(:medium) %>" type='video/<%= attachment.media.content_type.split("/").last %>' >
		  			</video>
				<% end %>

				<% if(attachment.is_document_type?) %>
					<iframe width="200" height= "200" src="https://docs.google.com/gview?url=https://classtalk.in<%= attachment.media.url %>&embedded=true&chrome=true"></iframe>
				<% end %>
			</p>
		<% end %>	
	<% end %>
</div>