var conversationBigDiv = $('.conversation-big[data-conversation-id=' + '<%= conversation.id %>' + ']');
	
if(conversationBigDiv.length != 0){
	$('.temp-message').remove();
	
	<% if(message.category == "Messages") %>
		messagesDiv =  $('.conversation-big[data-conversation-id=' + '<%= conversation.id %>' + ']').find('.Messages-category-messages');
		if(messagesDiv){
			messagesDiv.prepend('<%= j render( partial: "messages/message", locals: {conversation: conversation, message: message} ) %> ');
			$('ul.nav a[href="' + '#all-Messages' + '"]').tab('show');		
		}
	<% end %>

	<% if(!message.attachments.blank?) %>
		meediaMessagesDiv = $('.conversation-big[data-conversation-id=' + '<%= conversation.id %>' + ']').find('.Media-category-messages');
		if(meediaMessagesDiv){
			meediaMessagesDiv.prepend('<%= j render( partial: "messages/message", locals: {conversation: conversation, message: message} ) %> ');
			$('ul.nav a[href="' + '#all-Media' + '"]').tab('show');		
		}
	<% end %>	

	<% if(message.category != "Messages") %>
		categoryMessagesDiv = $('.conversation-big[data-conversation-id=' + '<%= conversation.id %>' + ']').find('.<%= message.category.split(" ").join("_") %>-category-messages');
		if(categoryMessagesDiv){
			categoryMessagesDiv.prepend('<%= j render( partial: "messages/message", locals: {conversation: conversation, message: message} ) %> ');
			$('ul.nav a[href="' + '#all-<%= message.category.split(" ").join("_")%>' + '"]').tab('show');		
		}
	<% end %>

	messageBodyDiv = $(".message-div[data-message-id='<%= message.id %>']").find(".show-message-body");
	messageBodyDiv.html($(messageBodyDiv).html().linkify());

	$(".message-div[data-message-id='<%= message.id %>'] .view-attachment-button").on("click", function(){
		$(this).html("");
		attachmentType = $(this).attr("data-attachment-type");
		if(attachmentType == "Image"){
			var linkMedia = $(this).attr("data-attachment-url");
			var markupArryForMedia=[
				'<p style="max-width: 300px; margin: 0 auto;">',
					'<img style="width: 100%;" height= "200" src="' +  linkMedia + '"></img>',
				'</p>' 
			];
		}

		if(attachmentType == "Video"){
			var linkMedia = $(this).attr("data-attachment-url");
			var fileType = $(this).attr("data-attachment-extension");
			var markupArryForMedia=[
				'<p style="max-width: 300px; margin: 0 auto;">',
					'<video width="300" height="200" controls class="video-js vjs-default-skin">',
							'<source src="' + linkMedia + '" type="' + fileType +'" >',
							
							'Your browser does not support the video tag.',
					'</video>',
				'</p>' 
			];
		}
		if(attachmentType == "Document"){
			var linkMedia = $(this).attr("data-href");
			var markupArryForMedia=[
				'<p style="max-width: 300px; margin: 0 auto;">',
					'<iframe style="width: 100%;" height= "200" src="' +  linkMedia + '"></iframe>',
				'</p>' 
			];
		}
		$(this).html(markupArryForMedia.join(''));
	});

	//App.scrollToBottomOfPage();
	
	var lastmessageDiv = $('.message-div[data-message-id=' + <%= message.id %> + ']');
	if(lastmessageDiv){
		
		var statusDiv = lastmessageDiv.find('.double-checkmark');
		var submissionDiv = lastmessageDiv.find('.checkmark');
		var currentUserId = $('meta[name=current-user-id]').attr("content");
		var message_creator_id = "<%= message.creator_id %>";
		
		if(currentUserId == message_creator_id){
			$(".double-checkmark").on("click", function(){
				var messageId = $(this).attr("data-message-id");
				$.ajax({
					url: "/conversations/<%= conversation.id %>/messages/" + messageId + "/seen_by_users.js",  
					type: "GET",
					success: function(data) {
						if(data.trim().length == 0) {
							$("#seenStatusModal").find(".modal-body").html("No one has yet seen this message !");
						} else {
							$("#seenStatusModal").find(".modal-body").html(data);
						}
					}
				});
				$("#seenStatusModal").modal('show');
			});
			$(".checkmark").on("click", function(){
				var messageId = $(this).attr("data-message-id");
				$.ajax({
					url: "/conversations/<%= @conversation.id %>/messages/" + messageId + "/acted_by_users.js",  
					type: "GET",
					success: function(data) {
						if(data.trim().length == 0) {
							$("#submissionStatusModal").find(".modal-body").html("No one has yet acted on this message !");
						} else {
							$("#submissionStatusModal").find(".modal-body").html(data);
						}
					}
				});
				$("#submissionStatusModal").modal('show');
			});
		}else{
			statusDiv.remove();
			submissionDiv.remove();
			$.ajax({
				url: "<%= set_seen_user_id_conversation_message_path(conversation, message) %>",
				type: "POST",
				beforeSend: function(data) {
					var csfrToken = $("meta[name='csrf-token']").attr("content");
					data.setRequestHeader('X-CSRF-Token', csfrToken);
				},
				success: function(data) {
					return;
				}
			});
		}
	}
	
}