<% if(!@staff.blank?) %>
	<% if(@staff.role == "Teacher") %>
		<div class="new-staff-step-2-form-div">

			<%= form_tag add_new_staff_institute_path(@institute), method: :post, multipart: true, remote: true, id: "students-staff-details-form" do %>
				<%= hidden_field_tag :step, 2 %>
				<%= hidden_field_tag :staff_id, @staff.id %>

				<h1> Is <%= @staff.first_name %> <%= @staff.last_name %> ClassTeacher of any class ? If yes, then please select her class below </h1>

				<% if(!@grades.blank?) %>
					<% options = [["Select Class", ""]] %>
					<% @grades.each do |grade| %>
						<% options << ["Class #{grade.grade_name}", grade.id] %>
					<% end %>
					<%= select_tag :classteacher_grade_id, options_for_select(options, ["Select Class", ""]), required: true %>
				<% end %>
				<% if(!@sections.blank?) %>
					<% options = [["Select Section", ""]] %>
					<% @sections.each do |section| %>
						<% options << ["Section #{section.section_name}", section.id] %>
					<% end %>
					<%= select_tag :classteacher_section_id, options_for_select(options, ["Select Section", ""]), required: true %>
				<% end %>
					
				<h1> Does <%= @staff.first_name %> <%= @staff.last_name %> teaches any subject? If yes, then please select his/her subjects and classes below </h1>
	
				<div class="teachers-grades-div text-left">
					<% @grades.each do |grade| %>
						<div class="main-grade">
							<ul class="detectul">
								<li class="listitems"> 
									<div class="checkbox">
										<label for="teachers-grades-division-<%= grade.id %>" class="grades-division">
											<%= check_box_tag "grade_names[]", grade.grade_name, false, { class: "checkbox teachers-grade-names-input", id:"teachers-grades-division-#{grade.id}"} %>
											<span>Grade <%= grade.grade_name %></span>
											<span><i class="material-icons circle-arrow-down-icon" style="top:9px;right:6px;font-size:27px;color: #fff;">&#xE313;</i></span>
										</label>	
									</div>
								</li>
							</ul>									
							<div class="division-criterias" style="display:none;">
								<div class="division-section">
									<span class="text-muted division-criteria-style division-criteria-subject-style">All Sections: </span>
									<input type="checkbox" name="subject-selector" class="all-sections" id="teachers-all-sections"/>
									
									<div class="division-upper-sections">	

										<% Section.all.each do |section| %>
											<%= check_box_tag "grades[#{grade.grade_name}][section_names][]", section.section_name, false, {"data-role" => "none", class: "grade-section-names-input"} %>
											<span>Section <%= section.section_name %></span>
										<% end %>
									</div>
								</div>
								
								<div class="division-subjects">	
									<span class="text-muted division-criteria-style division-criteria-subject-style">All subjects: </span>
									<input type="checkbox" name="subject-selector" class="teachers-all-subjects" id="teachers-all-subjects"/>
									
									<div class="division-upper-subjects">	
										<% Subject.all.each do |subject| %>		
											<label for="grade-subject-names-input-<%= subject.subject_name %>-<%= grade.id %>" class="labelForSubjects">
												<div class="division-inner-subjects">											
													<%= check_box_tag "grades[#{grade.grade_name}][subject_names][]", subject.subject_name, false, {"data-role" => "none", class: "grade-subject-names-input grade-subject-names-input-#{subject.subject_name}", id: "grade-subject-names-input-#{subject.subject_name}-#{grade.id}"} %>
													<span><%= subject.subject_name %></span>
												</div>		
											</label>
										<% end %>
									</div>								
								</div>	
							</div>
						</div>
					<% end %>
				</div>
				<%= submit_tag :Save, "data-disable-with" => "Saving..." %>

			<% end %>

			<script type="text/javascript">
				$(document).on('change','.teachers-grade-names-input',function(){
					if($(this).is(':checked')) {
						$(this).parents(".main-grade").find(".division-criterias").slideDown();
						$(this).parents("ul.detectul").find(".circle-arrow-down-icon").addClass("arrow-circle-up");
					} else {
						$(this).parents(".main-grade").find(".division-criterias").slideUp();
						$(this).parents("ul.detectul").find(".circle-arrow-down-icon").removeClass("arrow-circle-up");
					}
				});
				$(".teachers-all-subjects").change(function (e) {
					$(this).parents(".main-grade").find(".division-upper-subjects input:checkbox").prop('checked', $(this).prop("checked"));
					e.preventDefault();
				});

				$("#teachers-all-sections").change(function(e){
					$(this).parents(".main-grade").find(".division-upper-sections input:checkbox").prop('checked', $(this).prop("checked"));
				});
			</script>
		</div>

	<% end %>

<% end %>

