<% if(!@staff.blank?) %>
	<% if(@staff.role == "Teacher") %>
		<div class="new-staff-step-2-form-div" style="max-width:600px;margin:0 auto;">

			<%= form_tag add_new_staff_institute_path(@institute), method: :post, multipart: true, remote: true, id: "students-staff-details-form" do %>
				<%= hidden_field_tag :step, 2 %>
				<%= hidden_field_tag :staff_id, @staff.id %>

				<h1 class="nothing-posted" style="margin-top:70px;"> Select <%= @staff.first_name %>'s' ClassTeacher Section </h1>
				<div class="form-inline form-inline-select">
					<div class="form-group">
						<% if(!@grades.blank?) %>
							<% options = [["Select Class", ""]] %>
							<% @grades.each do |grade| %>
								<% options << ["#{grade.custom_name_for_institute(@institute)}", grade.id] %>
							<% end %>
							<%= select_tag :classteacher_grade_id, options_for_select(options, ["Select Class", ""]), class:"form-control" %>
						<% end %>
					</div>	
					<div class="form-group">
						<% if(!@sections.blank?) %>
							<% options = [["Select Section", ""]] %>
							<% @sections.each do |section| %>
								<% options << ["Section #{section.section_name}", section.id] %>
							<% end %>
							<%= select_tag :classteacher_section_id, options_for_select(options, ["Select Section", ""]), class:"form-control" %>
						<% end %>
					</div>
				</div>
				<h1 class="nothing-posted"> Select subjects and classes of <%= @staff.first_name %></h1>
	
				<div class="teachers-grades-div text-left teachers-grades-div-circle">
					<% @grades.each do |grade| %>
						<div class="main-grade">
							<ul class="detectul">
								<span class="add-class-checkbox"></span>
								<li class="listitems"> 
									<div class="checkbox">
										<label for="teachers-grades-division-<%= grade.id %>" class="grades-division">
											<%= check_box_tag "grade_names[]", grade.grade_name, false, { class: "checkbox teachers-grade-names-input", id:"teachers-grades-division-#{grade.id}"} %>
											<span>Grade <%= grade.custom_name_for_institute(@institute) %></span>											
										</label>	
									</div>
								</li>
							</ul>									
							<div class="division-criterias" style="display:none;">
								<div class="division-section">
									<span class="text-muted division-criteria-style division-criteria-subject-style">All Sections: </span>
									<input type="checkbox" name="subject-selector" class="all-sections" id="teachers-all-sections"/>
									
									<div class="division-upper-sections">	

										<% Section.all.each do |section| %>
											<%= check_box_tag "grades[#{grade.grade_name}][section_names][]", section.section_name, false, {"data-role" => "none", class: "grade-section-names-input"} %>
											<span> <%= section.section_name %></span>
										<% end %>
									</div>
								</div>
								
								<div class="division-subjects">	
									<span class="text-muted division-criteria-style division-criteria-subject-style">All subjects: </span>
									<input type="checkbox" name="subject-selector" class="teachers-all-subjects" id="teachers-all-subjects"/>
									
									<div class="division-upper-subjects">	
										<% Subject.all.each do |subject| %>		
											<label for="grade-subject-names-input-<%= subject.subject_name %>-<%= grade.id %>" class="labelForSubjects">
												<div class="division-inner-subjects">											
													<%= check_box_tag "grades[#{grade.grade_name}][subject_names][]", subject.subject_name, false, {"data-role" => "none", class: "grade-subject-names-input grade-subject-names-input-#{subject.subject_name}", id: "grade-subject-names-input-#{subject.subject_name}-#{grade.id}"} %>
													<span><%= subject.subject_name %></span>
												</div>		
											</label>
										<% end %>
									</div>								
								</div>	
							</div>
						</div>
					<% end %>
				</div>
				<div class="clearfix"></div>
				<div style="margin-bottom:70px">
					<div class="text-center col-md-6 col-md-offset-3">
						<div class="form-group form-button-register">
							<%= button_tag(type:"submit", class: "form-control btn btn-login", data: {disable_with: "Saving..."}) do %>
								Save
							<% end %>
						</div>
					</div>
				</div>
			<% end %>

			<script type="text/javascript">
				$(document).on('change','.teachers-grade-names-input',function(){
					if($(this).is(':checked')) {
						$(this).parents(".main-grade").find(".division-criterias").slideDown();
						$(this).parents("ul.detectCircle-ul").addClass("detectCircle-ul-background");
						$(this).parents("ul.detectCircle-ul").find(".add-class-checkbox").addClass("detectCircle-ul-background-checkbox");
					} else {
						$(this).parents(".main-grade").find(".division-criterias").slideUp();						
						$(this).parents("ul.detectCircle-ul").removeClass("detectCircle-ul-background");
						$(this).parents("ul.detectCircle-ul").find(".add-class-checkbox").removeClass("detectCircle-ul-background-checkbox");
					}
				});
				$(".teachers-all-subjects").change(function (e) {
					$(this).parents(".main-grade").find(".division-upper-subjects input:checkbox").prop('checked', $(this).prop("checked"));
					e.preventDefault();
				});

				$(".all-sections").change(function(e){
					$(this).parents(".main-grade").find(".division-upper-sections input:checkbox").prop('checked', $(this).prop("checked"));
				});
			</script>
		</div>

	<% end %>

<% end %>

