<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>Add Student</a>
<% end %>
<div style="margin-top: 50px"> </div>

<%= form_tag add_new_student_institute_path(@institute), method: :post, multipart: true, remote: true do %>
	<div class="col-md-3 text-center">
		<div id="user-profile-picture-target">
			<div id="user-profile-picture-inner-target" class="user-profile-picture-inner-target">
				<%= image_tag "default_profile_picture.png", class: "img-circle" %>
			</div>	
			<label class="file-label" for="profile-pic-uploadBtn">
				<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
				<%= file_field_tag :profile_picture, :id=>"profile-pic-uploadBtn" %>
			</label>
		</div>
	</div>
	<%= text_field_tag :first_name, nil, placeholder: "First Name", required: true %>
	<%= text_field_tag :last_name, nil, placeholder: "Last Name", required: true %>
	<br>
	<%= email_field_tag :email, nil, placeholder: "Email Address (Optional)" %>
	<br>
	<%= number_field_tag :mobile_no, nil, placeholder: "Mobile No (Optional)" %>
	<br>
	<%= select_tag :gender, options_for_select([["Gender", ""], ["Male", "male"], ["Female", "female"]], ["Gender", ""]), required: true %>
	<br>
	<%= date_field_tag :date_of_birth, Time.now, required: true %>
	<br>
	<%= text_field_tag :address, nil, placeholder: "Address", required: true %>
	<br>
	<%= number_field_tag :pincode, nil, placeholder: "Pin Code", required: true %>
	<br>
	<% if(!@grades.blank?) %>
		<% options = [["Select Class", ""]] %>
		<% @grades.each do |grade| %>
			<% options << ["Class #{grade.grade_name}", grade.id] %>
		<% end %>
		<%= select_tag :grade_id, options_for_select(options, ["Select Class", ""]), required: true %>
	<% end %>
	<% if(!@sections.blank?) %>
		<% options = [["Select Section", ""]] %>
		<% @sections.each do |section| %>
			<% options << ["Section #{section.section_name}", section.id] %>
		<% end %>
		<%= select_tag :section_id, options_for_select(options, ["Select Section", ""]), required: true %>
	<% end %>
	<br>
	<%= number_field_tag :roll_no, nil, placeholder: "Admission No", required: true %>
	<br>
	
	Is using School Transport <%= check_box_tag :is_using_transport, true, false, required: true  %> 
	<br>
	Father's Details: <br>
	<%= text_field_tag :father_first_name, nil, placeholder: "Father's First Name", required: true %>
	<%= text_field_tag :father_last_name, nil, placeholder: "Father's Last Name", required: true %>
	<br>
	<%= email_field_tag :father_email, nil, placeholder: "Father's Email Address (Optional)" %>
	<br>
	<%= number_field_tag :father_mobile_no, nil, placeholder: "Father's Mobile No", required: true %>
	<br>
	Mother's Details: <br>
	<%= text_field_tag :mother_first_name, nil, placeholder: "Mother's First Name", required: true %>
	<%= text_field_tag :mother_last_name, nil, placeholder: "Mother's Last Name", required: true %>
	<br>
	<%= email_field_tag :mother_email, nil, placeholder: "Mother's Email Address (Optional)" %>
	<br>
	<%= number_field_tag :mother_mobile_no, nil, placeholder: "Mother's Mobile No", required: true %>
	<br>
	<%= submit_tag :Save, disable_with: "Saving" %>

<% end %>