<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/">
		<i class="material-icons">&#xE88A;</i>			
	</a>
	<% if(current_user.role.include?("Institute Admin") or current_user.role.include?("Principal")) %>
		Manage Institute
	<% else %>
		My Institute
	<% end %>
<% end %>

<div class="container-width classRoute tabs-container" style="margin-top:50px; margin-bottom: 0;">
	<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#all-admins">Admins</a></li>
		<li><a data-toggle="tab" href="#all-principals">Principals</a></li>
		<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<li><a data-toggle="tab" href="#all-students">Students</a></li>	
			<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
		<% end %>
		<li><a data-toggle="tab" href="#all-classes">Classes</a></li>
	</ul>
	<div class="tab-content" style="max-width: 600px; margin: 0 auto; margin-bottom: 70px">
		<div class="tab-pane active" id="all-admins" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<form onsubmit="return false;" class="search-form-main">
					<div class="pull-left form-group has-feedback" style="width:100%;margin-top: 8px;">
						<input type="text" class="form-control search-conversation-admin-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
					</div>
				</form>
				<div class="max-width-button">
					<%= link_to give_admin_right_institute_path(@institute) do %>
						<div class="pull-right add-member">
							<span>Give Admin Rights</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
					<%= link_to add_new_staff_institute_path(@institute, role: "Institute Admin") do %>
						<div class="pull-right add-member">
							<span>Add Admin</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				</div>	

				<%= link_to revoke_admin_right_institute_path(@institute) do %>
					<div class="pull-right add-member add-revoke-rights">
						<span>Revoke Admin Rights</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				
			<% end %>
			<div class="clearfix mar-btm"></div>
			
			<% if(!@admins.blank?) %>
				<div class="admin-manage-page">
					<% @admins.each do |admin| %>
						<%= render partial: "conversations/contact", locals: {contact: admin}	 %>	
					<% end %>
				</div>	
			<% else %>	
				<h1 class="nothing-posted"> No Admins added yet ! </h1>		
			<% end %>
		</div>
		<div class="tab-pane" id="all-principals" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<%= link_to add_new_staff_institute_path(@institute, role: "Principal") do %>
					<div class="pull-right add-member">
						<span>Add Principal</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
			<% end %>
			<div class="clearfix mar-btm"></div>
			<% if(!@principals.blank?) %>
				<% @principals.each do |principal| %>
					<%= render partial: "conversations/contact", locals: {contact: principal}	 %>	
				<% end %>
			<% else %>	
				<h1 class="nothing-posted"> No Principals added yet ! </h1>			
			<% end %>
		</div>

		<div class="tab-pane" id="all-teachers" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<form onsubmit="return false;" class="search-form-main">
					<div class="pull-left form-group has-feedback" style="margin-top: 8px;">
						<input type="text" class="form-control search-conversation-teacher-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
					</div>
				</form>
				<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
					<div class="pull-right add-member">
						<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
			<% end %>
			<div class="clearfix mar-btm"></div>
			<% if(!@teachers.blank?) %>
				<div class="teacher-manage-page">
					<% @teachers.each do |contact| %>
						<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
					<% end %>
				</div>	
			<% else %>	
				<h1 class="nothing-posted"> No Teachers added yet ! </h1>			
			<% end %>
		</div>

		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<div class="tab-pane" id="all-students" style="max-height: 100%;">
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<form onsubmit="return false;" class="search-form-main">
						<div class="pull-left form-group has-feedback" style="margin-top: 8px;">
							<input type="text" class="form-control search-conversation-student-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
						</div>
					</form>
					<%= link_to add_new_student_institute_path(@institute) do %>
						<div class="pull-right add-member">
							<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<% if(!@students.blank?) %>
					<div class="student-manage-page">
						<% @students.each do |contact| %>
							<%= render partial: "conversations/contact", locals: {contact: contact} %>		
						<% end %>
					</div>	
				<% else %>	
					<h1 class="nothing-posted"> No Students added yet ! </h1>				
				<% end %>		

			</div>

			<div class="tab-pane" id="all-parents" style="max-height: 100%;">
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<form onsubmit="return false;" class="search-form-main">
						<div class="pull-left form-group has-feedback" style="margin-top: 8px;">
							<input type="text" class="form-control search-conversation-parent-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
						</div>
					</form>
					<%= link_to add_new_parent_institute_path(@institute) do %>
						<div class="pull-right add-member">
							<span>Add Parent</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<% if(!@parents.blank?) %>
					<div class="parent-manage-page">
						<% @parents.each do |contact| %>
							<%= render partial: "conversations/contact", locals: {contact: contact} %>		
						<% end %>
					</div>	
				<% else %>	
					<h1 class="nothing-posted"> No Parents added yet ! </h1>				
				<% end %>
			</div>
			
		<% end %>

		<div class="tab-pane" id="all-classes" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<%= link_to new_institute_grade_path(@institute) do %>
					<div class="pull-right add-member">
						<span>Add Classes</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				<div class="clearfix mar-btm"></div>	
			<% end %>
			
			<ul class="list-unstyled list-inline text-center">
				<% if(!@grades.blank?) %>
					<% @grades.each do |grade| %>
						<% grade_section_models = grade.grades_sections.where(institute_id: @institute.id) %>
						<% grades_sections_members_models = grade.grades_sections_members_models.where(institute_id: @institute.id) %>
						<% teachers_count =  grades_sections_members_models.where(member_role: "Teacher").map(&:member).uniq.count%>
						<% students_count =  grades_sections_members_models.where(member_role: "Student").map(&:member).uniq.count%>
						<% parents_count =  grades_sections_members_models.where(member_role: "Parent").map(&:member).uniq.count%>

						<li>
							<div class="ch-item">	
								<div class="ch-info">
									<h3><%= teachers_count %> Teachers</h3>
									
									<p><%= students_count %> Students<br><%= parents_count %> Parents<a href="<%= institute_grade_path(@institute, grade) %>"><%= grade.grade_name %></a></p>
								</div>
								<div class="ch-thumb">
									<span>Class <%= grade.grade_name %></span>
									<span><%= grade_section_models.count %> Sections</span>
								</div>
							</div>
							<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_path(@institute, grade) do %>Go To Class <%= grade.grade_name %><% end %></button>
						</li>
						
					<% end %>

				<% else %>
					<div class="clearfix"></div>	
					<h1 class="nothing-posted"> No Classes added yet ! </h1>					
				<% end %>
				
			</ul>
		</div>
	</div>
</div>			
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
    
	$(document).one("turbolinks:load", function(){
		$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
		
	});
	$('.search-conversation-admin-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".admin-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".admin-manage-page li").show();
	    }    
	});
	$('.search-conversation-teacher-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".teacher-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ) {					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".teacher-manage-page li").show();
	    }    
	});
	$('.search-conversation-student-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".student-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".student-manage-page li").show();
	    }    
	});
	$('.search-conversation-parent-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".parent-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".parent-manage-page li").show();
	    }    
	});
</script>