<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/">
		<i class="material-icons">&#xE88A;</i>			
	</a>
	<% if(current_user.role.include?("Institute Admin") or current_user.role.include?("Principal")) %>
		Manage Institute
	<% else %>
		My Institute
	<% end %>
<% end %>

<div class="container-width classRoute tabs-container" style="margin-top:50px; margin-bottom: 0;">
	<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#all-admins">Admins</a></li>
		<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<li><a data-toggle="tab" href="#all-students">Students</a></li>	
		<% end %>
		<li><a data-toggle="tab" href="#all-classes">Classes</a></li>
	</ul>
	<div class="tab-content" style="max-width: 600px; margin: 0 auto; margin-bottom: 70px">
		<div class="tab-pane active" id="all-admins" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				
				<div class="max-width-button">
					<%= link_to give_admin_right_institute_path(@institute) do %>
						<div class="pull-right add-member">
							<span>Give Admin Rights</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
					<%= link_to add_new_staff_institute_path(@institute, role: "Institute Admin") do %>
						<div class="pull-right add-member">
							<span>Add Admin</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				</div>	

				<%= link_to revoke_admin_right_institute_path(@institute) do %>
					<div class="pull-right add-member add-revoke-rights">
						<span>Revoke Admin Rights</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				<form onsubmit="return false;" class="search-form-main">
					<div class="pull-left form-group has-feedback" style="width:100%;margin-top: 8px;">
						<input type="text" class="form-control search-conversation-admin-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
					</div>
				</form>
			<% end %>
			<div class="clearfix mar-btm"></div>
			
			<% if(!@admins.blank?) %>
				<div class="admin-manage-page">
					<% @admins.each do |admin| %>
						<%= render partial: "conversations/contact", locals: {contact: admin}	 %>	
					<% end %>
				</div>	
			<% else %>	
				<h1 class="nothing-posted"> No Admins added yet ! </h1>		
			<% end %>
		</div>
	
		<div class="tab-pane" id="all-teachers" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				
				<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
					<div class="pull-right add-member">
						<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				<div class="clearfix"></div>
				<form onsubmit="return false;" class="search-form-main">
					<div class="pull-left form-group has-feedback" style="margin-top: 8px; width: 100%;">
						<input type="text" class="form-control search-conversation-teacher-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
					</div>
				</form>
			<% end %>
			<div class="clearfix mar-btm"></div>
			<% if(!@teachers.blank?) %>
				<div class="teacher-manage-page">
					<% @teachers.each do |contact| %>
						<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
					<% end %>
				</div>	
			<% else %>	
				<h1 class="nothing-posted"> No Teachers added yet ! </h1>			
			<% end %>
		</div>

		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<div class="tab-pane" id="all-students" style="max-height: 100%;">
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					
					<%= link_to add_new_student_institute_path(@institute) do %>
						<div class="pull-right add-member">
							<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
					<div class="clearfix"></div>
					<form onsubmit="return false;" class="search-form-main">
						<div class="pull-left form-group has-feedback" style="width: 100%;margin-top: 8px;">
							<input type="text" class="form-control search-conversation-student-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
						</div>
					</form>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<ul class="list-unstyled index-conversation-modal">
					<% if(!@institutes_grades_sections_models.blank?) %>
						<% @institutes_grades_sections_models.each do |grade_section_model|%>
							<% grade = grade_section_model.grade %>
							<% section = grade_section_model.section %>
							<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Student"]) %>
							<li class="find-teacher-list find-tab-teacher-list" style="margin-bottom:10px;position:relative;">
								
								<h6 class="teachers-list-heading-inner" style="background: #d1cece;margin: 0;padding: 10px; color: #dd223d;">
									Class <%= grade.grade_name + section.section_name %>																		
									<i class="material-icons arrow-up-icon pull-right" style="margin-top:-5px;">&#xE316;</i>
								</h6>
								<div class="container-width classRoute class-tab-students-list-custom" style="display: none; box-shadow:rgb(175, 172, 172) 1px 1px 10px;margin-bottom:10px;">
									
									<ul class="list-unstyled index-conversation-modal student-manage-page" style="box-shadow: none;    max-height: 200px !important;">
										<% if(!students.blank?) %>
											<% students.each do |student| %>
												<% if(student.id != current_user.id) %>
													<li>
															
														<%= render partial: "conversations/contact", locals: {contact: student} %>
															
													</li>
												<% end %>	
											<% end %>
										<% else %>
											<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
												<%= link_to add_new_student_institute_path(@institute, role: "Teacher") do %>
													<div class="pull-right add-member">
														<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
													</div>
												<% end %>
												<div class="clearfix"></div>
												<h1 class="nothing-posted"> No Students added yet ! </h1>	
											<% end %>
											
										<% end %>															
									</ul>
								</div>
							</li>
						<% end %>
					<% end %>				
				</ul>

			</div>
			
		<% end %>

		<div class="tab-pane" id="all-classes" style="max-height: 100%;">
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<%= link_to new_institute_grade_path(@institute) do %>
					<div class="pull-right add-member">
						<span>Add Classes</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				<div class="clearfix mar-btm"></div>	
			<% end %>
			
			<ul class="list-unstyled">
				<% if(!@grades.blank?) %>
					<% @grades.each do |grade| %>
						<li class="find-teacher-list find-tab-teacher-list" style="margin-bottom:10px;position:relative;">
								
							<h6 class="teachers-list-heading-inner" style="background: #d1cece;margin: 0;padding: 10px; color: #dd223d;">
								Class <%= grade.grade_name %>																		
								<i class="material-icons arrow-up-icon pull-right" style="margin-top:-5px;">&#xE316;</i>
							</h6>

							<div class="container-width classRoute class-tab-students-list-custom" style="display: none; box-shadow:rgb(175, 172, 172) 1px 1px 10px;margin-bottom:10px; padding: 4px;">
								
								<ul class="list-unstyled index-conversation-modal student-manage-page" style="box-shadow: none;    max-height: 200px !important;overflow: scroll;">
									<% sections = grade.grades_sections.where(institute_id: @institute.id).map(&:section) %>
									<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
										<%= link_to new_institute_grade_section_path(@institute, grade) do %>
											<div class="pull-right add-member">
												<span>Add Section</span><i class="material-icons">&#xE7FE;</i>
											</div>
										<% end %>
										<div class="clearfix"></div>	
									<% end %>
									
									<% if(!sections.blank?) %>
										<% sections.each do |section| %>
											<li class="link-button">
												<%= link_to "Section #{section.section_name}", institute_grade_section_path(@institute, grade, section) %>
											</li>
										<% end %>
									<% else %>
										
										<div class="clearfix mar-btm"></div>	
										<h1 class="nothing-posted"> No Section added yet ! </h1>					
									<% end %>
								</ul>	
							</div>
						</li>		
					
					<% end %>

				<% else %>
					<div class="clearfix"></div>	
					<h1 class="nothing-posted"> No Classes added yet ! </h1>					
				<% end %>
				
			</ul>
		</div>
	</div>
</div>			
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
    
	$(document).one("turbolinks:load", function(){
		$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
		
	});
	$('.search-conversation-admin-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".admin-manage-page").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".admin-manage-page").show();
	    }    
	});
	$('.search-conversation-teacher-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".teacher-manage-page").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ) {					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".teacher-manage-page").show();
	    }    
	});
	$('.search-conversation-student-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".student-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){	
					if($(this).parents('.class-tab-students-list-custom').css("display") == "none"){
						$(this).parents('.class-tab-students-list-custom').css("display", "block");
					}				
					return true;
				}else{
					if($(this).parents('.class-tab-students-list-custom').css("display") == "block"){
						$(this).parents('.class-tab-students-list-custom').css("display", "none");
					}
					return false;
				}			    
			}).show();
	    }else{
	    	$(".student-manage-page li").show();
	    }    
	});
	
</script>