<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/institutes/<%= @institute.id %>/notices"><i class="material-icons">&#xE317;</i> Edit Notice</a>
<% end %>
<div class="container classRoute">
	<div class="sticky-notes-new">
		<%= form_tag institute_notice_path(@institute, @notice), method: :patch, remote: true do %>
			<span class="edit-notices-form-title"><%= @institute.institute_name %></span><br>
			<% @grade_section_models.each do |grade_section_model| %>
				<span class="edit-notices-form-field">Class <%= grade_section_model.grade.grade_name %> <%= grade_section_model.section.section_name %> ,</span>
			<% end %>
			<div class="form-group">
				<%= text_field_tag :title, @notice.title, placeholder: "Notice Heading", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= text_area_tag :description, @notice.description, placeholder: "Notice Text", class: "form-control" %>
			</div>
			<div class="col-sm-12 col-xs-12">
				<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
			</div>
		<% end %>
	
	</div>
</div>	


<script type="text/javascript">
	$(".event-institute-input").change(function(){
		$("#all-sections-checkbox").show();
		$("<span>Send to all Classes?</span>").insertAfter("#all-sections-checkbox");
		instituteId = $(this).val();
		$(".event-institute-grade-section-select-div").hide();
		$(".event-institute-grade-section-select-div[data-institute-id='" + instituteId + "']").show();

		
	});

	$("#all-sections-checkbox").change(function(){
		$(".grade-section-checkbox-input").prop("checked", $(this).prop("checked"));
	});
	if (window.location.href.indexOf("notices") > -1) {
		$('body').css('background-color', 'rgb(188, 214, 224)');
	}
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
</script>