<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="<%= institute_notices_path(@institute) %>"><i class="material-icons">&#xE317;</i></a>
<% end %>
<div class="classRoute" style="margin-top:50px;">
	<div class="container">
		<div class="sticky-notes-new">
		<%= form_tag institute_notices_path(@institute), method: :post, remote: true do %>
			
			<div class="institute-select-div">
				
				<div class="all-classes" style="display: none">
					<input type="checkbox" name="all_sections" id="all-sections-checkbox">		
				</div>	
				<div class="all-classes-sections">
					<% @institutes.each do |institute| %>
						<div class="event-institute-grade-section-select-div" data-institute-id="<%= institute.id %>" style="display: none">
							<% institute_grade_section_models = institute.institutes_grades_sections_models %>
							Select Classes:
							<% institute_grade_section_models.each do |grade_section| %>
								<%= check_box_tag "grade_section_ids[]", grade_section.id, false, class:"grade-section-checkbox-input"  %> Class <%= grade_section.grade.grade_name %> <%= grade_section.section.section_name %>
							<% end %>
						</div>
					<% end %>
				</div>	
			</div>

			<div class="form-group">
				<%= text_field_tag :title, nil, placeholder: "Notice Heading", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= text_area_tag :description, nil, placeholder: "Notice Text", class: "form-control" %>
			</div>
			<div class="col-sm-12 col-xs-12">
				<button type="submit" class="btn btn-success" style="width: 100%;"> Save </button>
			</div>
		<% end %>
		</div>	
	</div>	
</div>
<script type="text/javascript">
	$(".event-institute-input").change(function(){
		$(".all-classes").show();
		$("<span>Send to all Classes?</span>").insertBefore("#all-sections-checkbox");
		instituteId = $(this).val();
		$(".event-institute-grade-section-select-div").hide();
		$(".event-institute-grade-section-select-div[data-institute-id='" + instituteId + "']").show();

		
	});

	$("#all-sections-checkbox").change(function(){
		$(".grade-section-checkbox-input").prop("checked", $(this).prop("checked"));
	});
	if (window.location.href.indexOf("notices") > -1) {
		$('body').css('background-color', '#2ad');
	}
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
</script>