<div class="well well-sm">
	<div class="media jumbotron-media">
		<div class="media-left media-middle">
			<a href="users/<%= contact.id %>">
				<img src="<%= contact.profile_picture.media.url(:thumb) %>" class="img-rounded img-media">
			</a>
		</div>
		<div class="media-body media-middle">
			<h4 class="media-heading"><%= contact.first_name %></h4>
			<p><%= contact.details %></p>
			
			<span class="pull-right">
				<%= link_to conversations_path(participant_ids: [contact.id], conversation_id:"#{params[:conversation_id]}"), method: :post do %>
					<i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i>
				<% end %>	
			</span>
		</div>				
	</div>
</div>