<div class="well well-sm">
	<div class="media jumbotron-media">
		<div class="media-left media-middle">
			
			<img src="<%= contact.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
			
		</div>
		<div class="media-body media-middle">
			<h5 class="media-heading student-name-in-message"><%= contact.first_name %> <%= contact.last_name %></h5>
			<small><%= contact.details %></small>
			<div class="pull-right">
				<span>
					<%= link_to user_path(contact) do %>
						<i class="material-icons" style="color: #ea5b31;">face</i>
					<% end %>	
				</span>
				<% if(current_user.id != contact.id) %>
					<span>
						<%= link_to conversations_path(participant_ids: [contact.id], conversation_id:"#{params[:conversation_id]}"), method: :post do %>
							<i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i>
						<% end %>	
					</span>
				<% end %>
				
			</div>
			
		</div>				
	</div>
</div>