<div class="well well-sm">
	
		<div class="media jumbotron-media">
			<div class="media-left media-middle">
				
				<img src="<%= contact.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
				
			</div>
			<div class="media-body media-middle">
				<h5 class="media-heading student-name-in-message"><%= contact.first_name %> <%= contact.last_name %></h5>

				<small class="role-small"><%= contact.details %> <%= ", #{contact.roll_no}" if !contact.roll_no.blank? %></small>
				
			</div>				
		</div>
		
	

	<div class="media jumbotron-media" style="width: 38%; display: inline-block; vertical-align: middle;">
		<% if(!contact.father_id.blank?) %>
			<% father = contact.father %>
				<div class="media-body media-middle parent-media">
					<h5 class="media-heading student-name-in-message"><%= contact.first_name %> <%= contact.last_name %> ( Father )</h5>


					
				</div>	
				
			
		<% end %>
		<br>
		<% if(!contact.mother_id.blank?) %>
			<% mother = contact.mother %>
				<div class="media-body media-middle parent-media">
					<h5 class="media-heading student-name-in-message"><%= mother.first_name %> <%= mother.last_name %> ( Mother )</h5>

					
					
				</div>
				
			
		<% end %>
		
		
	</div>
	
	
</div>
