<%= link_to user_path(contact) do %>
	<div class="well well-sm">
	
		<div class="media jumbotron-media">
			<div class="media-left media-middle">
				
				<img src="<%= contact.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
				
			</div>
			<div class="media-body media-middle">
				<h5 class="media-heading student-name-in-message"><%= contact.first_name %> <%= contact.last_name %></h5>

				<small class="role-small"><%= contact.details %></small>
				
			</div>				
		</div>
		
	</div>

<% end %>
