<div class="media main-media">
	<div class="media-left">
		<a href="<%= conversation.get_url_for_banner_image_for_user(current_user) %>">
			<img src="<%= conversation.get_conversation_image_url_to_show_to_user(current_user, :thumb) %>" class="img-circle img-xs">
		</a>
	</div>
	<div class="media-body media-middle">
		<h4 class="media-heading text-muted"><%= conversation.get_conversation_name_to_show_to_user(current_user).truncate(25) %><span class="pull-right"><%= get_am_pm_time(conversation.updated_at) %></span>
		</h4>

		<% if(!conversation.last_message.blank?) %>
			<% if(!conversation.last_message.attachments.blank?) %>
				<p>New <%= conversation.last_message.category %></p>
			<% end %>
			<p><%= conversation.last_message.content if !conversation.last_message.content.blank? %></p>	
		<% else %>
			<p> Send first message </p>
		<% end %>

		<% if(!conversation.last_message.blank?) %>
			<span class="pull-left"><%= conversation.last_message.message_creator.first_name %></span>
		<% else %>

		<% end %>
		
		
		<span class="pull-right"><%= link_to conversation_path(conversation) do %>More<% end %></span>
	</div>
	
</div>
