<div class="media mar-btm open-contact-on-click-element-parent conversation-small" data-conversation-id="<%= conversation.id %>">
	<div class="media-left media-middle open-contact-on-click-element">
		<img src ="<%= conversation.get_conversation_image_url_to_show_to_user(current_user, :thumb) %>" class="media-object img-circle <%= conversation.id %>" >
		
		<% unread_messages_no = 0 %>
		<% conversation_participant_model = conversation.get_conversation_participant_model_for_participant(user) %>
		<% unread_received_messages = conversation.messages.where("is_seen_by_all_participants != ? and created_at > ? and creator_id != ?", true, conversation_participant_model.created_at, user.id) %>
		<% unread_received_messages.each do |message| %>
			<% seen_user_ids_array = message.seen_user_ids.split(", ").map{|id| id.to_i}.uniq %>
			<% if(!seen_user_ids_array.include?(user.id)) %>
				<% unread_messages_no = unread_messages_no + 1 %>
			<% end %>
		<% end %>
		
		<% if(unread_messages_no > 0) %>
			<span class="dot-unread dot-unread-inner conversation-small-dot" style="display:inline-block;"><%= unread_messages_no %></span>
		<% else %>
			<span class="dot-unread dot-unread-inner conversation-small-dot" style="display: none;">0</span>
		<% end %>
		
		
	</div>
	
	<div class="media-body media-middle next-page-link" style="position: relative;" data-request-type="GET" data-next-page-link-address="<%=conversation_path(conversation) %>" >

		<h4 class="media-heading"><span class="media-heading-content"> <%= conversation.get_conversation_name_to_show_to_user(current_user).truncate(25) %></span></h4>
		<p class="text-muted">
			<% if (!conversation.last_message.blank? and conversation.last_message.category != "Chat_Request" and conversation.last_message.category != "Request_Acceptance")%>
				<% if(!conversation.last_message.content.blank?) %>
					<%= conversation.last_message.message_creator.first_name %>: <%= conversation.last_message.content.truncate(25) if !conversation.last_message.blank? %>
				<% end %>
				
			<% else %>
				<% if(!conversation.last_message.blank? and conversation.last_message.category != "Chat_Request" and conversation.last_message.category != "Request_Acceptance") %>
					Send your first message.
				<% end %>	
			<% end %>
		</p>

		<p class="text-muted">
			<% if(!conversation.last_message.blank?) %>
				<% if(!conversation.last_message.attachments.blank?) %>
					<%= conversation.last_message.message_creator.first_name %>: New <%= conversation.last_message.category %>
				<% end %>
				<small class="pull-right text-muted time-shown">
					 <%= show_human_time(conversation.last_message.created_at) if !conversation.last_message.blank? %>
				</small>	
			<% end %>
			
		</p>

	</div>
	<div class="icon-short-profile-modal-main-div"  style="display:none;">
		<ul class="icon-short-profile-modal list-inline display_inline text-center">
			<li>
				<%= link_to conversation_path(conversation) do %>
					<i class="material-icons">&#xE0C9;</i>
				<% end %>				
			</li>
			<li>
				<% if(conversation.conversation_name.blank?) %>
					<%= link_to user_path(conversation.other_participants(current_user).first) do %><i class="material-icons">&#xE89E;</i><% end %>
						
				<% else %>
					<%= link_to edit_conversation_path(conversation) do %><i class="material-icons">&#xE89E;</i><% end %>
					
				<% end %>
				
			</li>

		</ul>
	</div>	
</div>
