$(".message-category").val("");
$("<li><a data-toggle='tab' href='#all-<%= params[:message_category] %>' data-message-category-input-id='#<%= params[:message_category] %>-message-category-input'><%= params[:message_category] %></a></li>").insertBefore("li.custom-events");
var tabMarkup = [
	'<div id="all-<%= params[:message_category] %>" class="tab-pane">',		
		'<ul class="list-unstyled media-block messages <%= params[:message_category] %>-category-messages">',
			
		'</ul>',
	'</div>'	
]

var attachmentMarkup = [
	'<li id="<%= params[:message_category] %>-attachment-li">',
		'<div class="inner-list">',
			'<label for="<%= params[:message_category] %>-attachment-category-input" class="radio">',
				'<input type="radio" id="<%= params[:message_category] %>-attachment-category-input" name="attachment_category" value="<%= params[:message_category] %>">',
				'<i class="material-icons">&#xE80C;</i>',
				'<br>',
				'<span><%= params[:message_category] %></span>',
			'</label>',
		'</div>',
	'</li>'	
]
$(".chat-show-tabs-upper-div").find("li").removeClass("active").find("a").attr("aria-expanded", false);
$(".admin-home-content").find("div[id^=all]").removeClass("active");
var tabMarkupJoin = $(tabMarkup.join(''));
tabMarkupJoin.insertBefore("div#all-custom-events");
$('a[href="#all-<%= params[:message_category] %>"]').parents("li").addClass("active").find("a").attr("aria-expanded", true);
$('div[id="all-<%= params[:message_category] %>"]').addClass("active");
$(attachmentMarkup.join('')).insertBefore("li.attachment-custom-label");
$(".message-categories-div").append('<%= radio_button_tag :message_category, params[:message_category], false, id: "#{params[:message_category]}-message-category-input" %>');

$("#all-custom-events").find(".append-categories-tab-content").append('<li class="<%= params[:message_category] %>-Message-category-remove-link-li"><%= link_to delete_message_category_conversation_path(@conversation, message_category: params[:message_category]), method: :delete,id:"#{params[:message_category]}-new-category-name", remote: true do %><button type="button" class="btn btn-success-custom btn-success btn-block new-category-name"><span><%= params[:message_category] %> </span><span class="close-icon">&times;</span></button><% end %>');
