<% content_for :heading do %>
	Admin DashBoard
<% end %>
	
	<div id="dayPlanModal" class="modal fade modal-calender" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Create or Update Day Plan</h4>
		  </div>
		  <div class="modal-body">
			<p></p>
		  </div>
		</div>
	  </div>
	</div>
	
	<div class="container-width classRoute tabs-container conversation-big" style="margin-top:50px;">
		
			<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist" style="position:fixed;z-index:5;left:0;right:0;">		
				<li class="active"><a data-toggle="tab" href="#all-messages">Messages</a>
					<% if(!@unread_conversation_ids_array.blank?) %>
						<% if(@unread_conversation_ids_array.length > 0) %>
							<span class="dot-unread unread-conversation-no dot-unread-position" style="display: inline-block;"> <%= @unread_conversation_ids_array.length %> </span> 
						<% else %>
							<span class="dot-unread unread-conversation-no dot-unread-position" style="display: none;">0</span>
						<% end %>
						<span class="unread-conversation-ids" style="display: none;"><%= @unread_conversation_ids_array.join(", ") %></span>	
					<% else %>
						<span class="dot-unread unread-conversation-no dot-unread-position" style="display: none;">0</span>
						<span class="unread-conversation-ids" style="display: none;">""</span>	
					<% end %> 
				</li>
				
				<li><a data-toggle="tab" href="#all-classes">Classes</a></li>
				
				<li><a data-toggle="tab" href="#all-staff">Staff</a></li>
				
				<li><a data-toggle="tab" href="#all-dayplan">Day Plan</a></li>
				
				
			</ul>
			<div class="clearfix"></div>


			<div class="tab-content admin-home-content admin-index-main" style="max-width:600px;margin:0 auto;margin-top:40px;">
				<div class="tab-pane active" id="all-messages">
					
					<div class="classRoute" style="margin-bottom:0;">
						<ul class="nav nav-tabs text-center" role="tablist" id="tablist" style="background:#98c2d2;">		
							<li class="active" style="width:33.33%;"><a data-toggle="tab" href="#all-inbox-messages">Inbox
								<% if(!@unread_conversation_ids_array.blank?) %>
									<% if(@unread_conversation_ids_array.length > 0) %>
										<span class="dot-unread unread-conversation-no" style="display: inline-block;"> <%= @unread_conversation_ids_array.length %> </span> 
									<% else %>
										<span class="dot-unread unread-conversation-no" style="display: none;">0</span>
									<% end %>
									<span class="unread-conversation-ids" style="display: none;"><%= @unread_conversation_ids_array.join(", ") %></span>	
								<% else %>
									<span class="dot-unread unread-conversation-no" style="display: none;">0</span>
									<span class="unread-conversation-ids" style="display: none;">""</span>	
								<% end %> 
							</a></li>
							<li style="width:33.33%;"><a data-toggle="tab" href="#all-sent-messages">Sent</a></li>
							<li style="width:33.33%;">
								<a data-toggle="tab" href="#all-group-messages">Groups
									<% if(!@unread_group_conversation_ids_array.blank?) %>
										<% if(@unread_group_conversation_ids_array.length > 0) %>
											<span class="dot-unread unread-group-conversation-no" style="display: inline-block;"> <%= @unread_group_conversation_ids_array.length %> </span> 
										<% else %>
											<span class="dot-unread unread-group-conversation-no" style="display: none;">0</span>
										<% end %>
										<span class="unread-group-conversation-ids" style="display: none;"><%= @unread_group_conversation_ids_array.join(", ") %></span>	
									<% else %>
										<span class="dot-unread unread-group-conversation-no" style="display: none;">0</span>
										<span class="unread-group-conversation-ids" style="display: none;">""</span>	
									<% end %> 
								</a>
							</li>
							
						</ul>	
					</div>
					<div class="tab-content admin-home-content">
						<div class="tab-pane active all-small-conversations" id="all-inbox-messages">
							<% if(!@inbox_conversations.blank?) %>
								<% @inbox_conversations.each do |conversation| %>
									
										<%= render partial: "conversations/conversation_small", locals: {conversation: conversation, user: current_user} %>
													
								<% end %>
								<%= paginate @inbox_conversations, window: 1, params: {anchor: "all-inbox-messages"} %>
							<% else %>
								<h1 class="nothing-posted"> You dont have any message in inbox that needs your response ! </h1>	
							<% end %>
						</div>
						<div class="tab-pane" id="all-sent-messages">
							<% if(!@sent_conversations.blank?) %>
								<% @sent_conversations.each do |conversation| %>
									<%= render partial: "conversations/conversation_small", locals: {conversation: conversation, user: current_user} %>
								<% end %>
								
								<%= paginate @sent_conversations, window: 1, params: {anchor: "all-sent-messages"} %>
							<% else %>	
								<h1 class="nothing-posted"> You dont have any sent message that others need to respond to ! </h1>	
							<% end %>
						</div>
						<div class="tab-pane" id="all-group-messages">	
							<%= link_to new_group_conversations_path do %>		
								<span class="add-member pull-right">
									<span>New Group</span><i class="material-icons">&#xE7FE;</i>
								</span>
							<% end %>
							<div class="clearfix mar-btm"> </div>
							
							<% if(!@group_conversations.blank?) %>
								<% @group_conversations.each do |conversation| %>
									
										<%= render partial: "conversations/conversation_small", locals: {conversation: conversation, user: current_user} %>
													
								<% end %>
								<%= paginate @group_conversations, window: 1, params: {anchor: "all-group-messages"} %>
							<% else %>
								<h1 class="nothing-posted"> No group messages ! </h1>		
							<% end %>
						</div>		
					</div>	
				</div>

				<div class="tab-pane" id="all-classes">
					<ul class="list-unstyled teachers-list index-conversation-modal">
						<form onsubmit="return false;" class="search-form-main">
							<div class="pull-left form-group has-feedback" style="margin-top: 8px;">
								<input type="text" class="form-control search-conversation-students-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
							</div>
						</form>
						<%= link_to add_new_student_institute_path(@institute) do %>
							<div class="pull-right add-member">
								<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
							<% if(!@institutes_grades_sections_models.blank?) %>
								<% @institutes_grades_sections_models.each do |grade_section_model|%>
									<% grade = grade_section_model.grade %>
									<% section = grade_section_model.section %>
									<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Student"]) %>
									<li>
										<h6 class="teachers-list-heading">Class <%= grade.grade_name + section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
										<div class="container-width classRoute" style="display:block;">
											<ul class="list-unstyled list-inline">
												<% if(!students.blank?) %>
													<div class="students-manage-page">
													<% students.each do |student| %>
														<% if(student.id != current_user.id) %>
															<li>
																
																<%= render partial: "conversations/contact", locals: {contact: student} %>

																		
															</li>
														<% end %>	
													<% end %>
													</div>
												<% else %>
													<%= link_to add_new_student_institute_path(@institute, grade_id: grade.id, section_id: section.id) do %>
														<div class="pull-right add-member">
															<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
														</div>
													<% end %>
													<div class="clearfix mar-btm"></div>
													<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No students in this Class </h1>	
												<% end %>															
											</ul>
										</div>
									</li>
								<% end %>
							<% else %>
								<h1 class="nothing-posted"> No Students Added Yet.  </h1>		
							<% end %>
						<% end %>

					</ul>
				</div>
				<div class="tab-pane" id="all-staff">
					<ul class="list-unstyled teachers-list index-conversation-modal">
						<form onsubmit="return false;" class="search-form-main">
							<div class="pull-left form-group has-feedback" style="width:100%; margin-top: 8px;">
								<input type="text" class="form-control search-conversation-staff-page" name="search" placeholder="Search..." id="search1" autocomplete="off">
							</div>
						</form>
						
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
							<div class="container-width classRoute" style="display: block;">
								<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
									<div class="pull-right add-member">
										<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
									</div>
								<% end %>
								<%= link_to add_new_staff_institute_path(@institute, role: "Institute Admin") do %>
									<div class="pull-right add-member">
										<span>Add Admin</span><i class="material-icons">&#xE7FE;</i>
									</div>
								<% end %>
								<div class="clearfix mar-btm"></div>
								<ul class="list-unstyled list-inline">
									<% if(!@teachers.blank?) %>
										<div class="staff-manage-page">
										<% @teachers.each do |teacher| %>
											<li>
												
													<%= render partial: "conversations/contact", locals: {contact: teacher} %>
												
												
												
											</li>
										<% end %>
										</div>
									<% else %>
										<div class="nothing-posted"> No Principal added yet !</div>
									<% end %>												
									<% if(!@admins.blank?) %>
										<div class="staff-manage-page">
										<% @admins.each do |admin| %>																
											<li>
												
													<%= render partial: "conversations/contact", locals: {contact: admin} %>
												
												
												
											</li>
										
										<% end %>
										</div>
									<% else %>
										<div class="nothing-posted"> No Admin added yet !</div>
									<% end %>														
								</ul>
								
							</div>
							
						<% end %>

					</ul>
				</div>
				
				<div class="tab-pane" id="all-dayplan">
					
					<div class="container-width classRoute">
						<ul class="nav nav-tabs text-center" role="tablist" id="tablist" style="background:#98c2d2;">		
							<li class="active" style="width:50%;">
								<a data-toggle="tab" href="#class-plan">
									Class Plan
								</a>
							</li>
							<li style="width:50%;">
								<a data-toggle="tab" href="#teacher-plan">
									Teacher Plan
								</a>
							</li>
						</ul>
						<div class="tab-content admin-home-content">
							<div class="tab-pane active" id="class-plan">
								<% if(!@institutes_grades_sections_models.blank?) %>
									<ul class="list-unstyled teachers-list index-conversation-modal" style ="max-height: none">
										<% @institutes_grades_sections_models.each do |grade_section_model| %>
										
											<% grade = grade_section_model.grade %>
											<% section = grade_section_model.section %>
											
											<% if(!grade.blank? and !section.blank?) %>
												<li>
													<h6 class="teachers-list-heading" style="background:#b0b0b0;">Class <%= grade.grade_name %><%= section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
													<div class="container-width classRoute">
														<div class="calendar class-calendar" data-grade-id="<%= grade.id %>" data-section-id="<%= section.id %>" style="margin-top:0;box-shadow: 1px 2px 2px #5d5d5d;">
									
														</div>

													</div>	
												</li>
											<% else %>	

											<% end %>			

										<% end %>
									</ul>
								<% else %>
									<%= link_to new_institute_grade_path(@institute) do %>
										<div class="pull-left add-member">
											<span>Add Class</span><i class="material-icons">&#xE7FE;</i>
										</div>
									<% end %>
									<div class="clearfix"></div>
									<h1 class="nothing-posted"> No Classes Added Yet.  </h1>					
								<% end %>
							</div>
							<div class="tab-pane" id="teacher-plan">
								<% if(!@teachers.blank?) %>
									<ul class="list-unstyled teachers-list index-conversation-modal" style ="max-height: none">
										<% @teachers.each do |teacher| %>
														
											<li>
												<h6 class="teachers-list-heading" style="background:#b0b0b0;"><%= teacher.first_name %> <%= teacher.last_name %> (<%= teacher.details %>)<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
												<div class="container-width classRoute">
													<div class="calendar teacher-calendar" data-teacher-id="<%= teacher.id %>" style="margin-top:0; box-shadow: 1px 2px 2px #5d5d5d;">
								
													</div>

												</div>	
											</li>
										
										<% end %>
									</ul>
								<% else %>
									<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
										<div class="pull-right add-member">
											<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
										</div>
									<% end %>
									<div class="clearfix"></div>
									<h1 class="nothing-posted"> No Teachers Added Yet.  </h1>					
								<% end %>
							</div>		
						</div>
					</div>	
				</div>
				
			</div>

</div>					
						
<div class="container">
	<span class="personal-message-icon" data-toggle="modal" data-target="#customMessageModal">
		<i class="material-icons">&#xE0C9;</i>
	</span>
	<div id="customMessageModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					
					<form onsubmit="return false;" class="search-form-main pull-left">
						<div class="form-group has-feedback">
							<input type="text" class="form-control search-conversation-new-group" name="search" placeholder="search..." id="search1">
						</div>
					</form>
					
					<h4 class="modal-title">

						<%= link_to new_group_conversations_path do %>		
							<span class="add-member pull-right" style="margin-right: 17px; margin-top: -6px;">
								<span>New Group</span><i class="material-icons">&#xE7FE;</i>
							</span>
						<% end %>
					</h4>
					
				</div>
				<%= form_tag conversations_path, method: :post, remote: true, id: "new-conversation-form" do %>

					<ul class="list-inline attachment-toggle-show" id="attachment-toggle-show">
						<li id="Image-attachment-li">
							<div class="inner-list">
								<label for="Image-attachment-category-input" class="radio attached-events"><input type="radio" id="Image-attachment-category-input" name="attachment_category" value="Image"><i class="material-icons">&#xE432;</i><br><span>Image</span></label>
							</div>
						</li>
						<li id="Video-attachment-li">
							<div class="inner-list">
								<label for="Video-attachment-category-input" class="radio attached-events"><input type="radio" id="Image-attachment-category-input" name="attachment_category" value="Video"><i class="material-icons">&#xE04A;</i><br><span>Video</span></label>
							</div>
						</li>
						<li id="Link-attachment-li">
							<div class="inner-list">
								<label for="Link-attachment-category-input" class="radio attached-events"><input type="radio" id="Link-attachment-category-input" name="attachment_category" value="Link"><i class="material-icons">&#xE157;</i><br><span>Link</span></label>
							</div>
						</li>
						
					</ul>
					<div style="display: none" class="message-categories-div">
						<%= radio_button_tag :message_category, :Messages, true, id: "Messages-message-category-input" %>
					</div>

					<div class="modal-body">
						
						<div class="form-group">
							<%= text_area_tag :message, nil, autocomplete: false, placeholder: "Type your message", :class=> "form-control chat-input", id: "new-message-text-field", row: "4"%>	
							
						</div>
						<div class="attachment-send-button">
							<p class="pull-left"><i class="material-icons attachment-icon" id="attach-icon">&#xE226;</i></p>
							
							<label class="pull-right file-label" for="conversation-chat-image" style="width:10%;">
								<p class="" style="width:100%;border-left:1px solid #cacaca;"><i class="material-icons">&#xE3B0;</i></p>
								<%= file_field_tag "attached_files[]",:id=>"conversation-chat-image", :class=>"custom-file-input", multiple: true %>	
							</label>
							
							<button class="btn btn-info" type="submit" data-disable-with="Sending">Send</button>
						</div>
						<hr>
						<div class="">
							<ul class="list-unstyled teachers-list">

								<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
									<li>

										<h6 class="teachers-list-heading"><span class="checkbox-counter-normal">Select</span> Participants<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
										<div class="container-width classRoute" style="display: block;">
											<ul class="nav nav-tabs" role="tablist" id="tablist">
												<li class="active"><a data-toggle="tab" href="#all-students-modal-tab">Students</a></li>									
												<li><a data-toggle="tab" href="#all-staff-modal">Staff</a></li>															
											</ul>
											<div class="tab-content" style="">
												<div class="tab-pane" id="all-staff-modal">
													<ul class="list-unstyled index-conversation-modal">
														<% if(!@teachers.blank?) %>
															<% @teachers.each do |teacher| %>															
																<li>
																	<div class="well well-sm">
																		<label for="contact-new-group-<%= teacher.id %>" class="modal-label" style="width: 60%; display: inline-block; border-right: 1px solid #fff; vertical-align: middle;">
																			<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																	
																			<div class="media jumbotron-media">
																				<div class="media-left media-middle">
																					
																					<img src="<%= teacher.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
																					
																				</div>
																				<div class="media-body media-middle">
																					<h5 class="media-heading student-name-in-message"><%= teacher.first_name %> <%= teacher.last_name %></h5>

																					<small class="role-small"><%= teacher.details %> <%= ", #{teacher.staff_id}" if !teacher.staff_id.blank? %></small>
																					
																				</div>				
																			</div>
																			<span class="uncheckbox-style-block uncheckbox-style-block-<%= teacher.id %>"></span>		
																			<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
																		</label>
																	</div>	
																</li>															
															<% end %>
														<% else %>
															<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
																<div class="pull-right add-member">
																	<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
																</div>
															<% end %>
															<div class="clearfix"></div>
															<h1 class="nothing-posted"> No Teachers added yet ! </h1>		
														<% end %>									

														<% if(!@admins.blank?) %>
															<% @admins.each do |admin| %>				
																<li>
																	<div class="well well-sm">
																		<label for="contact-new-group-<%= admin.id %>" class="modal-label" style="width: 60%; display: inline-block; border-right: 1px solid #fff; vertical-align: middle;">
																			<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																	
																			<div class="media jumbotron-media">
																				<div class="media-left media-middle">
																					
																					<img src="<%= admin.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
																					
																				</div>
																				<div class="media-body media-middle">
																					<h5 class="media-heading student-name-in-message"><%= admin.first_name %> <%= admin.last_name %></h5>

																					<small class="role-small"><%= admin.details %> <%= ", #{admin.staff_id}" if !admin.staff_id.blank? %></small>
																					
																				</div>				
																			</div>
																			<span class="uncheckbox-style-block uncheckbox-style-block-<%= admin.id %>"></span>		
																			<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
																		</label>
																	</div>	
																</li>
															
															<% end %>
														<% else %>	
															<%= link_to add_new_staff_institute_path(@institute, role: "Institute Admin") do %>
																<div class="pull-right add-member">
																	<span>Add Admin</span><i class="material-icons">&#xE7FE;</i>
																</div>
															<% end %>
															<div class="clearfix"></div>
															<h1 class="nothing-posted"> No Admins added yet ! </h1>	
														<% end %>														
													</ul>
												</div>
												<div class="tab-pane active" id="all-students-modal-tab">
													<ul class="list-unstyled index-conversation-modal">
														<% if(!@institutes_grades_sections_models.blank?) %>
															<% @institutes_grades_sections_models.each do |grade_section_model|%>
																<% grade = grade_section_model.grade %>
																<% section = grade_section_model.section %>
																<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Student"]) %>
																<li  class="find-teacher-list" style="margin-bottom:10px;position:relative;">
																	
																	<input type="checkbox" class="all-students" id="select-all-class-students-<%= grade.grade_name + section.section_name %>"> All Students
																	<input type="checkbox" class="all-parents" id="select-all-class-parents-<%= grade.grade_name + section.section_name %>"> All Parents
																	
																	<h6 class="teachers-list-heading-inner" style="background: #d1cece;margin: 0;padding: 10px; color: #dd223d;">
																		Class <%= grade.grade_name + section.section_name %>																		
																		<i class="material-icons arrow-up-icon pull-right" style="margin-top:-5px;">&#xE316;</i>
																	</h6>
																	<div class="container-width classRoute" style="display: block; box-shadow:rgb(175, 172, 172) 1px 1px 10px;margin-bottom:10px;">
																		
																		<ul class="list-unstyled index-conversation-modal" style="box-shadow: none;    max-height: 200px !important;">
																			<% if(!students.blank?) %>
																				<% students.each do |student| %>
																					<% if(student.id != current_user.id) %>
																						<li>
																								
																								<div class="well well-sm">
																									<label for="contact-new-group-<%= student.id %>" class="modal-label" style="width: 60%; display: inline-block; border-right: 1px solid #fff; vertical-align: middle;">
																										<%= check_box_tag "participant_ids[]", student.id, false,class:"contact-new-group-page", id:"contact-new-group-#{student.id}" %>
																								
																										<div class="media jumbotron-media">
																											<div class="media-left media-middle">
																												
																												<img src="<%= student.profile_picture.media.url(:thumb) %>" class="img-rounded img-xs">
																												
																											</div>
																											<div class="media-body media-middle">
																												<h5 class="media-heading student-name-in-message"><%= student.first_name %> <%= student.last_name %></h5>

																												<small class="role-small"><%= student.details %> <%= ", #{student.roll_no}" if !student.roll_no.blank? %></small>
																												
																											</div>				
																										</div>
																										<span class="uncheckbox-style-block uncheckbox-style-block-<%= student.id %>"></span>		
																										<span class="checkbox-style-block checkbox-style-block-<%= student.id %>"></span>
																									</label>

																									<div class="media jumbotron-media" style="width: 38%; display: inline-block; vertical-align: middle;">
																										<% if(!student.father_id.blank?) %>
																											<% father = student.father %>
																											<label for="contact-new-group-<%= father.id %>" class="modal-label">
																												<%= check_box_tag "participant_ids[]", father.id, false,class:"contact-new-group-page-parent", id:"contact-new-group-#{father.id}" %>
																									
																												<div class="media-body media-middle parent-media">
																													<h5 class="media-heading student-name-in-message"><%= father.first_name %> <%= father.last_name %> ( Father )</h5>

																								
																													
																												</div>	
																												<span class="uncheckbox-style-block uncheckbox-style-block-<%= father.id %>" style="top:0; right:-4px;left: inherit;"></span>		
																												<span class="checkbox-style-block checkbox-style-block-<%= father.id %>" style="top:0; right:-4px;left: inherit;"></span>	
																											</label>	
																										<% end %>
																										<br>
																										<% if(!student.mother_id.blank?) %>
																											<% mother = student.mother %>
																											<label for="contact-new-group-<%= mother.id %>" class="modal-label">
																												<%= check_box_tag "participant_ids[]", mother.id, false,class:"contact-new-group-page-parent", id:"contact-new-group-#{mother.id}" %>
																										
																												<div class="media-body media-middle parent-media">
																													<h5 class="media-heading student-name-in-message"><%= mother.first_name %> <%= mother.last_name %> ( Mother )</h5>

																													
																													
																												</div>
																												<span class="uncheckbox-style-block uncheckbox-style-block-<%= mother.id %>" style="top:0; right:-4px;left: inherit;"></span>		
																												<span class="checkbox-style-block checkbox-style-block-<%= mother.id %>" style="top:0; right:-4px;left: inherit;"></span>		
																											</label>	
																										<% end %>
																										
																										
																									</div>
																									
																									
																								</div>
																								
																						</li>
																					<% end %>	
																				<% end %>
																			<% else %>
																				<%= link_to add_new_student_institute_path(@institute, role: "Teacher") do %>
																					<div class="pull-right add-member">
																						<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
																					</div>
																				<% end %>
																				<div class="clearfix"></div>
																				<h1 class="nothing-posted"> No Students added yet ! </h1>	
																			<% end %>															
																		</ul>
																	</div>
																</li>
															<% end %>
														<% end %>				
													</ul>
												</div>												
												
											</div>
										</div>
									</li>

									
								<% end %>

							</ul>
						</div>
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(".all-students").change(function (e) {
		$(this).parents("li.find-teacher-list").find("input.contact-new-group-page:checkbox").prop('checked', $(this).prop("checked"));
		updateCheckboxCounter();
		e.preventDefault();
	});
	$(".all-parents").change(function (e) {
		$(this).parents("li.find-teacher-list").find("input.contact-new-group-page-parent:checkbox").prop('checked', $(this).prop("checked"));
		updateCheckboxCounter();
		e.preventDefault();
	});
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");

	$('.search-conversation-students-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".students-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".students-manage-page li").show();
	    }    
	});
	$('.search-conversation-parents-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".parents-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".parents-manage-page li").show();
	    }    
	});
	$('.search-conversation-staff-page').on("keyup keydown", function() {
		
	    var value = $(this).val();
	    if(value){
	    	$(".staff-manage-page li").hide().filter(function () {
				if($(".media-heading", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 || $(".role-small", this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0 ){					
					return true;
				}else{
					return false;
				}			    
			}).show();
	    }else{
	    	$(".staff-manage-page li").show();
	    }    
	});

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		var target = $(this).attr('href');
	
		if(target == "#all-dayplan"){
			initClassDayPlanCalendar();
		}
		if(target == "#class-plan"){
			initClassDayPlanCalendar();
		}
		if(target == "#teacher-plan"){
			initTeacherDayPlanCalendar();
		}
	});

	var calendarObjects = [];
	var teacherCalendarObjects = [];		
	function initClassDayPlanCalendar(){

		$.each($('.class-calendar'), function(index, calendarElement){

		  var gradeId = $(calendarElement).attr("data-grade-id");
		  var sectionId = $(calendarElement).attr("data-section-id");
		  var dayClickFlag = false;
		  calendarObjects[index] = $(calendarElement).fullCalendar({
			  header: {
			    left: 'prev,next today',
			    center: 'title',
			    right: 'agendaWeek,agendaDay'
			  },
			  defaultView: "agendaDay",
			  firstDay: 1,
			  minTime: '08:00:00',
        	  maxTime: '18:00:00',
			  slotDuration: "00:30:00",
			  scrollTime: "08:00:00",
			  ignoreTimezone: true,
			  displayEventTime : false,
			  eventSources: [
			    { 
			      googleCalendarApiKey: 'AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow',
			      url: 'https://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic',

				  color: '#ea5b31',   // an option!
		  		  textColor: '#fff' // an option!


			    },
			    {
			        url: '/institutes/<%= @institute.id %>/timetable_slots?grade_id='+gradeId + '&section_id='+sectionId,
			        color: '#4646a7',   // an option!
	    		    textColor: '#fff' // an option!
			    }

			  ],
			  editable: true,
			  selectable: true,
			  selectHelper: true,
			  eventClick: function(event, jsEvent, view) {
			      
			      if(event.edit_url){
			        $.ajax({
			          url: event.edit_url,
			          complete: function(data){
			            if(data.status == "200"){
			              $('#dayPlanModal').find('.modal-body').html(data.responseText);
			              $('#dayPlanModal').modal('show');
			            }
			          }
			        });
			      }     
			      return false;
			  },
			  dayClick: function(date, jsEvent, view) {
			  	
		        dayClickFlag = true;
		        $.ajax({
			        url: '/institutes/<%= @institute.id%>/timetable_slots/new.js?grade_id=' + gradeId + '&section_id=' + sectionId + '&start_time=' + date.format() + '&end_time=' + date.add(30, 'minutes').format() + '.js',
			        complete: function(data){
			          if(data.status == "200"){
			            $('#dayPlanModal').find('.modal-body').html(data.responseText);
			            $('#dayPlanModal').modal('show');
			          }
			        }
			      });
		      },
			  select: function(start, end) {
				
			    if(!dayClickFlag){
			      $.ajax({
			        url: '/institutes/<%= @institute.id%>/timetable_slots/new.js?grade_id=' + gradeId + '&section_id=' + sectionId + '&start_time=' + start.format() + '&end_time=' + end.format() + '.js',
			        complete: function(data){
			          if(data.status == "200"){
			            $('#dayPlanModal').find('.modal-body').html(data.responseText);
			            $('#dayPlanModal').modal('show');
			          }
			        }
			      });
			      dayClickFlag = false;
			    }
			    
			    
			    $(this).fullCalendar('unselect');
			  },
			  eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
			    
			    if(event.update_url){
			      if (confirm("Update this Day Plan Slot?")) {
			          if(event.end){
			            endTime = event.end
			          }else{
			            endTime = event.start  
			          }
			          
			          $.ajax({
				          url: event.update_url + "&start_time=" + event.start.format() + "&end_time=" + endTime.format(),
				          method: "PATCH",
				          complete: function(data){
				            if(data.status == "200"){
				              eval(data.responseText);
				            }
				          } 
			          });
			      }
			      
			      
			    }else{

			    }
			  },
			  eventResize: function(event, delta, revertFunc) {
			  if(event.update_url){
			    if (confirm("Update this Day Plan Slot?")) {
			          $.ajax({
			          url: event.update_url + "&start_time=" + event.start.format() + "&end_time=" + event.end.format(),
			          method: "PATCH",
			          complete: function(data){
			            if(data.status == "200"){
			              eval(data.responseText);
			            }
			          } 
			        });
			      }
			      
			    }else{
			      
			    } 
			  }
			});
		});

	}	
	
	function initTeacherDayPlanCalendar(){
		$.each($('.teacher-calendar'), function(index, calendarElement){
		  var teacherId = $(calendarElement).attr("data-teacher-id");
		  var dayClickFlag = false;
		  teacherCalendarObjects[index] = $(calendarElement).fullCalendar({
			  header: {
			    left: 'prev,next today',
			    center: 'title',
			    right: 'agendaWeek,agendaDay'
			  },
			  defaultView: "agendaDay",
			  firstDay: 1,
			  slotDuration: "00:30:00",
			  scrollTime: "08:00:00",
			  minTime: '08:00:00',
        	  maxTime: '18:00:00',
			  ignoreTimezone: true,
			  displayEventTime : false,
			  eventSources: [
			    { 
			      googleCalendarApiKey: 'AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow',
			      url: 'https://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic',

			      color: '#ea5b31',   // an option!
		  		  textColor: '#fff' // an option!


			    },
			    {
			        url: '/institutes/<%= @institute.id %>/timetable_slots?teacher_id=' + teacherId,
			        color: '#4646a7',   // an option!
	    		    textColor: '#fff' // an option!
			    }

			  ],
			  editable: true,
			  selectable: true,
			  selectHelper: true,
			  dayClick: function(date, jsEvent, view) {
			  	dayClickFlag = true;
			  	  $.ajax({
			        url: '/institutes/<%= @institute.id%>/timetable_slots/new.js?teacher_id=' + teacherId + '&start_time=' + date.format() + '&end_time=' + date.add(30, 'minutes').format(),
			        complete: function(data){
			          if(data.status == "200"){
			            $('#dayPlanModal').find('.modal-body').html(data.responseText);
			            $('#dayPlanModal').modal('show');
			          }
			        }
			      });
			      
		        
		      },
			  eventClick: function(event, jsEvent, view) {
			      
			      if(event.edit_url){
			        $.ajax({
			          url: event.edit_url,
			          complete: function(data){
			            if(data.status == "200"){
			              $('#dayPlanModal').find('.modal-body').html(data.responseText);
			              $('#dayPlanModal').modal('show');
			            }
			          }
			        });
			      }     
			      return false;
			  },
			  select: function(start, end) {
			    if(!dayClickFlag){
			      $.ajax({
			        url: '/institutes/<%= @institute.id%>/timetable_slots/new.js?teacher_id=' + teacherId + '&start_time=' + start.format() + '&end_time=' + end.format(),
			        complete: function(data){
			          if(data.status == "200"){
			            $('#dayPlanModal').find('.modal-body').html(data.responseText);
			            $('#dayPlanModal').modal('show');
			          }
			        }
			      });
			      dayClickFlag = false;
			    }
			    
			    
			    $(this).fullCalendar('unselect');
			  },
			  eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
			    
			    if(event.update_url){
			      if (confirm("Update this Day Plan Slot?")) {
			          if(event.end){
			            endTime = event.end
			          }else{
			            endTime = event.start  
			          }
			          
			          $.ajax({
				          url: event.update_url + "&start_time=" + event.start.format() + "&end_time=" + endTime.format(),
				          method: "PATCH",
				          complete: function(data){
				            if(data.status == "200"){
				              eval(data.responseText);
				            }
				          } 
			          });
			      }
			      
			      
			    }else{

			    }
			  },
			  eventResize: function(event, delta, revertFunc) {
			  if(event.update_url){
			    if (confirm("Update this Day Plan Slot?")) {
			          $.ajax({
			          url: event.update_url + "&start_time=" + event.start.format() + "&end_time=" + event.end.format(),
			          method: "PATCH",
			          complete: function(data){
			            if(data.status == "200"){
			              eval(data.responseText);
			            }
			          } 
			        });
			      }
			      
			    }else{
			      
			    } 
			  }
			});
		});
	}

    var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");	
	$(".modal-label").on("click", function(e){
		updateCheckboxCounter();
	});
	function updateCheckboxCounter(){
		var len = $("input[name='participant_ids[]']:checked").length;	
		if(len>0){
			$(".checkbox-counter-normal").text(len);
		}else{
			$(".checkbox-counter-normal").text('Select');
		}
		
	}
</script>
