<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>My ClassWork</a>
<% end %>

<div class="detect-div"></div>
<div class="container-width tabs-container classRoute tabs-container" style="margin-top:50px;">
			
		
			<ul class="nav nav-tabs" role="tablist" id="tablist" style="position:fixed;z-index:5;left:0;right:0; top: 50px;">
				<% if(!@message_categories_array.blank?) %>
					<% i=0 %>
					<% @message_categories_array.each do |category| %>
						<% if(i==0) %>
							<% active_or_not = 'class="active"' %>
							<% i=1 %>
						<% else %>
							<% active_or_not = "" %>
						<% end %>
						<li <%= active_or_not %>>								
							<a data-toggle="tab" href="#all-<%=category%>" data-message-category-input-id="#<%= category %>-message-category-input"> <%= category %></a>
						</li>
					<% end %>
				<% end %>
			</ul>
		
		<div class="tab-content admin-home-content" style="margin-top:84px;">
			<% if(!@message_categories_array.blank?) %>

				<% i=0 %>
				<% @message_categories_array.each do |category| %>

					<% if(i==0) %>
						<% active_or_not = "active" %>
						<% i=1  %>
					<% else %>
						<% active_or_not = "" %>
					<% end %>
					<div class="tab-pane messages <%= category %>-category-messages <%= active_or_not %>" id="all-<%=category%>">

						<% @category_messages = instance_variable_get("@" + category + "_messages") %>
						
						<% if(!@category_messages.blank?) %>
							<% @category_messages.each do |message| %>
								<%= render partial: "messages/message", locals: {conversation: message.conversation, message: message} %>
							<% end %>
							
							<%= paginate(@category_messages, window: 1, :params => { :anchor => 'all-' + category }) %>
						<% end %>

						
						<%# instance_variable_get("@" + category + "_messages").inspect %>
					</div>

				<% end %>
				
			<% end %>	
			
		</div>
	
</div>
<div id="seenStatusModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Seen By Users</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>
<div id="submissionModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submission Report</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>
<script>

	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
	$(".double-checkmark").on("click", function(){
		var messageId = $(this).attr("data-message-id");
		var conversationId = $(this).attr("data-conversation-id");
		$.ajax({
			url: "/conversations/" + conversationId + "/messages/" + messageId + "/seen_by_users.js",  
			type: "GET",
			success: function(data) {
				if(data.trim().length == 0) {
					$("#seenStatusModal").find(".modal-body").html("No one has yet seen this message !");
				} else {
					$("#seenStatusModal").find(".modal-body").html(data);
				}
			}
		});
		$("#seenStatusModal").modal('show');
	});

	$(".checkmark").on("click", function(){
		var messageId = $(this).attr("data-message-id");
		var conversationId = $(this).attr("data-conversation-id");
		$.ajax({
			url: "/conversations/" + conversationId +"/messages/" + messageId + "/acted_by_users.js",  
			type: "GET",
			success: function(data) {
				if(data.trim().length == 0) {
					$("#submissionModal").find(".modal-body").html("No one has yet acted on this message !");
				} else {
					$("#submissionModal").find(".modal-body").html(data);
				}
			}
		});
		$("#submissionModal").modal('show');
	});

</script>
