<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header">
	<div class="container-fluid">
		<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
			<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i></a>
			<div class="media pull-left">
				<div class="media-body chat-show-media">
					<h4 class="media-heading"> New Conversation </h4>
					<p> <span class="checkbox-counter">Select</span> Participants </p>	
				</div>
			</div>
		</div>
		<ul class="nav navbar-nav navbar-right main-app-show-header pull-right display_inline">
			<li>
				<form onsubmit="return false;" class="search-form search-conversation-new-group">
					<div class="form-group has-feedback">
						<i class="material-icons search-conversation-new-group-icon">&#xE8B6;</i> 
						<input type="text" class="form-control" name="search" id="search-conversation-new-group">
					</div>
				</form>
			</li>			
		</ul>
	</div>
</nav>	
<div class="container-width conversation-new-container new-group-member-container">
	<%= form_tag conversations_path(conversation_id: params[:conversation_id]), method: :post, remote: true, id: "new-conversation-form" do %>
		<div class="attendance-body">
			<ul class="list-inline list-conversation-group-search">
				<% if(current_user.role != "Student" and current_user.role != "Parent") %>
					<div class="media mar-btm">
					
						<div class="media-left media-middle">
							<%= link_to new_group_conversations_path do %>		
								<i class="material-icons">&#xE7F0;</i>
							<% end %>
						</div>
						<div class="media-body media-middle">
							<%= link_to new_group_conversations_path do %>			
								New Group
							<% end %>		
						</div>
					
					</div>
					<div class="media mar-btm">
					
						<div class="media-left media-middle">
							<%= link_to new_group_conversations_path do %>		
								<i class="material-icons">&#xE7FE;</i>
							<% end %>
						</div>
						<div class="media-body media-middle">
							<%= link_to add_new_member_conversations_path do %>			
								Create New Contact
							<% end %>		
						</div>
					
					</div>
					
				<% end %>

				<% if(!@contacts.blank?) %>
					<% @contacts.each do |contact| %>
						<li>
							<div class="inner-list">
								<label for="contact-new-group-<%= contact.id %>" class="radio participant-checkbox-label">
									<%= check_box_tag "participant_ids[]", contact.id, false,class:"contact-new-group-page", id:"contact-new-group-#{contact.id}" %>
									<%= render partial: "contact", locals: {contact: contact} %>
									<span class="checkbox-style-block checkbox-style-block-<%= contact.id %>"></span>
								</label>										
							</div>
							
						</li>	
					<% end %>
				
				<% end %>
			</ul>
		</div>		
		<%= button_tag(type:"submit", class: "new-group-submit-button") do %>
			<i class="material-icons">&#xE876;</i>
		<% end %>
	<% end %>
</div>	

<script type="text/javascript">
	$("#new-conversation-form").submit(checkIfInputPresent);
	function checkIfInputPresent() {
		var submit = false;
		$.each($('input[type="checkbox"]'), function(index, element){
			if($(element).prop("checked") == true){
				submit = true;
				return false;
			}
		});
		return submit;
	}
</script>