<% content_for :heading do %>
	New Conversation
<% end %>
<nav class="navbar navbar-inverse main-app-header main-app-conversation-new-header" style="margin-top:50px;margin-bottom:0;background:#ea5b31;border:none;">
	<div class="container-fluid">
		<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
			<a class="mybtn btn btn-link btn-xs pull-left" href="<%= conversation_path(id: params[:conversation_id]) %>" style="padding:10px;"><i class="material-icons">&#xE317;</i></a>
			<span class="checkbox-counter" style="color:#fff;margin-left:0;line-height:4;">Select</span> <span style="font-size:11px;color:#fff;">Participants</span>
			
		</div>
		<ul class="nav navbar-nav navbar-right main-app-show-header pull-right display_inline">
			<li>
				<form onsubmit="return false;" class="search-form search-conversation-new-group">
					<div class="form-group has-feedback">
						<i class="material-icons search-conversation-new-group-icon">&#xE8B6;</i> 
						<input type="text" class="form-control search-conversation-new-page" name="search" id="search">
					</div>
				</form>
			</li>			
		</ul>
	</div>
</nav>	
<div class="container-width conversation-new-container new-group-member-container">
	<%= form_tag conversations_path(conversation_id: params[:conversation_id]), method: :post, remote: true, id: "new-conversation-form" do %>
		<div class="">
			<ul class="list-inline list-conversation-group-search " style="margin:10px;">
				<% if(current_user.role != "Student" and current_user.role != "Parent") %>
					
					<div class="pull-left">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				
					<%= link_to new_group_conversations_path do %>		
						<div class="pull-right add-member">
							<span>New Group</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
					<%= link_to add_new_member_institute_path(@institute) do %>			
						<div class="pull-right add-member">
							<span>Create New Contact</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<ul class="list-unstyled teachers-list new-group-class" style="overflow:inherit;">
					<% if(current_user.role == "Principal") %>
						<li>
							<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
							<div class="container-width classRoute">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li class="active"><a data-toggle="tab" href="#all-admins">Admins</a></li>
									<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
								</ul>
								<div class="tab-content" style="">
									<div class="tab-pane active" id="all-admins">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@admins.blank?) %>
												<% @admins.each do |admin| %>
													<% if(admin.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: admin} %>
																<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>																	
															</label>																	
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
									<div class="tab-pane active" id="all-teachers">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@teachers.blank?) %>
												<% @teachers.each do |teacher| %>
													<% if(teacher.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
															</label>									
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
								</div>	
							</div>	
						</li>
					<% end %>

					<% if(current_user.role == "Institute Admin") %>
						<li>
							<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
							<div class="container-width classRoute">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li class="active"><a data-toggle="tab" href="#all-principals">Principal</a></li>
									<li><a data-toggle="tab" href="#all-admins">Admins</a></li>
									<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>												
								</ul>
								<div class="tab-content" style="">
									<div class="tab-pane active" id="all-principals">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@principal.blank?) %>
												<% if(@principal.id != current_user.id) %>
													<li>
														<label for="contact-new-group-<%= @principal.id %>" class="modal-label">
															<%= check_box_tag "participant_ids[]", @principal.id, false,class:"contact-new-group-page", id:"contact-new-group-#{@principal.id}" %>						
															<%= render partial: "conversations/contact", locals: {contact: @principal} %>
															<span class="checkbox-style-block checkbox-style-block-<%= @principal.id %>"></span>																
														</label>																
													</li>
												<% end %>
											<% end %>														
										</ul>
									</div>
									<div class="tab-pane" id="all-admins">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@admins.blank?) %>
												<% @admins.each do |admin| %>																
													<% if(admin.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: admin} %>
																<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
															</label>	
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>												
									<div class="tab-pane" id="all-teachers">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@teachers.blank?) %>
												<% @teachers.each do |teacher| %>
													<% if(teacher.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>																	
															</label>									
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>												
								</div>
							</div>
						</li>

						<% if(!@institutes_grades_sections_models.blank?) %>
							<% @institutes_grades_sections_models.each do |grade_section_model|%>
								<% grade = grade_section_model.grade %>
								<% section = grade_section_model.section %>
								<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Student"]) %>
								<% parents = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Parent"]) %>

								<li>
									<h6 class="teachers-list-heading">Class <%= grade.grade_name + section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
									<div class="container-width classRoute">
										<ul class="nav nav-tabs" role="tablist" id="tablist">
											<li class="active"><a data-toggle="tab" href="#all-parents-<%= grade_section_model.id %>">Parents</a></li>
											<li><a data-toggle="tab" href="#all-students-<%= grade_section_model.id %>">Students</a></li>														
										</ul>
										<div class="tab-content" style="">
											<div class="tab-pane active" id="all-parents-<%= grade_section_model.id %>">
												<ul class="list-unstyled list-inline index-conversation-modal-inner">
													<% if(!parents.blank?) %>
														<% parents.each do |parent| %>
															<% if(parent.id != current_user.id) %>
																<li>
																	<label for="contact-new-group-<%= parent.id %>" class="modal-label">
																		<%= check_box_tag "participant_ids[]", parent.id, false,class:"contact-new-group-page", id:"contact-new-group-#{parent.id}" %>
																		<%= render partial: "conversations/contact", locals: {contact: parent} %>
																		<span class="checkbox-style-block checkbox-style-block-<%= parent.id %>"></span>
																	</label>										
																</li>
															<% end %>	
														<% end %>
													<% end %>																
												</ul>
											</div>
											<div class="tab-pane" id="all-students-<%= grade_section_model.id %>">
												<ul class="list-unstyled list-inline index-conversation-modal-inner">
													<% if(!students.blank?) %>
														<% students.each do |student| %>
															<% if(student.id != current_user.id) %>
																<li>
																	<label for="contact-new-group-<%= student.id %>" class="modal-label">
																		<%= check_box_tag "participant_ids[]", student.id, false,class:"contact-new-group-page", id:"contact-new-group-#{student.id}" %>
																		<%= render partial: "conversations/contact", locals: {contact: student} %>
																		<span class="checkbox-style-block checkbox-style-block-<%= student.id %>"></span>
																	</label>											
																</li>
															<% end %>	
														<% end %>
													<% end %>															
												</ul>
											</div>												
										</div>
									</div>
								</li>
							<% end %>
						<% end %>
					<% end %>

					<% if(current_user.role == "Teacher") %>
						<li>
							<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
							<div class="container-width classRoute">
								<ul class="nav nav-tabs" role="tablist" id="tablist">												
									<li class="active"><a data-toggle="tab" href="#all-admins">Admin</a></li>
									<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>												
								</ul>
								<div class="tab-content" style="">
									<div class="tab-pane active" id="all-admins">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@admins.blank?) %>
												<% @admins.each do |admin| %>
													<% if(admin.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: admin} %>
																<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
															</label>																	
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
									<div class="tab-pane" id="all-teachers">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@teachers.blank?) %>
												<% @teachers.each do |teacher| %>
													<% if(teacher.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
															</label>
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
								</div>	
							</div>	
						</li>
						<% if(!@teaching_section_subject_models.blank?) %>
							<% @teaching_section_subject_models.each do |section_subject_model|%>
								<% grade = section_subject_model.grade %>
								<% section = section_subject_model.section %>
								<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, "Student") %>
								<% parents = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, "Parent") %>

								<li>
									<h6 class="teachers-list-heading">Class <%= grade.grade_name + section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
									<div class="container-width classRoute">
										<ul class="nav nav-tabs" role="tablist" id="tablist">
											<li class="active"><a data-toggle="tab" href="#all-parents-<%= section_subject_model.id %>">Parents</a></li>
											<li><a data-toggle="tab" href="#all-students-<%= section_subject_model.id %>">Students</a></li>														
										</ul>
										<div class="tab-content" style="">
											<div class="tab-pane active" id="all-parents-<%= section_subject_model.id %>">
												<ul class="list-unstyled list-inline index-conversation-modal-inner">
													<% if(!parents.blank?) %>
														<% parents.each do |parent| %>
															<% if(parent.id != current_user.id) %>
																<li>
																	<label for="contact-new-group-<%= parent.id %>" class="modal-label">
																		<%= check_box_tag "participant_ids[]", parent.id, false,class:"contact-new-group-page", id:"contact-new-group-#{parent.id}" %>											
																		<%= render partial: "conversations/contact", locals: {contact: parent} %>
																		<span class="checkbox-style-block checkbox-style-block-<%= parent.id %>"></span>
																	</label>
																</li>
															<% end %>	
														<% end %>
													<% end %>
												</ul>
											</div>
											<div class="tab-pane" id="all-students-<%= section_subject_model.id %>">
												<ul class="list-unstyled list-inline index-conversation-modal-inner">
													<% if(!students.blank?) %>
														<% students.each do |student| %>
															<% if(student.id != current_user.id) %>
																<li>
																	<label for="contact-new-group-<%= student.id %>" class="modal-label">
																		<%= check_box_tag "participant_ids[]", student.id, false,class:"contact-new-group-page", id:"contact-new-group-#{student.id}" %>							
																		<%= render partial: "conversations/contact", locals: {contact: student} %>
																		<span class="checkbox-style-block checkbox-style-block-<%= student.id %>"></span>
																	</label>																			
																</li>
															<% end %>	
														<% end %>
													<% end %>																
												</ul>
											</div>														
										</div>
									</div>
								</li>

							<% end %>
						<% end %>
					<% end %>

					<% if(current_user.role == "Parent" or current_user.role == "Student") %>
						<li>
							<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
							<div class="container-width classRoute">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li class="active"><a data-toggle="tab" href="#all-admins">Admin</a></li>
									<li class="active"><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
								</ul>
								<div class="tab-content" style="">
									<div class="tab-pane active" id="all-admins">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@admins.blank?) %>
												<% @admins.each do |admin| %>
													<% if(admin.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: admin} %>
																<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
															</label>																	
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
									<div class="tab-pane active" id="all-teachers">
										<ul class="list-unstyled list-inline index-conversation-modal-inner">
											<% if(!@teachers.blank?) %>
												<% @teachers.each do |teacher| %>
													<% if(teacher.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
															</label>
														</li>
													<% end %>	
												<% end %>
											<% end %>														
										</ul>
									</div>
								</div>
							</div>	
						</li>
					<% end %>
				</ul>
			</ul>
		</div>		
	<% end %>
</div>	

<script type="text/javascript">
	$(".main-app-conversation-new-header").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	$("#new-conversation-form").submit(checkIfInputPresent);
	function checkIfInputPresent() {
		var submit = false;
		$.each($('input[type="checkbox"]'), function(index, element){
			if($(element).prop("checked") == true){
				submit = true;
				return false;
			}
		});
		return submit;
	}
	
	$(".modal-label").on("click", function(e){
		updateCheckboxCounter();
	});
	function updateCheckboxCounter(){
		var len = $("input[name='participant_ids[]']:checked").length;	
		if(len>0){
			$(".checkbox-counter").text(len);
		}else{
			$(".checkbox-counter").text('Select');
		}	
	}

</script>