<% content_for :heading do %>
	New Group
<% end %>
<% if(!current_user.role.include?("Student") and !current_user.role.include?("Parent")) %>
	<nav class="navbar navbar-inverse main-app-header main-app-conversation-new-header" style="margin-top:50px;margin-bottom:0;border: 0;background:#ea5b31;border:none;">
		<div class="container-fluid">
			<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
				<a class="mybtn btn btn-link btn-xs pull-left" href="/" style="padding:10px;"><i class="material-icons">&#xE317;</i></a>
				<span class="checkbox-counter" style="color:#fff;margin-left:0;line-height:4;">Select</span> <span style="font-size:11px;color:#fff;">Participants</span>
			</div>

			<ul class="nav navbar-nav navbar-right main-app-show-header pull-right display_inline">
				<li>
					<form onsubmit="return false;" class="search-form search-conversation-new-group">
						<div class="form-group has-feedback">
							<i class="material-icons search-conversation-new-group-icon">&#xE8B6;</i> 
							<input type="text" class="form-control" name="search" id="search-conversation-new-group">
						</div>
					</form>
				</li>			
			</ul>
		</div>
	</nav>	
	<div class="container-width conversation-new-container new-group-member-container">
		<%= form_tag new_group_conversations_path, method: :post, remote: true, id: "new-group-form" do %>
			<div class="row new-group-row">
				<div class="col-lg-12 text-center">
					<div id="new-group-profile-picture-target" style="max-width:320px;margin:0 auto;position:relative;">
						<div id="new-group-profile-picture-inner-target" class="new-group-profile-picture-inner-target">
							<%= image_tag "default_profile_picture.png", class: "img-responsive img-rounded" %> 
						</div>	
						<label class="file-label" for="new-group-profile-pic-uploadBtn">
							<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
							<%= file_field_tag :banner_image, :id=>"new-group-profile-pic-uploadBtn" %>
						</label>
					</div>			
				</div>
				<div class="form-group new-group-input" style="max-width:320px;margin:0 auto;">
					<%= text_field_tag :conversation_name, nil, placeholder: "Group Name", class:"form-control" %>
				</div>
			</div>	
			<div class="attendance-body">
				<ul class="list-inline list-conversation-group-search" style="margin:10px;">
					<% if(current_user.role != "Student" and current_user.role != "Parent") %>
						<%= link_to add_new_member_institute_path(@institute) do %>			
							<div class="pull-left add-member">
								<span>Create New Contact</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>		
					<% end %>
					<div class="clearfix mar-btm"></div>
					<ul class="list-unstyled teachers-list index-conversation-modal new-group-class">
						<% if(current_user.role == "Principal") %>
							<li>
								<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
								<div class="container-width classRoute">
									<ul class="nav nav-tabs" role="tablist" id="tablist">
										<li class="active"><a data-toggle="tab" href="#all-admins">Admins</a></li>
										<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
									</ul>
									<div class="tab-content" style="">
										<div class="tab-pane active" id="all-admins">
											<ul class="list-unstyled list-inline">
												<% if(!@admins.blank?) %>
													<% @admins.each do |admin| %>
														<% if(admin.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: admin} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>																	
																</label>																	
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
										<div class="tab-pane active" id="all-teachers">
											<ul class="list-unstyled list-inline">
												<% if(!@teachers.blank?) %>
													<% @teachers.each do |teacher| %>
														<% if(teacher.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
																</label>									
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
									</div>	
								</div>	
							</li>
						<% end %>

						<% if(current_user.role == "Institute Admin") %>
							<li>
								<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
								<div class="container-width classRoute">
									<ul class="nav nav-tabs" role="tablist" id="tablist">
										<li class="active"><a data-toggle="tab" href="#all-principals">Principal</a></li>
										<li><a data-toggle="tab" href="#all-admins">Admins</a></li>
										<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>												
									</ul>
									<div class="tab-content" style="">
										<div class="tab-pane active" id="all-principals">
											<ul class="list-unstyled list-inline">
												<% if(!@principal.blank?) %>
													<% if(@principal.id != current_user.id) %>
														<li>
															<label for="contact-new-group-<%= @principal.id %>" class="modal-label">
																<%= check_box_tag "participant_ids[]", @principal.id, false,class:"contact-new-group-page", id:"contact-new-group-#{@principal.id}" %>						
																<%= render partial: "conversations/contact", locals: {contact: @principal} %>
																<span class="checkbox-style-block checkbox-style-block-<%= @principal.id %>"></span>																
															</label>																
														</li>
													<% end %>
												<% end %>														
											</ul>
										</div>
										<div class="tab-pane" id="all-admins">
											<ul class="list-unstyled list-inline">
												<% if(!@admins.blank?) %>
													<% @admins.each do |admin| %>																
														<% if(admin.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: admin} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
																</label>	
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>												
										<div class="tab-pane" id="all-teachers">
											<ul class="list-unstyled list-inline">
												<% if(!@teachers.blank?) %>
													<% @teachers.each do |teacher| %>
														<% if(teacher.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>																	
																</label>									
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>												
									</div>
								</div>
							</li>

							<% if(!@institutes_grades_sections_models.blank?) %>
								<% @institutes_grades_sections_models.each do |grade_section_model|%>
									<% grade = grade_section_model.grade %>
									<% section = grade_section_model.section %>
									<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Student"]) %>
									<% parents = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, ["Parent"]) %>

									<li>
										<h6 class="teachers-list-heading">Class <%= grade.grade_name + section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
										<div class="container-width classRoute">
											<ul class="nav nav-tabs" role="tablist" id="tablist">
												<li class="active"><a data-toggle="tab" href="#all-parents">Parents</a></li>
												<li><a data-toggle="tab" href="#all-students">Students</a></li>														
											</ul>
											<div class="tab-content" style="">
												<div class="tab-pane active" id="all-parents">
													<ul class="list-unstyled list-inline">
														<% if(!parents.blank?) %>
															<% parents.each do |parent| %>
																<% if(parent.id != current_user.id) %>
																	<li>
																		<label for="contact-new-group-<%= parent.id %>" class="modal-label">
																			<%= check_box_tag "participant_ids[]", parent.id, false,class:"contact-new-group-page", id:"contact-new-group-#{parent.id}" %>
																			<%= render partial: "conversations/contact", locals: {contact: parent} %>
																			<span class="checkbox-style-block checkbox-style-block-<%= parent.id %>"></span>
																		</label>										
																	</li>
																<% end %>	
															<% end %>
														<% end %>																
													</ul>
												</div>
												<div class="tab-pane" id="all-students">
													<ul class="list-unstyled list-inline">
														<% if(!students.blank?) %>
															<% students.each do |student| %>
																<% if(student.id != current_user.id) %>
																	<li>
																		<label for="contact-new-group-<%= student.id %>" class="modal-label">
																			<%= check_box_tag "participant_ids[]", student.id, false,class:"contact-new-group-page", id:"contact-new-group-#{student.id}" %>
																			<%= render partial: "conversations/contact", locals: {contact: student} %>
																			<span class="checkbox-style-block checkbox-style-block-<%= student.id %>"></span>
																		</label>											
																	</li>
																<% end %>	
															<% end %>
														<% end %>															
													</ul>
												</div>												
											</div>
										</div>
									</li>
								<% end %>
							<% end %>
						<% end %>

						<% if(current_user.role == "Teacher") %>
							<li>
								<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
								<div class="container-width classRoute">
									<ul class="nav nav-tabs" role="tablist" id="tablist">												
										<li class="active"><a data-toggle="tab" href="#all-admins">Admin</a></li>
										<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>												
									</ul>
									<div class="tab-content" style="">
										<div class="tab-pane active" id="all-admins">
											<ul class="list-unstyled list-inline">
												<% if(!@admins.blank?) %>
													<% @admins.each do |admin| %>
														<% if(admin.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: admin} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
																</label>																	
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
										<div class="tab-pane" id="all-teachers">
											<ul class="list-unstyled list-inline">
												<% if(!@teachers.blank?) %>
													<% @teachers.each do |teacher| %>
														<% if(teacher.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
																</label>
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
									</div>	
								</div>	
							</li>
							<% if(!@teaching_section_subject_models.blank?) %>
								<% @teaching_section_subject_models.each do |section_subject_model|%>
									<% grade = section_subject_model.grade %>
									<% section = section_subject_model.section %>
									<% students = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, "Student") %>
									<% parents = section.get_members_with_given_roles_for_institute_and_grade_with_role(@institute, grade, "Parent") %>

									<li>
										<h6 class="teachers-list-heading">Class <%= grade.grade_name + section.section_name %><i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
										<div class="container-width classRoute">
											<ul class="nav nav-tabs" role="tablist" id="tablist">
												<li class="active"><a data-toggle="tab" href="#all-parents">Parents</a></li>
												<li><a data-toggle="tab" href="#all-students">Students</a></li>														
											</ul>
											<div class="tab-content" style="">
												<div class="tab-pane active" id="all-parents">
													<ul class="list-unstyled list-inline">
														<% if(!parents.blank?) %>
															<% parents.each do |parent| %>
																<% if(parent.id != current_user.id) %>
																	<li>
																		<label for="contact-new-group-<%= parent.id %>" class="modal-label">
																			<%= check_box_tag "participant_ids[]", parent.id, false,class:"contact-new-group-page", id:"contact-new-group-#{parent.id}" %>											
																			<%= render partial: "conversations/contact", locals: {contact: parent} %>
																			<span class="checkbox-style-block checkbox-style-block-<%= parent.id %>"></span>
																		</label>
																	</li>
																<% end %>	
															<% end %>
														<% end %>
													</ul>
												</div>
												<div class="tab-pane" id="all-students">
													<ul class="list-unstyled list-inline">
														<% if(!students.blank?) %>
															<% students.each do |student| %>
																<% if(student.id != current_user.id) %>
																	<li>
																		<label for="contact-new-group-<%= student.id %>" class="modal-label">
																			<%= check_box_tag "participant_ids[]", student.id, false,class:"contact-new-group-page", id:"contact-new-group-#{student.id}" %>							
																			<%= render partial: "conversations/contact", locals: {contact: student} %>
																			<span class="checkbox-style-block checkbox-style-block-<%= student.id %>"></span>
																		</label>																			
																	</li>
																<% end %>	
															<% end %>
														<% end %>																
													</ul>
												</div>														
											</div>
										</div>
									</li>

								<% end %>
							<% end %>
						<% end %>

						<% if(current_user.role == "Parent" or current_user.role == "Student") %>
							<li>
								<h6 class="teachers-list-heading">Staff<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
								<div class="container-width classRoute">
									<ul class="nav nav-tabs" role="tablist" id="tablist">
										<li class="active"><a data-toggle="tab" href="#all-admins">Admin</a></li>
										<li class="active"><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
									</ul>
									<div class="tab-content" style="">
										<div class="tab-pane active" id="all-admins">
											<ul class="list-unstyled list-inline">
												<% if(!@admins.blank?) %>
													<% @admins.each do |admin| %>
														<% if(admin.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= admin.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: admin} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
																</label>																	
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
										<div class="tab-pane active" id="all-teachers">
											<ul class="list-unstyled list-inline">
												<% if(!@teachers.blank?) %>
													<% @teachers.each do |teacher| %>
														<% if(teacher.id != current_user.id) %>
															<li>
																<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
																	<%= check_box_tag "participant_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
																	<%= render partial: "conversations/contact", locals: {contact: teacher} %>
																	<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>
																</label>
															</li>
														<% end %>	
													<% end %>
												<% end %>														
											</ul>
										</div>
									</div>
								</div>	
							</li>
						<% end %>
					</ul>
				</ul>
			</div>		
		<% end %>
	</div>	

	<script>
		$('#new-group-profile-pic-uploadBtn').on('change', function(event) {
			var files = event.target.files;
			var image = files[0]
			var reader = new FileReader();
			reader.onload = function(file) {
			  var img = new Image();
			  img.src = file.target.result;
			  img.className = "img-responsive";
			  $('#new-group-profile-picture-inner-target').html(img);
			}
			reader.readAsDataURL(image);
		});	
	

	</script>
<% else %>
	You can not create a new group. 
<% end %>

<script type="text/javascript">
	$(".main-app-conversation-new-header").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	$("#new-group-form").submit(checkIfInputPresent);
	function checkIfInputPresent() {
		
		var submit = false;
		$.each($('input[type="checkbox"]'), function(index, element){
			if($(element).prop("checked") == true){
				submit = true;
				return false;
			}
		});
		return submit;
	}
</script>

