<% content_for :heading do %>
	New Group
<% end %>
<% if(!current_user.role.include?("Student") and !current_user.role.include?("Parent")) %>
	<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header" style="margin-top:50px;margin-bottom:0;border: 0;background:#2ad;border:none;">
		<div class="container-fluid">
			<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
				<a class="mybtn btn btn-link btn-xs pull-left" href="/" style="padding:10px;"><i class="material-icons">&#xE317;</i></a>
				<span class="checkbox-counter" style="color:#fff;margin-left:0;line-height:4;">Select</span> <span style="font-size:11px;color:#fff;">Group Admins</span>
			</div>

			<ul class="nav navbar-nav navbar-right main-app-show-header pull-right display_inline">
				<li>
					<form onsubmit="return false;" class="search-form search-conversation-new-group">
						<div class="form-group has-feedback">
							<i class="material-icons search-conversation-new-group-icon">&#xE8B6;</i> 
							<input type="text" class="form-control search-conversation-new-group-page" name="search" id="search-conversation-new-group">
						</div>
					</form>
				</li>			
			</ul>
		</div>
	</nav>	
	<div class="container-width conversation-new-container new-group-member-container" style="margin-top:100px;margin-bottom: 60px;">
		<%= form_tag new_group_conversations_path, method: :post, remote: true, id: "new-group-form" do %>
			<%= hidden_field_tag :step, "1" %>
			
			<div class="row new-group-row">
				<div class="col-lg-12 text-center">
					<div id="new-group-profile-picture-target" style="max-width:320px;margin:0 auto;position:relative;">
						<div id="new-group-profile-picture-inner-target" class="new-group-profile-picture-inner-target">
							<%= image_tag "default_profile_picture.png", class: "img-responsive img-rounded" %> 
						</div>	
						<label class="file-label" for="new-group-profile-pic-uploadBtn">
							<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
							<%= file_field_tag :banner_image, :id=>"new-group-profile-pic-uploadBtn" %>
						</label>
					</div>			
				</div>
				<div class="form-group new-group-input" style="max-width:320px;margin:0 auto;">
					<div class="pull-left">
						<button type="submit" class="btn btn-success" data-disable-with="Creating ...">Create</button>
					</div>
				
					<%= text_field_tag :conversation_name, nil, required: true, placeholder: "Group Name", class:"form-control" %>

					Can all participants post messages in this group?
					<br> 
					Yes <%= radio_button_tag :is_open_group, true, true, class: "open-group-input" %><br> 
					No <%= radio_button_tag :is_open_group, false, false, class: "open-group-input" %>
				</div>

			</div>	
			<div class="attendance-body" style="display: none;">
				<h1> Select Group Admins who can post messages in this group </h1>
				<ul class="list-inline list-conversation-group-search" style="margin:10px;">
					
					<div class="clearfix mar-btm"></div>
					<ul class="list-unstyled teachers-list new-group-class">
						<li>
							<h6 class="teachers-list-heading">Authorities<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></h6>
							<div class="container-width classRoute" style="display: block;">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li class="active"><a data-toggle="tab" href="#all-admins">Admins</a></li>
									<li><a data-toggle="tab" href="#all-principals">Principal</a></li>
											
								</ul>
								<div class="tab-content" style="">
									<div class="tab-pane" id="all-principals">
										<ul class="list-unstyled list-inline index-conversation-modal-group">
											<% if(!@principals.blank?) %>
												<% @principals.each do |principal| %>
												
													<li>
														<label for="contact-new-group-<%= principal.id %>" class="modal-label">
															<%= check_box_tag "admin_ids[]", principal.id, false,class:"contact-new-group-page", id:"contact-new-group-#{principal.id}" %>						
															<%= render partial: "conversations/contact", locals: {contact: principal} %>
															<span class="checkbox-style-block checkbox-style-block-<%= principal.id %>"></span>																
														</label>																
													</li>
													
												<% end %>
												
											<% end %>														
										</ul>
									</div>
									<div class="tab-pane active" id="all-admins">
										<ul class="list-unstyled list-inline index-conversation-modal-group">
											<% if(!@admins.blank?) %>
												<% @admins.each do |admin| %>																
													<li>
														<label for="contact-new-group-<%= admin.id %>" class="modal-label">
															<%= check_box_tag "admin_ids[]", admin.id, false,class:"contact-new-group-page", id:"contact-new-group-#{admin.id}" %>
															<%= render partial: "conversations/contact", locals: {contact: admin} %>
															<span class="checkbox-style-block checkbox-style-block-<%= admin.id %>"></span>
														</label>	
													</li>
													
												<% end %>
											<% end %>														
										</ul>
									</div>												
									
								</div>
							</div>
						</li>
						<li>
							<div class="container-width classRoute" style="display: block;">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li class="active"><a data-toggle="tab" href="#all-teachers">Teachers</a></li>												
								</ul>
								<div class="tab-content" style="">
																				
									<div class="tab-pane active" id="all-teachers">
										<ul class="list-unstyled list-inline index-conversation-modal-group">
											<% if(!@teachers.blank?) %>
												<% @teachers.each do |teacher| %>
												
													<li>
														<label for="contact-new-group-<%= teacher.id %>" class="modal-label">
															<%= check_box_tag "admin_ids[]", teacher.id, false,class:"contact-new-group-page", id:"contact-new-group-#{teacher.id}" %>
															<%= render partial: "conversations/contact", locals: {contact: teacher} %>
															<span class="checkbox-style-block checkbox-style-block-<%= teacher.id %>"></span>																	
														</label>									
													</li>
												
												<% end %>
											<% end %>														
										</ul>
									</div>												
								</div>
							</div>
						</li>
					</ul>
				</ul>
			</div>

		<% end %>
	</div>	

	<script>
		$('#new-group-profile-pic-uploadBtn').on('change', function(event) {
			var files = event.target.files;
			var image = files[0]
			var reader = new FileReader();
			reader.onload = function(file) {
			  var img = new Image();
			  img.src = file.target.result;
			  img.className = "img-responsive";
			  $('#new-group-profile-picture-inner-target').html(img);
			}
			reader.readAsDataURL(image);
		});	
	

	</script>
<% else %>
	You can not create a new group. 
<% end %>

<script type="text/javascript">
	$(".main-app-conversation-new-header").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");

	$(".open-group-input").change(function(){
		if($(this).prop("checked") == true && $(this).val() == "true"){
			$(".attendance-body").hide();
			$(".contact-new-group-page").prop("checked", false);
		}
		if($(this).prop("checked") == true && $(this).val() == "false"){
			$(".attendance-body").show();
		}	
	});
</script>

