<% if(!current_user.role.include?("Student") and !current_user.role.include?("Parent")) %>
	<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header">
		<div class="container-fluid">
			<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
				<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i></a>
				<div class="media pull-left">
					<div class="media-body chat-show-media">
						<h4 class="media-heading"> New group </h4>

						<p> <span class="checkbox-counter">Select</span> Participents </p>	
					</div>
				</div>
			</div>

			<ul class="nav navbar-nav navbar-right main-app-show-header pull-right display_inline">
				<li>
					<form onsubmit="return false;" class="search-form search-conversation-new-group">
						<div class="form-group has-feedback">
							<i class="material-icons search-conversation-new-group-icon">&#xE8B6;</i> 
							<input type="text" class="form-control" name="search" id="search-conversation-new-group">
						</div>
					</form>
				</li>			
			</ul>
		</div>
	</nav>	
	<div class="container-width conversation-new-container new-group-member-container">
		<%= form_tag new_group_conversations_path, method: :post, remote: true, id: "new-group-form" do %>
			<div class="row new-group-row">
				<div class="col-lg-12 text-center">
					<div id="new-group-profile-picture-target">
						<div id="new-group-profile-picture-inner-target" class="new-group-profile-picture-inner-target">
							<%= image_tag "default_profile_picture.png", class: "img-responsive" %> 
						</div>	
						<label class="file-label" for="new-group-profile-pic-uploadBtn">
							<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
							<%= file_field_tag :banner_image, :id=>"new-group-profile-pic-uploadBtn" %>
						</label>
					</div>			
				</div>
				<div class="form-group new-group-input">
					<%= text_field_tag :conversation_name, nil, placeholder: "Group Name", class:"form-control" %>
				</div>
			</div>	
			<div class="attendance-body">
				<ul class="list-inline list-conversation-group-search">
					<% if(current_user.role != "Student" and current_user.role != "Parent") %>
						<div class="media mar-btm">
				
							<div class="media-left media-middle">
								<%= link_to new_group_conversations_path do %>		
									<i class="material-icons">&#xE7FE;</i>
								<% end %>
							</div>
							<div class="media-body media-middle">
								<%= link_to add_new_member_conversations_path do %>			
									Create New Contact
								<% end %>		
							</div>
						
						</div>
					<% end %>
					
					<% if(!@contacts.blank?) %>
						<% @contacts.each do |contact| %>
							<li>
								<div class="inner-list">
									<label for="contact-new-group-<%= contact.id %>" class="radio participant-checkbox-label">
										<%= check_box_tag "participant_ids[]", contact.id, false,class:"contact-new-group-page", id:"contact-new-group-#{contact.id}" %>
										<%= render partial: "contact", locals: {contact: contact} %>
										<span class="checkbox-style-block checkbox-style-block-<%= contact.id %>"></span>
									</label>										
								</div>
								
							</li>	
						<% end %>
					<% end %>
				</ul>
			</div>		
			<%= button_tag(type:"submit", class: "new-group-submit-button") do %>
				<i class="material-icons">&#xE876;</i>
			<% end %>
		<% end %>
	</div>	

	<script>
		$('#new-group-profile-pic-uploadBtn').on('change', function(event) {
			var files = event.target.files;
			var image = files[0]
			var reader = new FileReader();
			reader.onload = function(file) {
			  var img = new Image();
			  img.src = file.target.result;
			  img.className = "img-responsive";
			  $('#new-group-profile-picture-inner-target').html(img);
			}
			reader.readAsDataURL(image);
		});	
	

	</script>
<% else %>
	You can not create a new group. 
<% end %>

<script type="text/javascript">
	$("#new-group-form").submit(checkIfInputPresent);
	function checkIfInputPresent() {
		
		var submit = false;
		$.each($('input[type="checkbox"]'), function(index, element){
			if($(element).prop("checked") == true){
				submit = true;
				return false;
			}
		});
		return submit;
	}
</script>

