<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i><%= @conversation.get_conversation_name_to_show_to_user(current_user).truncate(15) if !@conversation.get_conversation_name_to_show_to_user(current_user).blank?%></a>
<% end %>

<% if(true) %>
	<div class="container-width classRoute tabs-container" style="margin-top:50px; margin-bottom: 0;">
		<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist">
			<%  if(@conversation.is_section_conversation or @conversation.is_subject_conversation) or @conversation.is_institute_conversation%>
			
			<% else %>
				<li class="active"><a data-toggle="tab" href="#all-participants">Participants</a></li>
			<% end %>
			<% if(@conversation.is_institute_conversation) %>
				
				<li class="active"><a data-toggle="tab" href="#all-contacts">Contacts</a></li>
				<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
				<% if(["Principal", "Institute Admin", "Teacher"].include?(current_user.role)) %>
					<li><a data-toggle="tab" href="#all-students">Students</a></li>	
					<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
				<% end %>
			<% end %>
			
			<% if(@conversation.is_section_conversation) %>
				<li class="active"><a data-toggle="tab" href="#all-classteachers">Classteacher</a></li>
				<li><a data-toggle="tab" href="#all-subjects">Subjects</a></li>
				<% if(["Principal", "Institute Admin", "Teacher"].include?(current_user.role)) %>
					<li><a data-toggle="tab" href="#all-students">Students</a></li>	
					<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
				<% end %>
			<% end %>
			
			<% if(@conversation.is_subject_conversation) %>
				<li class="active"><a data-toggle="tab" href="#all-subjectteachers">Subject Teacher</a></li>
				<% if(["Principal", "Institute Admin", "Teacher"].include?(current_user.role)) %>
					<li><a data-toggle="tab" href="#all-students">Students</a></li>	
					<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
				<% end %>
			<% end %>
		</ul>
		
		<div class="tab-content">
			<%  if(@conversation.is_section_conversation or @conversation.is_subject_conversation or @conversation.is_institute_conversation)%>
			
			<% else %>
				<div class="tab-pane active" id="all-contacts">
					<% if(!current_user.role.include?("Student") and !current_user.role.include?("Parent")) %>
						<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
							<div class="pull-left add-member">
								<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>

						<%= link_to add_new_member_institute_path(@institute) do %>
							<div class="pull-right add-member">
								<span>New Contact</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
					<% end %>
					<div class="clearfix mar-btm"></div>
					<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
						<% if(!@conversation.other_participants(current_user).blank?) %>
							<% @conversation.other_participants(current_user).each do |contact| %>
								<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
							<% end %>
						<% end %>
					</div>	
				</div>
			<% end %>
			<% if(@conversation.is_institute_conversation) %>
				<div class="tab-pane active" id="all-contacts">
					<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
						<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
							<div class="pull-left add-member">
								<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>

						<%= link_to add_new_staff_institute_path(@institute, role: "Institute Admin") do %>
							<div class="pull-right add-member">
								<span>Add Admin</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
					<% end %>
					<div class="clearfix mar-btm"></div>
					<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
						<% if(!@contacts.blank?) %>
							<% @contacts.each do |contact| %>
								<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
							<% end %>
						<% end %>
					</div>	
				</div>

				<div class="tab-pane" id="all-teachers">
					<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
						<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
							<div class="pull-left add-member">
								<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>

						<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
							<div class="pull-right add-member">
								<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
					<% end %>
					<div class="clearfix mar-btm"></div>
					<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
						<% if(!@teachers.blank?) %>
							<% @teachers.each do |contact| %>
								<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
							<% end %>
						<% end %>
					</div>	
				</div>

				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
					<div class="tab-pane" id="all-students">
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
								<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>

							<%= link_to add_new_student_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@students.blank?) %>
								<% @students.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact} %>		
								<% end %>
							<% end %>		
						</div>						
					</div>

					<div class="tab-pane" id="all-parents">
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
								<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
							
							<%= link_to add_new_parent_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Parent</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@parents.blank?) %>
								<% @parents.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact} %>		
								<% end %>
							<% end %>
						</div>	
					</div>
				<% end %>

			<% end %>

			<% if(@conversation.is_section_conversation) %>
				<% section = @conversation.section %>
				<% grade = @conversation.grade %>
				<% classteacher = section.get_classteacher_for_institute_and_grade(@institute, grade) if !section.blank? and !grade.blank? %>
				
				<div class="tab-pane active" id="all-classteachers">

					<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>
						
						<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
							<div class="pull-left add-member">
								<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>

						<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
							<div class="pull-right add-member">
								<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
					<% end %>
					<div class="clearfix mar-btm"></div>
					<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
						<%= render partial: "conversations/contact", locals: {contact: @classteacher} if !@classteacher.blank? %>		
					</div>
				</div>

				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
					<div class="tab-pane" id="all-students">
						
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>
							
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>		<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
							
							<%= link_to add_new_student_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@students.blank?) %>
								<% @students.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact} %>		
								<% end %>
							<% end %>		
						</div>						
					</div>
					<div class="tab-pane" id="all-parents">
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
								<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
							
							<%= link_to add_new_parent_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Parent</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@parents.blank?) %>
								<% @parents.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact} %>		
								<% end %>
							<% end %>
						</div>	
					</div>
				<% end %>

				<div class="tab-pane" id="all-subjects">
					
					
					<ul class="list-unstyled list-inline text-center">
						<% if(!@section_subject_models.blank?) %>
							<% @section_subject_models.each do |section_subject_model| %>
								<% subject = section_subject_model.subject %>
																	
								<% subject_teacher =  @section.get_subject_teacher_for_institute_and_grade_and_subject(@institute, @grade, subject) %>
								<% students_count =  @section.sections_members.where(institute_id: @institute.id, member_role: "Student").count %>
								<li>
									<div class="ch-item">	
										<div class="ch-info">
											<h3><%= subject_teacher.first_name if !subject_teacher.blank?%> <%= subject_teacher.last_name  if !subject_teacher.blank? %></h3>
											
											<p><%= subject_teacher.first_name if !subject_teacher.blank?%> <%= subject_teacher.last_name  if !subject_teacher.blank? %><a href="<%= institute_grade_section_subject_path(@institute, @grade, @section, subject) %>" style="font-size:6px;"><%= subject.subject_name %></a></p>
										</div>
										<div class="ch-thumb">
											<span style="font-size:14px;margin-left:-32px;"><%= subject.subject_name %></span>
											<span><%= students_count %> Students</span>
										</div>
									</div>
									<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_section_subject_path(@institute, @grade, @section, subject) do %>Go To <%= subject.subject_name %><% end %></button>
								</li>
								
							<% end %>
						<% end %>
						
					</ul>
				
				</div>

			<% end %>

			<% if(@conversation.is_subject_conversation) %>
				<% section = @conversation.section %>
				<% grade = @conversation.grade %>
				<% classteacher = section.get_classteacher_for_institute_and_grade(@institute, grade) if !section.blank? and !grade.blank? %>
				
				<div class="tab-pane active" id="all-subjectteachers">
					<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>	
						<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
							<div class="pull-left add-member">
								<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
							</div>	
						<% end %>
						
						<%= link_to add_new_staff_institute_path(@institute, role: "Teacher") do %>
							<div class="pull-right add-member">
								<span>Add Teacher</span><i class="material-icons">&#xE7FE;</i>
							</div>	
						<% end %>
					<% end %>
					<div class="clearfix mar-btm"></div>
					<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
						<%= render partial: "conversations/contact", locals: {contact: @subjectteacher} if !@subjectteacher.blank?%>	
					</div>
				</div>

				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
					<div class="tab-pane" id="all-students">
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>
								<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>	
							<% end %>								
							
							<%= link_to add_new_student_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@students.blank?) %>
								<% @students.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact}	 %>	
								<% end %>
							<% end %>		
						</div>				
					</div>

					<div class="tab-pane" id="all-parents">
						<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or (!classteacher.blank? and current_user.id == classteacher.id)) %>
							<%= link_to new_conversation_path(conversation_id: @conversation.id) do %>

								<div class="pull-left add-member">
									<span>Add Participient</span><i class="material-icons">&#xE7FE;</i>
								</div>	
							<% end %>
							
							<%= link_to add_new_parent_institute_path(@institute) do %>
								<div class="pull-right add-member">
									<span>Add Parent</span><i class="material-icons">&#xE7FE;</i>
								</div>
							<% end %>
						<% end %>
						<div class="clearfix mar-btm"></div>
						<div class="conversation-partial" style="max-width:600px;margin: 0 auto;">
							<% if(!@parents.blank?) %>
								<% @parents.each do |contact| %>
									<%= render partial: "conversations/contact", locals: {contact: contact} %>		
								<% end %>
							<% end %>
						</div>	
					</div>
				<% end %>
			<% end %>

			
		</div>
	</div>
	
<% end %>

<div class="detect-div"></div>

<div class="container-width tabs-container conversation-big" data-conversation-id="<%= @conversation.id %>">
	<div class="scroller scroller-left"><</div>
	<div class="scroller scroller-right">></div>	
	<div class="tabs-wrapper">		
		
		<div class="chat-show-tabs-upper-div">
			<ul class="nav nav-tabs list" role="tablist" id="tablist">
				<li class="active">
					<a data-toggle="tab" href="#all-Messages" data-message-category-input-id="#Messages-message-category-input">Messages</a>
				</li>
				<li>
					<a data-toggle="tab" href="#all-Media" data-message-category-input-id="#Media-message-category-input">Media</a>
				</li>
				<% if(!@conversation.message_categories.blank?) %>
					<% @conversation.message_categories.split(", ").each do |category| %>
						<li>								
							<a data-toggle="tab" href="#all-<%=category.split(" ").join("_")%>" data-message-category-input-id="#<%= category.split(" ").join("_") %>-message-category-input"><%= category %></a>
						</li>
					<% end %>
				<% end %>
				<% if(@conversation.can_user_send_message(current_user)) %>
					
						<li class="custom-events">
							<a data-toggle="tab" href="#all-custom-events"><span><i class="material-icons" style="font-size:12px;">&#xE145;</i></span><span>New Category</span></a>
						</li>
					
				<% end %>
			</ul>
		</div>	
		<div class="tab-content admin-home-content" style="max-width:600px; margin: 0 auto; margin-top:50px; margin-bottom: 70px;">
			<div class="tab-pane active messages Messages-category-messages" id="all-Messages">
				<% if(!@Messages_category_messages.blank?) %>
					<% @Messages_category_messages.each do |message| %>
						<%= render partial: "messages/message", locals: {conversation: @conversation, message: message} %>
					<% end %>
					<%= paginate @Messages_category_messages, window: 1, params: {anchor: "all-Messages"} %>
				<% end %>

			</div>
			<div class="tab-pane messages Media-category-messages" id="all-Media">
				<% if(!@Media_category_messages.blank?) %>
					<% @Media_category_messages.each do |message| %>
						<%= render partial: "messages/message", locals: {conversation: @conversation, message: message} %>
					<% end %>
					<%= paginate @Media_category_messages, window: 1, params: {anchor: "all-Media"} %>
				<% end %>

			</div>

			<% if(!@conversation.message_categories.blank?) %>

				<% @conversation.message_categories.split(", ").each do |category| %>
					<div class="tab-pane messages <%= category.split(" ").join("_") %>-category-messages" id="all-<%= category.split(" ").join("_") %>">
						<% category_messages = instance_variable_get("@" + category.split(" ").join("_") + "_messages") %>
						<% if(!category_messages.blank?) %>
							<% category_messages.each do |message| %>
								<%= render partial: "messages/message", locals: {conversation: @conversation, message: message} %>
							<% end %>
							<%= paginate category_messages, window: 1, params: {anchor: "all-" + category.split(" ").join("_")} %>
						<% end %>
						
					</div>
				<% end %>

			<% end %>	
			
			<div id="all-custom-events" class="tab-pane">
				<div class="row">
					<%= form_tag add_message_category_conversation_path(@conversation), method: :post, remote: true do %>
						<div class="col-xs-9">
							<div class="form-group">
								<%= text_field_tag :message_category, nil, placeholder: "Category Name", required: true, class: "message-category form-control" %>
							</div>
						</div>
						<div class="col-xs-3">
							<%= submit_tag :Add, class:"btn btn-success-custom btn-success btn-block new-category-name" %>
						</div>
					<% end %>
				</div>
				<h4 class="text-muted">Remove Categories</h4>
				<ul class="list-inline append-categories-tab-content">
					<% if(!@conversation.message_categories.blank?) %>
						<% @conversation.message_categories.split(", ").each do |category| %>												
							<li class="<%= category %>-Message-category-remove-link-li">													
								<%= link_to delete_message_category_conversation_path(@conversation, message_category: category), method: :delete,id:"#{category}-new-category-name", remote: true do %>
									<%= button_tag :Delete, class:"btn btn-success-custom btn-success btn-block new-category-name" do %>
										<span><%= category %> </span>
										<span class="close-icon">&times;</span>
									<% end %>
								<% end %>
							</li>												
						<% end %>
					<% end %>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<% if(@conversation.can_user_send_message(current_user)) %>	
	<span class="personal-message-icon">
		<i class="material-icons" data-toggle="modal" data-target="#customMessageModal">&#xE0C9;</i>
	</span>

	<div id="customMessageModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Send Message</h4>
					
				</div>
				<div class="modal-body">
					<%= form_tag conversation_messages_path(@conversation), id: "message-form", method: :post, remote: true, "autocomplete"=>"off" do %>
						<ul class="list-inline attachment-toggle-show" id="attachment-toggle-show">
							<li id="Image-attachment-li">
								<div class="inner-list">
									<label for="Image-attachment-category-input" class="radio attached-events"><input type="radio" id="Image-attachment-category-input" name="attachment_category" value="Image"><i class="material-icons">&#xE432;</i><br><span>Image</span></label>
								</div>
							</li>
							<li id="Video-attachment-li">
								<div class="inner-list">
									<label for="Video-attachment-category-input" class="radio attached-events"><input type="radio" id="Image-attachment-category-input" name="attachment_category" value="Video"><i class="material-icons">&#xE04A;</i><br><span>Video</span></label>
								</div>
							</li>
							<li id="Link-attachment-li">
								<div class="inner-list">
									<label for="Link-attachment-category-input" class="radio attached-events"><input type="radio" id="Link-attachment-category-input" name="attachment_category" value="Link"><i class="material-icons">&#xE157;</i><br><span>Link</span></label>
								</div>
							</li>
							<% if(!@conversation.message_categories.blank?) %>
								<% @conversation.message_categories.split(", ").each do |category| %>
									<li id="<%= category %>-attachment-li">
										<div class="inner-list">
											<label for="<%= category %>-attachment-category-input" class="attached-events radio">
												<input type="radio" id="<%= category %>-attachment-category-input" name="attachment_category" value="<%= category %>">
												<i class="material-icons">&#xE80C;</i>
												<br>
												<span><%= category %></span>													
											</label>
										</div>
									</li>
								<% end %>
							<% end %>
						
							<li class="attachment-custom-label">
								<div class="inner-list">
									<label for="custom-label" class="add-attached-events radio"><i class="material-icons">&#xE145;</i><br><span>New Category</span></label>
								</div>
							</li>
						
						</ul>
						<div style="display: none" class="message-categories-div">
							<%= radio_button_tag :message_category, :Messages, true, id: "Messages-message-category-input" %>
							<%= radio_button_tag :message_category, :Media, false, id: "Media-message-category-input" %>
							<% if(!@conversation.message_categories.blank?) %>
								<% @conversation.message_categories.split(", ").each do |category| %>
									<%= radio_button_tag :message_category, category, false, id: "#{category}-message-category-input" %>
								<% end %>
							<% end %>
						</div>
						
						<div class="form-group">
							<%= text_area_tag :content, nil, autocomplete: false, placeholder: "Type your message", :class=> "form-control chat-input", id: "new-message-text-field", row: "4"%>	
							
						</div>
						<div class="attachment-send-button">
							<p class="pull-left"><i class="material-icons attachment-icon" id="attach-icon">&#xE226;</i></p>
							
							<label class="pull-right file-label" for="conversation-chat-image" style="width:10%;">
								<p class="" style="width:100%;border-left:1px solid #cacaca;"><i class="material-icons">&#xE3B0;</i></p>
								<%= file_field_tag "attached_files[]",:id=>"conversation-chat-image", :class=>"custom-file-input", multiple: true, onchange: "fileChanged(this);" %>	
							</label>
							
							<button class="btn btn-danger" type="submit" data-disable-with="Sending">Send</button>
						</div>
					<% end %>	
					
				</div>
				
			</div>
		</div>
	</div>
<% end %>

<div id="seenStatusModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Seen by</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>

<div id="submissionStatusModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Submission Status</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>

<script>
	$(document).one("turbolinks:load", function(){
		$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
		
	});
	

	if(!App.isChannelSubscribed("ConversationsChannel", {conversation_id: <%= @conversation.id %>})){
		App.subscribe_to("ConversationsChannel", {conversation_id: <%= @conversation.id %>});
	}

	var pageNo = 2;
	var resultLoaded = {};
	$('.load-earlier-messages-button').click(function(event){
		
		message_category = $(this).attr("data-message-category");
		
		resultLoaded[message_category] = true;
		if(resultLoaded && resultLoaded[message_category] == true){
			
			resultLoaded[message_category] = false;
			
			$.ajax({
				url: "/conversations/<%= @conversation.id %>.js?message_category=" + message_category + "&page="+ pageNo,  
				type: "GET",
				beforeSend: function(data) {
					var csfrToken = $("meta[name='csrf-token']").attr("content");
					data.setRequestHeader('X-CSRF-Token', csfrToken);
				},
				success: function(data) {
					if(data.trim().length == 0) {
						resultLoaded[message_category] = false;
					} else {
						var messagesDivClass = "." + message_category + "-category-messages";
						var messagesDiv = $(messagesDivClass);
						var lastMessageDiv = $(messagesDiv).find(".message").last();
						var curOffset = lastMessageDiv.offset().top - $(document).scrollTop();
						messagesDiv.prepend(data);
						$(document).scrollTop(lastMessageDiv.offset().top-curOffset);
						resultLoaded[message_category] = true;
						pageNo++;
					}
				}
			});
		} else {
			
		}
	
	});

	<% if((@conversation.is_custom_group == false) or (current_user.role != "Student" and current_user.role != "Parent")) %>
		$("#message-form").on("submit", function(e){
			e.preventDefault();
			var submitForm = false;
			
			files = $('.custom-file-input')[0].files;
			if(files.length >= 1){
				var reader = new FileReader();
				reader.onload = function(file) {
									
					var fileType = file.target.result.split(";")[0].split(":")[1];

					var fileMarkup;
					
					if(fileType.split('/')[0] == "video"){
						
						fileMarkup = [ '<video width="200" height="200" controls class="video-js vjs-default-skin">',
	  										'<source src="', file.target.result, '" type="video/' + fileType.split('/')[1] +'" >',
	  										
	  										'Your browser does not support the video tag.',
										'</video>'].join('');

					}

					if(fileType.split('/')[0] == "image"){
						fileMarkup = ['<img  height="200" width = "200" src=', file.target.result, '>'].join('');
					}


					
					messageMarkup = [
						'<div class="messages-media temp-message" >',
							'<div class="media main-media">',
								'<div class="media-left pull-right">',
									'<a href="javascript:void(0)">',
										'<img src="<%= current_user.profile_picture.media.url(:thumb) %>" class="img-circle img-xs" >',
									'</a>',	
								'</div>',
								'<div class="media-body media-middle">',
									'<h5 class="media-heading text-muted"><%= current_user.details %></h5>',
									'<span class="pull-left"><%= current_user.first_name %></span>',
								'</div>',
							'</div>',
							'<div class="media-content text-muted">', message , '</div>',
							'<p>', fileMarkup, '</p>',
						'</div>'				
					];
					
					$(".Messages-category-messages").prepend(messageMarkup.join(''));
					if($('#all-Messages').attr("class").indexOf("active") <= 0){
						$(".Media-category-messages").append(messageMarkup.join(''));
						if($('#all-Media').attr("class").indexOf("active") <= 0){
							$($('li.active a').attr('href')).find('.messages').append(messageMarkup.join(''));		
						}
						
					}
					
					//App.scrollToBottomOfPage();
					
				}

				$.each( files, function( i, file ) {
					reader.readAsDataURL(file);
				});
				
				submitForm = true;
			}
			
			var message = $("#new-message-text-field").val();
			var trimedMessage = message.trim();		
			
			if(trimedMessage.length >= 1){
				if(submitForm==true){

					
				} else{
					messageMarkup = [
						'<div class="messages-media temp-message" >',
							'<div class="media main-media">',
								'<div class="media-left pull-right">',
									'<a href="javascript:void(0)">',
										'<img src="<%= current_user.profile_picture.media.url(:thumb) %>" class="img-circle img-xs" >',
									'</a>',	
								'</div>',
								'<div class="media-body media-middle">',
									'<h5 class="media-heading text-muted"><%= current_user.details %></h5>',
									'<span class="pull-left"><%= current_user.first_name %></span>',
								'</div>',
							'</div>',
							'<div class="media-content text-muted">', message , '</div>',
						'</div>'								
					];
				}
				$(".Messages-category-messages").prepend(messageMarkup.join(''));
				if($('#all-Messages').attr("class").indexOf("active") <= 0){
					$($('li.active a').attr('href')).find('.messages').append(messageMarkup.join(''));	
				}			
				
				
				//App.scrollToBottomOfPage();
			
				
				submitForm = true;
				
			}
			
			return submitForm;
		});

		function fileChanged(event){
				
			var files = event.files;
			
			if(files.length > 0){
				
				var reader = new FileReader();
				reader.onload = function(file) {
									
					var fileType = file.target.result.split(";")[0].split(":")[1];

					var fileMarkup;
					
					if(fileType.split('/')[0] == "video"){
						
						fileMarkup = [ '<video width="50" height="50" controls class="video-js vjs-default-skin">',
											'<source src="', file.target.result, '" type="video/' + fileType.split('/')[1] +'" >',
											
											'Your browser does not support the video tag.',
										'</video>'].join('');

					}

					if(fileType.split('/')[0] == "image"){
						fileMarkup = ['<img  height="50" width = "50" src=', file.target.result, '>'].join('');
					}
					var innerFileMarkup = [
						'<p style="clear:both;" class="temp-message">', fileMarkup , '</p>'
					];
					$(innerFileMarkup.join('')).insertBefore("div.attachment-send-button");
				}
				$.each( files, function( i, file ) {
					reader.readAsDataURL(file);
				});
				
				
			}		
		}

	<% end %>
	
</script>

<script>
var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
$(".ch-thumb").each(function(index) {
    var len = randomColors.length;
    var randomNum = Math.floor(Math.random()*len);
    $(this).css("backgroundColor",randomColors[randomNum]);
    randomColors.slice(randomNum, 1);
});
$(".double-checkmark").on("click", function(){
	var messageId = $(this).attr("data-message-id");
	$.ajax({
		url: "/conversations/<%= @conversation.id %>/messages/" + messageId + "/seen_by_users.js",  
		type: "GET",
		success: function(data) {
			if(data.trim().length == 0) {
				$("#seenStatusModal").find(".modal-body").html("No one has yet seen this message !");
			} else {
				$("#seenStatusModal").find(".modal-body").html(data);
			}
		}
	});
	$("#seenStatusModal").modal('show');
});

$(".checkmark").on("click", function(){
	var messageId = $(this).attr("data-message-id");
	$.ajax({
		url: "/conversations/<%= @conversation.id %>/messages/" + messageId + "/acted_by_users.js",  
		type: "GET",
		success: function(data) {
			if(data.trim().length == 0) {
				$("#submissionStatusModal").find(".modal-body").html("No one has yet acted on this message !");
			} else {
				$("#submissionStatusModal").find(".modal-body").html(data);
			}
		}
	});
	$("#submissionStatusModal").modal('show');
});


</script>
