<div class="container">
	<div class="row">
		<%= form_tag complete_registration_user_path(@user), method: :post, multipart: true, remote: true, :class=>"form-complete-register", :id => "form-complete-register", "autocomplete"=>"off" do %>
			<div class="col-md-3 text-center">
				<div id="user-profile-picture-target">
					<div id="user-profile-picture-inner-target" class="user-profile-picture-inner-target">
						<img src="<%= current_user.profile_picture.media.url(:thumb) %>" class="img-circle"> 
						
					</div>

					<label class="file-label" for="profile-pic-uploadBtn">
						<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
						<%= file_field_tag :profile_picture, :id=>"profile-pic-uploadBtn" %>
					</label>
				</div>
				<span style="font-size:20px;"><%= @user.first_name %> <%= @user.last_name %></span>			
			</div>
			<div class="col-md-9 text-center">
				<h3 class="text-muted text-left">Complete your Institute Registration</h3>
				<div class="form-group">
					<%= text_field_tag :institute_name, nil , id: "pac-input", class: "controls form-control", placeholder: "My Institute name", required: true %>
				</div>
				<div id="map"></div>
				<div class="form-group">
					<%= select_tag :role, options_for_select([["My role", ""], ["Principal", "Principal"], ["Institute Admin", "Institute Admin"], ["Teacher", "Teacher"], ["Student", "Student"], ["Parent", "Parent"]],[@user.role, @user.role]), required: true, id: "role-input",class: "form-control"  %>
				</div>
				<%= hidden_field_tag :institute_latitude, nil, id: "institute_latitude-field" %>
				<%= hidden_field_tag :institute_longitude, nil, id: "institute_longitude-field" %>
				
				<div class="grades-div text-left" style="display: none;">
					Choose Grades and Subjects your Institute offer
					<% Grade.all.each do |grade| %>					
						<div class="main-grade">
		
							<ul class="detectul">
								<li class="listitems"> 
									<div class="checkbox">
										<label for="grades-division-<%= grade.id %>" class="grades-division">
											<%= check_box_tag "grade_ids[]", grade.id, false, { class: "checkbox grade-names-input", id: "grades-division-#{grade.id}"} %>
											<span>Class <%= grade.grade_name %></span>
											<span><i class="material-icons circle-arrow-down-icon" style="top:9px;right:6px;font-size:27px;color: #fff;">&#xE313;</i></span>
										</label>
									</div>
								</li>
							</ul>	
							<div class="division-criterias" style="display:none;">
								<div class="division-section">
									<span class="text-muted division-criteria-style division-criteria-subject-style">All Sections: </span>
									<input type="checkbox" name="subject-selector" class="all-sections" id="all-sections"/>
									<div class="division-upper-sections">	
										<% Section.all.each do |section| %>
											<%= check_box_tag "grades[#{grade.id}][section_ids][]", section.id, false, {"data-role" => "none", class: "grade-section-names-input"} %>
											<span><%= section.section_name %></span>
										<% end %>
										
									</div>
									
								</div>
								
								<div class="division-subjects">	
									<span class="text-muted division-criteria-style division-criteria-subject-style">All subjects: </span>
									<input type="checkbox" name="subject-selector" class="all-subjects" id="all-subjects"/>
									
									<div class="division-upper-subjects">	
										<% Subject.all.each do |subject| %>		
											<label for="grade-subject-names-input-<%= subject.subject_name %>-<%= grade.id %>" class="labelForSubjects">
												<div class="division-inner-subjects">											
													<%= check_box_tag "grades[#{grade.id}][subject_ids][]", subject.id, false, {"data-role" => "none", class: "grade-subject-names-input grade-subject-names-input-#{subject.subject_name}", id: "grade-subject-names-input-#{subject.subject_name}-#{grade.id}"} %>
													<span><%= subject.subject_name %></span>
												</div>		
											</label>
										<% end %>
									</div>								
								</div>	
							</div>	
						</div>					
					<% end %>
				</div>
				<div class="form-group">
					<%= text_field_tag :institute_contact_info, nil, placeholder: "Email or Mobile no of Institute Contact Person", id: "school_contact_info-input",class: "form-control", style: "display: none" %>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group form-button-register">
					<%= button_tag(type:"submit", class: "form-control btn btn-login", data: {disable_with: "Saving"}) do %>
						Save
					<% end %>
					<div class="form-control btn btn-info btn-info-complete">Reset</div>
				</div>
			</div>	
		<% end %>
	</div>
</div>	
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow&libraries=places&callback=initMap"
        async defer></script>

<script>
	<% if(["Principal", "Institute Admin"].include?(@user.role)) %>
		$(".grades-div").show();
	<% end %>
	
	<% if(["Teacher", "Student", "Parent"].include?(@user.role)) %>
		$("#school_contact_info-input").show();
		$("#school_contact_info-input").attr("required", true);
	<% end %>

	$(document).on('change','.grade-names-input',function(){
		if($(this).is(':checked')) {
			$(this).parents(".main-grade").find(".division-criterias").slideDown();
			$(this).parents("ul.detectul").find(".circle-arrow-down-icon").addClass("arrow-circle-up");
		} else {
			$(this).parents(".main-grade").find(".division-criterias").slideUp();
			$(this).parents("ul.detectul").find(".circle-arrow-down-icon").removeClass("arrow-circle-up");
		}
	});
	$(".all-subjects").change(function (e) {
		$(this).parents(".main-grade").find(".division-upper-subjects input:checkbox").prop('checked', $(this).prop("checked"));
		e.preventDefault();
	});
	$(".all-sections").change(function(e){
		$(this).parents(".main-grade").find(".division-upper-sections input:checkbox").prop('checked', $(this).prop("checked"));
	});

	$("#role-input").change(function(){
		if($(this).val() == ""){
			$('.grades-div').hide();
			$("#school_contact_info-input").hide();
			$("#school_contact_info-input").attr("required", false);
			
			
		}
		if($(this).val() == "Institute Admin" || $(this).val() == "Principal"){
			$('.grades-div').show();
			$("#school_contact_info-input").hide();
			$("#school_contact_info-input").attr("required", false);
		}

		if($(this).val() == "Teacher" || $(this).val() == "Student" || $(this).val() == "Parent"){
			$('.grades-div').hide();
			$("#school_contact_info-input").show();
			$("#school_contact_info-input").attr("required", true);
		}
	});

	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 28.6139, lng: 77.2090},
          zoom: 13
        });
        var input = /** @type {!HTMLInputElement} */(
            document.getElementById('pac-input'));

        var types = document.getElementById('type-selector');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocomplete.setTypes(['establishment']);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setIcon(/** @type {google.maps.Icon} */({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
          }));
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
          $("#institute_latitude-field").val(place.geometry.location.lat());
          $("#institute_longitude-field").val(place.geometry.location.lng());

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });
    
    }


	$(function() {
		$('#profile-pic-uploadBtn').on('change', function(event) {
			var files = event.target.files;
			var image = files[0]
			var reader = new FileReader();
			reader.onload = function(file) {
			  var img = new Image();
			  img.src = file.target.result;
			  img.className = "custom-profile-image img-circle";
			  $('#user-profile-picture-inner-target').html(img);
			}
			reader.readAsDataURL(image);
		});
		
	});	
	$(".btn-info-complete").on("click", function(){
		$("#form-complete-register")[0].reset();
	});

</script>