<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header">
	<div class="container-fluid">
		<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
			<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i></a>
			<div class="media pull-left">
				<div class="media-body chat-show-media">
					<h4 class="media-heading"> Edit your Profile </h4>

					<p> Last Updated <%= show_human_time(@user.updated_at) %> </p>	
				</div>
			</div>
		</div>

	</div>
</nav>
<div class="container new-group-member-container">
	<div class="row">
		<%= form_tag user_path(@user), method: :put, multipart: true, remote: true, class:"form-complete-register","autocomplete"=>"off" do %>
		<div class="row new-group-row">
			<div class="col-lg-12 text-center">
				<div id="new-group-profile-picture-target">
					<div id="new-group-profile-picture-inner-target" class="new-group-profile-picture-inner-target">
						<img src="<%= @user.profile_picture.media.url(:thumb) %>" class="img-responsive" >
					</div>	
					<label class="file-label" for="new-group-profile-pic-uploadBtn">
						<span class="file-label-class"><i class="material-icons">&#xE439;</i></span>
						<%= file_field_tag :profile_picture, :id=>"new-group-profile-pic-uploadBtn" %>
					</label>
				</div>			

			</div>
			<div class="col-md-12 text-center edit-user-page">
				<span></span>
				<div class="form-group">
					<%= text_field_tag :first_name, @user.first_name, placeholder: "First Name", "autocomplete"=>"off", class:"form-control", required: true %>				
				</div>
				<div class="form-group">
					<%= text_field_tag :last_name, @user.last_name, placeholder: "Last Name", "autocomplete"=>"off", class:"form-control", required: true %>
				</div>
				<div class="form-group phone-number-group">
					<%= number_field_tag :isd_code, 91, placeholder: "ISD code", id: "new-member-isd-code",class:"form-control isd-control", "autocomplete"=>"off" %>
					<%= number_field_tag :mobile_no, @user.mobile_no, placeholder: "Contact Number", id: "new-member-contact-no",class:"form-control", class:"form-control", "autocomplete"=>"off" %>
				</div>
				<div class="form-group">
					<%= email_field_tag :email, @user.email, placeholder: "Email", class:"form-control", "autocomplete"=>"off" %>
				</div>
				<div class="form-group">
					<%= select_tag :gender, options_for_select([["Gender", ""], ["Male", "male"], ["Female", "female"]],["Gender", @user.gender]), class:"form-control"  %>
				</div>
				<%= button_tag(type:"submit", class: "new-group-submit-button") do %>
					<i class="material-icons">&#xE876;</i>
				<% end %>	
			</div>	
		</div>	
	<% end %>
</div>	

<%= link_to edit_user_registration_path do %>
	<button class="btn btn-danger change-password-btn"> Change Password </button>
<% end %>

<script>
	$('#profile-pic-uploadBtn').on('change', function(event) {
		var files = event.target.files;
		var image = files[0]
		var reader = new FileReader();
		reader.onload = function(file) {
		  var img = new Image();
		  img.src = file.target.result;
		  $('#user-profile-picture-target').html(img);
		}
		reader.readAsDataURL(image);
	});
</script>