<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i><%= @user.first_name %> <%= @user.last_name %></a>
<% end %>

<div class="container" style="margin-top:90px;">
	<div class="row">
		<div class="user-details">
            <div class="user-image">
                <img src="<%= @user.profile_picture.media.url(:medium) %>" class="img-circle img-xs"%>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <span class="help-block"><%= @user.details %></span>
                </div>
				<div class="user-body" style="margin-bottom: 70px;">
                    <div class="">
                        <div id="information">
                    	
							<div class="personal-infromation">
								<% if(@user.role == "Teacher") %>
	                        		<% if(!@assigned_classteacher_grades_sections_model.blank?) %>
	                        			<p>ClassTeacher of Class <%= @assigned_classteacher_grades_sections_model.grade.grade_name %><%= @assigned_classteacher_grades_sections_model.section.section_name %></p>
	                        		<% end %>
	                        		<% if(!@teaching_sections_subjects_models.blank?) %>
	                        			<p>Teaches <%= @teaching_sections_subjects_models.map{|ss| ss.subject.subject_name}.uniq.join(", ") %> in Class <%= @teaching_sections_subjects_models.map{|ss| ss.grade.grade_name + ss.section.section_name}.uniq.join(", ") %></p>
	                        		<% end %>
	                        	<% end %>
	                        	
								<h4>Personal Information</h4>
								<p>Email Id: <span class="pull-right"> <%= @user.email %> </span></p>
								<p>Mobile no: <span class="pull-right"> <%= @user.mobile_no %> </span></p>
								<% if(@user.role == "Student" and !@user.father.blank?) %>
									<h4> Father </h4>
									<p><%= render partial: "conversations/contact", locals: {contact: @user.father} %></p>
								<% end %>
								<% if(@user.role == "Student" and !@user.mother.blank?) %>
									<h4> Mother </h4>
									<p><%= render partial: "conversations/contact", locals: {contact: @user.mother} %></p>
								<% end %>

								<% if(@user.role == "Parent" and !@user.child_ids.blank?) %>
									<h4> Children </h4>
									<% @user.children.each do |child| %>
										<p><%= render partial: "conversations/contact", locals: {contact: child} %></p>
									<% end %>
									
								<% end %>
							</div>	
							<% if(@user.id == current_user.id) %>					
								<p>
									<%= link_to root_path do %>
										My Messages
									<% end %>
								</p>
								<p class="my-classes-teacher">
									<%= link_to institute_grades_path(@institute) do %>
										My Classes
									<% end %>	
								</p>
								<p>
									<%= link_to my_classwork_conversations_path do %>
										My ClassWork
									<% end %>
								</p>							
								<p>
									<%= link_to institute_events_path(@institute) do %>
										Event Calendar
									<% end %>
								</p>
							<% end %>	
							
                        </div>
                        <% if(user_signed_in? and @user.id == current_user.id) %>
							<div class="log-out">
								<%= link_to edit_user_path(current_user) do %>
									<button type="button" class="btn btn-danger">Edit Profile</button>
								<% end %>
								
							</div>
						<% end %>
						
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>	
<script>
	$(".my-classes-teacher").click(function(e){
		$(this).find(".arrow-up-icon").toggleClass("arrow-down-icon");
		$(".my-classes-teacher-toggle").slideToggle();
	});
	if($(".inner-toggle-my-teacher-classes").css("display")=="none"){
		$("hr.line-hr").addClass("display_none");
	}
	$(".inner-subject-toggle").click(function(e){
		$(this).toggleClass("arrow-down-icon");
		$(this).parents("ul.my-classes-teacher-toggle li").find("hr").toggleClass("display_none");
		$(this).parents("ul.my-classes-teacher-toggle li").find(".inner-toggle-my-teacher-classes").slideToggle();
	});
</script>
