<div class="back-to-home">
	<a href="#"><i class="material-icons">&#xE317;</i></a>
	<p><%= link_to "login or Register", new_user_session_path %></p>
</div>
<ul class="nav nav-pills help-pills">
	<li class="active"><a data-toggle="pill" href="#parent">I am Parent</a></li>
	<li><a data-toggle="pill" href="#teacher">I am Teacher</a></li>
	<li><a data-toggle="pill" href="#admin">I am Admin</a></li>
</ul>

<div class="tab-content" style="margin-top: 100px;">
	<div id="parent" class="tab-pane fade in active">
		<div class="container-width content-main common-width">
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "3.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div id="teacher" class="tab-pane fade">
		<div class="container-width content-main common-width">
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "3.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div id="admin" class="tab-pane fade">
		<div class="container-width content-main common-width">
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "3.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-6">
					<div class="content">	
						<%= image_tag "1.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<div class="content actual-content">
						<h1>Support</h1>
						<p>
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
			<div class="row vertical-align">
				<div class="col-sm-6 col-sm-push-0">
					<div class="content">
						<%= image_tag "2.png" , class: "img img-responsive" %>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-0">
					<div class="content actual-content">	
						<h1>Support</h1>
						<p>						
							Support Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support 
							Support Support Support Support Support Support Support Support 
							Support Support Support Support 
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>