<div class="wrapper-parallex">
	<div class="header-parallex">
		<div class="brand-header" style="float:left;">
			<h1><span style="color:#fff;">Class</span><span style="color:#777;">Talk</span></h1>
		</div>  
		<div class="burger-menu-div">
			<span class="burger-menu"></span>
		</div>
		<ul class="main-menu menu-scroll">
			<li class="to-scroll"><a href="#home">Home</a></li>
			<li class="to-scroll"><a href="#why-for-parents">Why For Parents?</a></li>
			<li class="to-scroll"><a href="#why-for-schools">Why For Schools?</a></li>
			<li class="to-scroll"><a href="#more-benefits">More Benefits</a></li>
			<li class="to-scroll"><a href="#screenshots">Screenshots</a></li>			
			<li class="to-scroll"><a href="#contact">Contact</a></li>
			<li class="not-to-scroll"><%= link_to "help", help_path %></li>
			<li class="not-to-scroll"><%= link_to "login or Register", new_user_session_path %></li>
		</ul>  
	</div>
	<div class="clear" style="clear:both;"></div>
	<div id="home">
		<section class="module parallax parallax-1">
			<div class="first-image">
                <div class="overlay">

                    <div class="container">
                        <div class="row relative">
							<%= image_tag "8.png", class: "intro-mobile img-responsive" %>
                            <div class="col-md-6 col-md-offset-6 text-center">
                                <h1 class="letter-spacing">
                                    Easiest And Most Natural Way For Parents to connect with their child’s school. 
                                </h1>

                                <p class="space40">
                                    Multiple logins per child

                                    allows both parents to stay updated with their child’s progress.
                                </p>
                                <div class="downloads space10">
                                    <a href=""><img src="" alt="apple" /></a>
                                    <a href="" target="_blank"><img src="" alt="android" /></a>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
	</div>		
	<div class="clear" style="clear:both;"></div>
	<div id="why-for-parents" class="section">
		<section class="module parallax parallax-2" style="background-image:url('')";>
			 <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection text-center">
                            <h2>How does it benefit <span class="bold">Parents </span>?</h2>
                       
                            <div class="coloredLine"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 leftFeatures">
                        <div class="text-right space100">
                            <i class="fa fa-comment bigIcon"></i>
                            <h4 class="bold">Easy Chat with Teachers</h4>
                            <p>
                                No more waiting till Parent Teacher Meeting for feedback. Ask for your child's progess to the teachers at a single click!
                            </p>
                        </div>

                        <div class="text-right">
                            <i class="fa fa-calendar bigIcon"></i>
                            <h4 class="bold">Daily notifications and Monthly Planner</h4>
                            <p>
                                Get the school planning in advance in your mobile. No need to reach out for physical

                                curriculums or notices for daily schedule.
                            </p>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <%= image_tag "7.png" , class: "img-responsive" %>
                    </div>

                    <div class="col-md-4 rightFeatures">
                        <div class="text-left space100">
                            <i class="fa fa-bell bigIcon"></i>
                            
                            <h4 class="bold">Cab Notifications/Updates</h4>
                            <p>
                                Get updates about when your kid reaches school and home. Track the status of the cab/bus.
                            </p>
                        </div>

                        <div class="text-left">
                            <i class="fa fa-share-alt bigIcon"></i>
                            <h4 class="bold">Share Notifications and Images/Videos/Assignments</h4>
                            <p>
                                Share school messages, media and files with your near and dear ones on any other app/mail.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
		</section>				
	</div>
	<div class="clear" style="clear:both;"></div>
	<div id="why-for-schools" style="padding: 100px 0px; background:#f1f1f1;">
		<section class="module parallax parallax-3">
			 <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection text-center" style="margin-bottom: 80px;">
                            <h2>
                                How does it benefit <span class="bold">Schools </span>?</h2>
                        
                            <div class="coloredLine"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 leftFeatures">
                        <div class="text-right space100">
                            <i class="fa fa-tags bigIcon"></i>
                            <h4 class="bold">Brand Building and High NPS</h4>
                            <p>
                                Presents school as a technology oriented school focused on the child’s growth. This in turn

                                increases School’s Net Promoter Score (NPS)
                            </p>
                        </div>
                        <div class="text-right">
                            <i class="fa fa-inr bigIcon"></i>
                            <h4 class="bold">Reduced Costs & Increased Efficiency</h4>
                            <p>
                                Leveraging technology to update all parents at the same times saves time and increases

                                efficiency.
                            </p>
                        </div>

                    </div>

                    <div class="col-md-4">
						<%= image_tag "12.png", class: "img-responsive" %>
                    </div>

                    <div class="col-md-4 rightFeatures">
                        <div class="text-left space100">
                            <i class="fa fa-comment bigIcon"></i>
                            <h4 class="bold">Instant Feedback to Parents</h4>
                            <p>
                                Need not wait for Parent teacher meeting to provide feedback about the child. Timely feedback

                                helps create better relations with the parent.
                            </p>
                        </div>

                        <div class="text-left">
                            <i class="fa fa-check bigIcon"></i>
                            <h4 class="bold">Attendance Management</h4>
                            <p>
                                Digitised attendance with monthly reports. Send instant information to parent if the child is absent.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
		</section>
	</div>
	<div class="clear" style="clear:both;"></div>
	<div id="more-benefits" style="padding: 100px 0px; background:#f9f9f9;">
		<section class="module parallax parallax-3">
			<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection">
                            <h2>More benefits when you connect with <span class="bold">Hello Parent</span></h2>
                            <p>
                                User convenience and data security are the top most priorities for Hello Parent

                            </p>
                            <div class="coloredLine"></div>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                    <div class="col-md-4 mg-sm-100">
                        <i class="fa fa-whatsapp bigIcon"></i>
                        <h4 class="bold">SMS/Email Integration</h4>
                        <p>
                            The system automatically identifies the parents not connected with the app and sends them

                            SMS/Email ensuring they are not left out.
                        </p>
                    </div>

                    <div class="col-md-4  mg-sm-100">
                        <i class="fa fa-lock bigIcon"></i>
                        <h4 class="bold">Secured Data Access</h4>
                        <p>
                            Hosted on one of the most reliable servers on the cloud. Data is 128-bit SSL secured(Bank level security) and the platform has  ISO 9001, ISO 27001, PCI DSS level 1& HIPAA certifications.

                        </p>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-comment bigIcon"></i>
                        <h4 class="bold">Moderated Messaging</h4>
                        <p>
                            Institutes can send messages to all the parents but parents can send message only to the school.
                        </p>
                    </div>

                </div>
            </div>
		</section>
	</div>
	<div class="clear" style="clear:both;"></div>
	<div id="screenshots" style="padding: 100px 0px;">
		<div class="screenshotSlider relative">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" style="background-image:url('<%= image_url "8.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "7.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "3.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "5.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "6.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "9.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "24.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "29.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "22.png" %>')"></div>
								<div class="swiper-slide" style="background-image:url('<%= image_url "4.png" %>')"></div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div id="contact" class="section" style="background:#f9f9f9;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titleSection">
						<h2>Get In Touch with<span class="bold"> CLASSTALK</span></h2>
						<div class="coloredLine"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<form id="contactForm">
					<div class="col-md-6 col-md-offset-3">
						<input id="name" type="text" class="form-control" name="name" placeholder="Your Name" required>
						<input id="email" type="email" class="form-control" name="email" placeholder="Your Email" required>
						<input type="text" pattern="^([0|\+[0-9]{1,5})?([1-9][0-9]{9})$" class="form-control" name="mobile"  placeholder="Your Mobile Number (format:valid 10 digit number)" required="required">
						<textarea class="form-control" id="message" rows="5" placeholder="Message"></textarea>

						<button class="btn-new" type="submit" id="submit" name="submit">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="index-footer">
		<div class="container">
			<div class="col-md-12" >
				<div id="footerLogo"><a href="#page-top" class="page-scroll" style="font-size: 53px;"><span style="color: #fff;">CLASS</span>TALK</a></div>
				<div class="space50"></div>
				<ul class="clearlist socialList">
					<li style="margin-right: 20px;"><a href="#" target="_blank"><i class="fa fa-facebook" style="margin-right: 2px;"></i><span> Facebook </span></a></li>
					<li><a href="#"><i class="fa fa-twitter" style="margin-right: 2px;"></i><span>Twitter</span></a></li>
					
				</ul>
				<hr>
				<p>
					&copy; CLASSTALK | <a href="/Home/PrivacyPolicy">Privacy Policy</a> | <a href="/Home/TermsOfService">Terms Of Service</a> 
			   
				</p>
			</div>
		</div>
	</footer>
	
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        }
    });
</script>
<script>
$(document).ready(function () {
    
    $('ul.menu-scroll li.to-scroll a').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $Target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $Target.offset().top-85
        }, 500, function () {
            window.location.hash = target;
        });
    });
});

$(document).ready(function(){
	var eventFired = 0;

	if ($(window).width() > 880) {
		$(".main-menu").css("display","block");
	}
	else {
		$(".main-menu").css("display","none");
		eventFired = 1;
	}
	$(window).on('resize', function() {
		if (!eventFired) {
			if ($(window).width() < 880) {
				$(".main-menu").css("display","none");
			} else {
				$(".main-menu").css("display","block");
			}
		}
	});
	$(".burger-menu-div").click(function(){
		$(".main-menu").toggle();
	});
});
</script>

