<% content_for :heading do %>
	D.A.V Public School
<% end %>
<div class="container-width classRoute instituteRoute" style="margin-top:69px;">
	<ul class="nav nav-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#all-contacts">Contacts</a></li>
		<li><a data-toggle="tab" href="#all-teachers">Teachers</a></li>
		<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
		<li><a data-toggle="tab" href="#all-students">Students</a></li>
		<li id="all-location-nav-tab"><a data-toggle="tab" href="#all-location">School Location</a></li>
	</ul>
	<div class="tab-content tabs-container" style="">
		<div class="tab-pane active" id="all-contacts">
			<div class="well well-sm">
				<div class="media jumbotron-media">
					<div class="media-left media-middle">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-rounded img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading">Rohit</h5>
						<p>Principal</p>
						<p>Email id: davAdmin@gmail.com</p>
						<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
					</div>				
				</div>
			</div>	
			<div class="well well-sm">
				<div class="media jumbotron-media">
					<div class="media-left media-middle">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-rounded img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading">Aruna</h5>
						<p>School Admin</p>
						<p>Contact Number:8888888888</p>
						<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
					</div>				
				</div>
			</div>
		</div>
		<div class="tab-pane" id="all-teachers">
			<div class="well well-sm">
				<div class="media jumbotron-media">
					<div class="media-left media-middle">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-rounded img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading">Gaurav Kumar</h5>
						<p>Email Id:abc@gmail.com</p>
						<p>Contact Number:8888888888</p>
						<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
					</div>				
				</div>
			</div>
		</div>
		<div class="tab-pane" id="all-parents">
			<div class="well well-sm">
				<div class="media jumbotron-media">
					<div class="media-left media-middle">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-rounded img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading">Gaurav Kumar</h5>
						<p>Email Id:abc@gmail.com</p>
						<p>Contact Number:8888888888</p>
						<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
					</div>				
				</div>
			</div>
		</div>
		<div class="tab-pane" id="all-students">
			<div class="well well-sm">
				<div class="media jumbotron-media">
					<div class="media-left media-middle">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-rounded img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading">Gaurav Kumar</h5>
						<p>Email Id:abc@gmail.com</p>
						<p>Contact Number:8888888888</p>
						<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
					</div>				
				</div>
			</div>			
		</div>
		<div class="tab-pane" id="all-location">
			<h4 style="color: #ea5b31;">DAV Public School, Gurgaon, Haryana</h4>
			<div id="map"></div>
		</div>
	</div>		
</div>
<div class="detect-div"></div>
<div class="container-width tabs-container">
	<div class="scroller scroller-left"><</div>
	<div class="scroller scroller-right">></div>	
	<div class="tabs-wrapper">		
		<div class="chat-show-tabs-upper-div">
			<ul class="nav nav-tabs list" role="tablist" id="tablist">
				<li class="active"><a data-toggle="tab" href="#message-mesages">Messages</a></li>
				<li><a data-toggle="tab" href="#message-notices">Notices</a></li>
			</ul>
		</div>	
		<div class="tab-content" style="margin-top:50px;">
			<div class="tab-pane active" id="message-messages">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">School Admin<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Prenit</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">School Principal<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Mr. X Kumar</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">School Admin<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Rohit</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
			</div>
			<div class="tab-pane" id="message-notices">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Music Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Pritpal</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
			</div>
		</div>
	</div>
</div>	
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow&libraries=places"
        async defer></script>
<script>
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	$(".instituteRoute").parents(".wrapper").find(".right-self-image").find(".main-school-name").css("display", "none");
	
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		var target = $(this).attr('href');
		if(target == "#all-location"){
			initMap();
		}
	});

	var markers = [
	  ["DAV Public School, Gurgaon", 29.5038646, 75.4734163]
	];
	
	function initMap() {
		var mapProp = {
			center:new google.maps.LatLng(29.5038646,75.4734163),
			zoom:7,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		var map=new google.maps.Map(document.getElementById("map"),mapProp);

		 var infowindow = new google.maps.InfoWindow(), marker, i;
		for (i = 0; i < markers.length; i++) {
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(markers[i][1], markers[i][2]),
				map: map
			});
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
					infowindow.setContent('' + markers[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
		}
	}
	
</script>