<% content_for :heading do %>
	Inbox
<% end %>
<div class="container-width classRoute" style="margin-top:69px;">
	<ul class="nav nav-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#message-messages">Messages</a></li>
		<li><a data-toggle="tab" href="#message-homework">HomeWork</a></li>
		<li><a data-toggle="tab" href="#message-classwork">ClassWork</a></li>
		<li><a data-toggle="tab" href="#message-notices">Notices</a></li>
		<li><a data-toggle="tab" href="#message-add-event">Add Event</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="message-messages">
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Maths Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Gaurav</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
				<%= image_tag "1.jpg", class:"attachments-in-messages" %>
			</div>
		</div>
		<div class="tab-pane" id="message-homework">
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Maths Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Gaurav</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
				<%= image_tag "1.jpg", class:"attachments-in-messages" %>
			</div>
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Science Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Prenit</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
			</div>
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Hindi Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Hindi</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
			</div>
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Physical Education Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Rahul</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
			</div>
		</div>
		<div class="tab-pane" id="message-classwork">
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Physical Education Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Rahul</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
			</div>
		</div>
		<div class="tab-pane" id="message-notices">
			<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
						<a href="#">
							<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
						</a>
					</div>
					<div class="media-body media-middle">
						<h5 class="media-heading text-muted">Maths Teacher<span class="pull-right">12:47 p.m</span></h5>
						<span class="pull-left">Gaurav</span>
					</div>
				</div>
				<div class="media-content text-muted">
					Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
					Parents Teachers Meeting scheduled at 8:30 a.m...
				</div>
			</div>
		</div>
		<div class="tab-pane" id="message-add-event">
			in Add Event Tab
			<!--<div class="messages-media">
				<div class="media main-media">
					<div class="media-left pull-right">
					</div>
					<div class="media-body media-middle">
					</div>
				</div>
				<div class="media-content text-muted">
				
				</div>
			</div>-->
		</div>
	</div>
</div>
<script>
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
</script>