<% content_for :heading do %>
	Science 1A
<% end %>
<div class="container" style="margin-top:77px;">
	<div class="well well-sm">
		<div class="media jumbotron-media">
			<div class="media-left media-middle">
				<a href="#">
					<%= image_tag "default_profile_picture.png" , class:"img-rounded img-media"%>
				</a>
			</div>
			<div class="media-body media-middle">
				<h4 class="media-heading">Prenit Wankhede</h4>
				<p>Science Teacher</p>
				<span class="pull-right"><i class="material-icons" style="color: #ea5b31;">&#xE0C9;</i></span>
			</div>				
		</div>
	</div>
</div>
<div class="detect-div"></div>
<div class="container-width tabs-container">
	<div class="scroller scroller-left"><</div>
	<div class="scroller scroller-right">></div>
	<div class="tabs-wrapper">
		<div class="chat-show-tabs-upper-div">
			<ul class="nav nav-tabs list" role="tablist" id="tablist">
				<li><a data-toggle="tab" href="#message-messages">Messages</a></li>
				<li class="active"><a data-toggle="tab" href="#homework">HomeWork</a></li>
				<li><a data-toggle="tab" href="#classwork">ClassWork</a></li>
				<li><a data-toggle="tab" href="#notices">Notices</a></li>
				<li><a data-toggle="tab" href="#add-event">Add Event</a></li>
			</ul>
		</div>	
		<div class="tab-content" style="margin-top:50px;">
			<div class="tab-pane" id="message-messages">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Science Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Gaurav</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
			</div>
			<div class="tab-pane active" id="homework">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Science Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Gaurav</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
					<%= image_tag "1.jpg", class:"attachments-in-messages" %>
				</div>
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Science Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Prenit</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
				</div>
			</div>
			<div class="tab-pane" id="classwork">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Physical Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Rahul</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
				</div>
			</div>
			<div class="tab-pane" id="notices">
				<div class="messages-media">
					<div class="media main-media">
						<div class="media-left pull-right">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
							</a>
						</div>
						<div class="media-body media-middle">
							<h5 class="media-heading text-muted">Music Teacher<span class="pull-right">12:47 p.m</span></h5>
							<span class="pull-left">Pritpal</span>
						</div>
					</div>
					<div class="media-content text-muted">
						Parents Teachers Meeting scheduled at 8:30 a.m...Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
						Parents Teachers Meeting scheduled at 8:30 a.m...
					</div>
				</div>
			</div>
			<div class="tab-pane" id="add-event">
				<p>I am in add Event.</p>
			</div>
		</div>
	</div>
</div>	
<script>
	$(".detect-div").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
</script>