<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>Class <%= @grade.grade_name %> <%= @section.section_name %></a>
<% end %>

<div class="container-width classRoute tabs-container" style="margin-top:50px; margin-bottom: 0;">
	<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#all-classteachers">ClassTeacher</a></li>
		<li><a data-toggle="tab" href="#all-subjects">Subjects</a></li>
		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<li><a data-toggle="tab" href="#all-students">Students</a></li>	
			<li><a data-toggle="tab" href="#all-parents">Parents</a></li>
		<% end %>
	</ul>
	<div class="tab-content" style=" max-width:600px; margin: 0 auto; ">
		<div class="tab-pane active" id="all-classteachers" style="max-height:100%; margin-bottom:70px;">
			<%= link_to conversation_path(@section_conversation) do %>
				<div class="pull-left add-member">
					<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
				</div>
			<% end %>
			<% if(!@classteacher.blank?) %>
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<a>
						<div class="pull-right add-member" onclick="getClassTeacherForm();">
							<span>Set ClassTeacher</span><i class="material-icons">&#xE7FE;</i>
						</div>
					</a>					
				<% end %>
				<div class="clearfix mar-btm"></div>
				<%= render partial: "conversations/contact", locals: {contact: @classteacher} %>

			<% else %>
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<a>
						<div class="pull-right add-member" onclick="getClassTeacherForm();">
							<span>Set ClassTeacher</span><i class="material-icons">&#xE7FE;</i>
						</div>
					</a>					
				<% end %>
				<div class="clearfix mar-btm"></div>
				<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> ClassTeacher of this class is not set yet !</h1>	
			<% end %>
			
			
		</div>

		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<div class="tab-pane" id="all-students" style="max-height:100%;margin-bottom:70px;">
				<%= link_to conversation_path(@section_conversation) do %>
					<div class="pull-left add-member">
						<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
					</div>
				<% end %>
				<% if(!current_user.role.include?("Teacher")) %>
					<%= link_to add_new_student_institute_path(@institute, grade_id: @grade.id, section_id: @section.id) do %>
						<div class="pull-right add-member">
							<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<% if(!@students.blank?) %>
					<% @students.each do |contact| %>
						<%= render partial: "conversations/contact", locals: {contact: contact} %>	
					<% end %>
				<% else %>	
					<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No Students added in this class yet !</h1>	
				<% end %>		

				
			</div>
			<div class="tab-pane" id="all-parents" style="max-height:100%;margin-bottom:70px;">
				<%= link_to conversation_path(@section_conversation) do %>
					<div class="pull-left add-member">
						<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
					</div>
				<% end %>
				<% if(!current_user.role.include?("Student") and !current_user.role.include?("Parent")) %>
										
					<% if(!current_user.role.include?("Teacher")) %>
						<%= link_to add_new_parent_institute_path(@institute, grade_id: @grade.id, section_id: @section.id) do %>
							<div class="pull-right add-member">
								<span>Add Parent</span><i class="material-icons">&#xE7FE;</i>
							</div>
						<% end %>
						
					<% end %>
					<div class="clearfix"></div>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<% if(!@parents.blank?) %>
					<% @parents.each do |contact| %>
						<%= render partial: "conversations/contact", locals: {contact: contact} %>		
					<% end %>
				<% else %>
					<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No Parents added in this class yet !</h1>		
				<% end %>
			</div>
		<% end %>

		<div class="tab-pane" id="all-subjects" style="max-height:100%;margin-bottom:70px;">
			<%= link_to conversation_path(@section_conversation) do %>
				<div class="pull-left add-member">
					<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
				</div>
			<% end %>
			
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
										
				<%= link_to new_institute_grade_section_subject_path(@institute, @grade, @section) do %>
					<div class="pull-right add-member">
						<span>Add Subject</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				
			<% end %>
			<div class="clearfix mar-btm"></div>
			<ul class="list-unstyled list-inline text-center">
				<% if(!@section_subject_models.blank?) %>
					<% @section_subject_models.each do |section_subject_model| %>
						<% subject = section_subject_model.subject %>
															
						<% subject_teacher =  @section.get_subject_teacher_for_institute_and_grade_and_subject(@institute, @grade, subject) %>
						<% students_count =  @section.sections_members.where(institute_id: @institute.id, member_role: "Student").count %>
						<li>
							<div class="ch-item">	
								<div class="ch-info">
									<h3><%= subject_teacher.first_name if !subject_teacher.blank?%> <%= subject_teacher.last_name  if !subject_teacher.blank? %></h3>
									
									<p><%= subject_teacher.first_name if !subject_teacher.blank?%> <%= subject_teacher.last_name  if !subject_teacher.blank? %><a href="<%= institute_grade_section_subject_path(@institute, @grade, @section, subject) %>" style="font-size:6px;"><%= subject.subject_name %></a></p>
								</div>
								<div class="ch-thumb">
									<span style="font-size:14px;margin-left:-32px;"><%= subject.subject_name %></span>
									<span><%= students_count %> Students</span>
								</div>
							</div>
							<button class="btn btn-info btn-custom-info"><%= link_to institute_grade_section_subject_path(@institute, @grade, @section, subject) do %>Go To <%= subject.subject_name %><% end %></button>
						</li>
						
					<% end %>
				<% else %>
					<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No Subjects added in this class yet !</h1>		
				<% end %>
				
			</ul>
		
		</div>
	</div>
</div>
<div id="myModal" class="modal fade modal-calender" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Set or Update ClassTeacher of Class <%= @grade.grade_name %><%= @section.section_name %></h4>
	  </div>
	  <div class="modal-body">
		
	  </div>
	</div>
  </div>
</div>
<script>
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });

    function getClassTeacherForm(){

    	$.ajax({
  			url: "<%= set_classteacher_institute_grade_section_path(@institute, @grade, @section) %>.js",
      		method: "GET",
        	complete: function(data){
        		if(data.status == "200"){
        			$("#myModal").find(".modal-body").html(data.responseText);
        			$("#myModal").modal('show');
        		}
        	}	
    	});
    };	
</script>			