<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="<%= institute_path(@institute) + '#all-classes' %>"><i class="material-icons">&#xE317;</i></a>
	Class <%= @grade.grade_name %> <%= @section.section_name %>
<% end %>

<div class="container-width classRoute tabs-container" style="margin-top:50px; margin-bottom: 0;">
	<ul class="nav nav-tabs admin-new-tabs" role="tablist" id="tablist">
		<li class="active"><a data-toggle="tab" href="#all-classteachers">ClassTeacher</a></li>
		<li><a data-toggle="tab" href="#all-subjects">Subject Teachers</a></li>
		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<li><a data-toggle="tab" href="#all-students">Students</a></li>	
		<% end %>
	</ul>
	<div class="tab-content" style=" max-width:600px; margin: 0 auto; ">
		<div class="tab-pane active" id="all-classteachers" style="max-height:100%; margin-bottom:70px;">
			<%= link_to conversation_path(@section_conversation) do %>
				<div class="pull-left add-member">
					<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
				</div>
			<% end %>
			<% if(!@classteacher.blank?) %>
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<a>
						<div class="pull-right add-member set-classteacher-button" >
							<span>Set ClassTeacher</span><i class="material-icons">&#xE7FE;</i>
						</div>
					</a>					
				<% end %>
				<div class="clearfix mar-btm"></div>
				<%= render partial: "conversations/contact", locals: {contact: @classteacher} %>

			<% else %>
				<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
					<a>
						<div class="pull-right add-member" onclick="getClassTeacherForm();">
							<span>Set ClassTeacher</span><i class="material-icons">&#xE7FE;</i>
						</div>
					</a>					
				<% end %>
				<div class="clearfix mar-btm"></div>
				<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> ClassTeacher of this class is not set yet !</h1>	
			<% end %>
			
			
		</div>

		<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin") or current_user.role.include?("Teacher")) %>
			<div class="tab-pane" id="all-students" style="max-height:100%;margin-bottom:70px;">
				<%= link_to conversation_path(@section_conversation) do %>
					<div class="pull-left add-member">
						<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
					</div>
				<% end %>
				<% if(!current_user.role.include?("Teacher")) %>
					<%= link_to add_new_student_institute_path(@institute, grade_id: @grade.id, section_id: @section.id) do %>
						<div class="pull-right add-member">
							<span>Add Student</span><i class="material-icons">&#xE7FE;</i>
						</div>
					<% end %>
				<% end %>
				<div class="clearfix mar-btm"></div>
				<% if(!@students.blank?) %>
					<% @students.each do |contact| %>
						<%= render partial: "conversations/contact", locals: {contact: contact} %>	
					<% end %>
				<% else %>	
					<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No Students added in this class yet !</h1>	
				<% end %>		

				
			</div>
			
		<% end %>

		<div class="tab-pane" id="all-subjects" style="max-height:100%;margin-bottom:70px;">
			<%= link_to conversation_path(@section_conversation) do %>
				<div class="pull-left add-member">
					<span>Class Messages</span><i class="material-icons">&#xE0C9;</i>
				</div>
			<% end %>
			
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
										
				<%= link_to new_institute_grade_section_subject_path(@institute, @grade, @section) do %>
					<div class="pull-right add-member">
						<span>Add Subject</span><i class="material-icons">&#xE7FE;</i>
					</div>
				<% end %>
				
			<% end %>
			<div class="clearfix mar-btm"></div>
			<ul class="list-unstyled">
				<% if(!@section_subject_models.blank?) %>
					<% @section_subject_models.each do |section_subject_model| %>
						<% subject = section_subject_model.subject %>
															
						<% subject_teacher =  @section.get_subject_teacher_for_institute_and_grade_and_subject(@institute, @grade, subject) %>
						
						<li class="find-teacher-list find-tab-teacher-list" style="margin-bottom:10px;position:relative;">
								
							<h6 class="teachers-list-heading-inner" style="background: #d1cece;margin: 0;padding: 10px; color: #dd223d;">
								<%= subject.subject_name %>, <%= @grade.grade_name + @section.section_name %> 																	
								<i class="material-icons arrow-up-icon pull-right" style="margin-top:-5px;">&#xE316;</i>
							</h6>
							<div class="container-width classRoute class-tab-students-list-custom" style="display: none; box-shadow:rgb(175, 172, 172) 1px 1px 10px;margin-bottom:10px; padding: 4px;">
								<a>
									<div class="pull-right add-member set-subjectteacher-button" data-subject-id="<%= subject.id %>" data-subject-name="<%= subject.subject_name %>">
									
										<span>Set Subject Teacher</span><i class="material-icons">&#xE7FE;</i>

									</div>
								</a>
								<div class="clearfix"></div>
								<div class="subject-teacher-partial" data-subject-id="<%= subject.id %>">
									<%= render partial: "conversations/contact", locals: {contact: subject_teacher} if !subject_teacher.blank? %>	
								</div>
								
							</div>
						</li>
					<% end %>
				<% else %>
					<h1 class="nothing-posted" style="margin-top:0;box-shadow:none;"> No Subjects added in this class yet !</h1>		
				<% end %>
				
			</ul>
		
		</div>
	</div>
</div>
<div id="setClassteacherModal" class="modal fade modal-calender" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Set or Update ClassTeacher of Class <%= @grade.grade_name %><%= @section.section_name %></h4>
	  </div>
	  <div class="modal-body">
		
	  </div>
	</div>
  </div>
</div>
<div id="setSubjectteacherModal" class="modal fade modal-calender" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title"></h4>
	  </div>
	  <div class="modal-body">
		
	  </div>
	</div>
  </div>
</div>		
<script>
	$(".classRoute").parents("div.wrapper").find(".navbar-default").css("box-shadow", "none");
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
	$(".set-classteacher-button").click(function(){
		$.ajax({
  			url: "<%= set_classteacher_institute_grade_section_path(@institute, @grade, @section) %>.js",
      		method: "GET",
        	complete: function(data){
        		if(data.status == "200"){
        			$("#setClassteacherModal").find(".modal-body").html(data.responseText);
        			$("#setClassteacherModal").modal('show');
        		}
        	}	
    	});
	});
	$(".set-subjectteacher-button").click(function(){
		subjectId = $(this).attr("data-subject-id");
		subjectName = $(this).attr("data-subject-name");
		$.ajax({
  			url: "/institutes/<%= @institute.id %>/grades/<%= @grade.id %>/sections/<%= @section.id %>/subjects/" + subjectId + "/set_subject_teacher.js",
      		method: "GET",
        	complete: function(data){
        		if(data.status == "200"){
        			$("#setSubjectteacherModal").find(".modal-title").html("Set or Update Subject Teacher of " + subjectName + ", <%= @grade.grade_name %><%= @section.section_name %>");
        			$("#setSubjectteacherModal").find(".modal-body").html(data.responseText);
        			$("#setSubjectteacherModal").modal('show');
        		}
        	}	
    	});
	});

</script>			