<%= form_tag institute_events_path(@institute), remote: true do %>
	<div class="form-group form-inline new-event-checkbox">
		<%= select_tag :is_official, options_for_select([["Personal or Official", ""],["Personal", "false"],["Official", true]],["Personal or Official", ""]), class: "personal-or-institute-event-input form-control", required: true %>
	</div>

	<div class="institute-select-div" style="display: none">
		<%= hidden_field_tag :institute_id, @institute.id %>
		<input type="checkbox" name="all_sections" id="all-sections-checkbox" style="display: none">
		
			<div class="event-institute-grade-section-select-div" data-institute-id="<%= @institute.id %>" style="display: block">
				
						<% institute_grade_section_models = @institute.institutes_grades_sections_models %>
						Select Classes:
						<% institute_grade_section_models.each do |grade_section| %>
							<%= check_box_tag "grade_section_ids[]", grade_section.id, false, class:"grade-section-checkbox-input", "data-institute-id" => @institute.id  %> Class <%= grade_section.grade.grade_name %> <%= grade_section.section.section_name %>
						<% end %>
				
					
			</div>
		
	</div>

	<div class="form-group">
		<%= text_field_tag :title, nil, placeholder: :Title, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= text_area_tag :description, nil, placeholder: :Description, class: "form-control" %>
	</div>
	<div class="form-group">
		<label>Start Date-Time:</label>
		<%= datetime_field_tag :start_time, DateTime.parse(start_time).strftime("%Y-%m-%dT%H:%M"), class: "form-control" %>
	</div>
	<div class="form-group">
		<label>Finish Date-Time:</label>
		<%= datetime_field_tag :end_time, DateTime.parse(end_time).strftime("%Y-%m-%dT%H:%M"), class: "form-control" %>
	</div>
	<div class="form-group form-inline new-event-checkbox">
		
		<%= check_box_tag :is_all_day_event, true, true %>  <label>All Day Event?</label> <br>
		
	</div>

	<div class="form-group form-button-register">
		<%= button_tag(type:"submit", class: "form-control btn btn-login") do %>
			Save
		<% end %>
	</div>	
<% end %>

<script type="text/javascript">
	$(".personal-or-institute-event-input").change(function(){
		if($(this).val() == "true"){
			$(".institute-select-div").show();
		}else{
			$(".institute-select-div").hide();
		}
	});

	$("#all-sections-checkbox").change(function(){
		instituteId = $(".event-institute-input").val();
		if(instituteId){
			$(".grade-section-checkbox-input[data-institute-id='" + instituteId + "']").prop("checked", $(this).prop("checked"));	
		}
		
	});



</script>