<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE88A;</i></a>
  Attendance Records
<% end %>

<div class="container" style="max-width:600px;margin:0 auto;margin-top: 60px;">
	<div class="col-sm-4 col-xs-5">
		<div class="form-group">
			<div class='input-group date from-input-date' id='startDatetimepicker'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<i class="fa fa-calendar" aria-hidden="true"></i>								
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-1 col-xs-2 text-center">
		<span style="font-size: 16px;line-height: 2;color: #5cb85c;">to</span>
	</div>
	<div class="col-sm-4 col-xs-5">
		<div class="form-group">
			<div class='input-group date' id='endDatetimepicker'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<i class="fa fa-calendar" aria-hidden="true"></i>								
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12">
		<button class="btn btn-success" onClick="fetchAttendanceData()" style="width: 100%;"> Go </button>
	</div>
</div>

<% if(!@assigned_classteacher_grades_sections_model.blank?) %>
	
	<div class="text-center text-muted" style="max-width:600px;margin:0 auto;">
		<h3 style="margin:0;"> Class <%= @grade.grade_name %><%= @section.section_name %> Students Attendance</h3>
		<p style="margin:0;color:#ea5b31;"><%= params[:start_date].strftime("%b %d") %> - <%= params[:end_date].strftime("%b %d") %></p> 
	</div>

	<div id="chart_div_class" style="max-width:350px;margin: 0 auto;">
		
	</div>

	<% if(!@attendance_records.blank?) %>	
		<div class="table-responsive" style="max-width:600px;margin:0 auto;">
			<table class="table">
				<thead>
					<tr>
						<th>Absenties</th>
						
						<% (@attendance_records.first.date..@attendance_records.last.date).to_a.each do |date| %>
							<th><a class="attendance-record-date" data-grade-id="<%= @grade.id  if !@grade.blank? %>" data-section-id="<%= @section.id if !@section.blank? %>" data-date="<%= date %>"><%= date.strftime("%b %d") %></a></th>	
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% @class_students.each do |student| %>
						
							<% (@attendance_records.first.date..@attendance_records.last.date).to_a.each do |date| %>
								<% date_attendance_record = @attendance_records.find_by(date: date) %>
								<% if(!date_attendance_record.blank? and !date_attendance_record.present_student_ids.split(", ").include?(student.id.to_s)) %>
									<tr>
										<td><%= student.first_name %></td>
										<th class="warning">Absent</th>		
									</tr>
								<% end %>
								
							<% end %>
						
						
					<% end %>
					
				</tbody>
			</table>
		</div>
	<% else %>
		<p class="no-attendance-records">Sorry ! No records found !</p>
	<% end %>
<% else %>
	<p class="no-attendance-records">You dont have any class assigned to you. </p>
<% end %>

<div class="modal fade" id="attendance-modal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">						
			<div class="modal-header">
				<div class="">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<form onsubmit="return false;" class="search-form">
						<div class="form-group has-feedback">
							<i class="material-icons search-attendance-icon">&#xE8B6;</i> 
							<input type="text" class="form-control search-attendance-input" name="search" id="search">
						</div>
					</form>
					<h4 class="modal-title">
						
					</h4>
				</div>	
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$('#startDatetimepicker, #endDatetimepicker').datetimepicker({
		defaultDate: new Date(),
        format: 'DD/MM/YYYY'
   	});

	

    <% if(!@attendance_records.blank?) %>
    	$(document).one("ready turbolinks:load", function(){
    		google.charts.load('current', {'packages':['corechart']});
    		google.charts.setOnLoadCallback(drawClassChart);
	    });
    <% end %>
      
	function drawClassChart() {

		
		var data = new google.visualization.DataTable();
		<% if(@total_students > 0) %>
			var rowsArray = [
				  ['Present Students (in %)', <%= 100*@total_present_students/@total_students %>],
				  ['Absent Students (in %)', <%= 100*@total_absent_students/@total_students %>]
			];
		<% else %>
			var rowsArray = [
				  ['Present Students (in %)', 0],
				  ['Absent Students (in %)', 0]
			];
		<% end %>
		

		data.addColumn('string', '');
		data.addColumn('number', '');
		data.addRows(rowsArray);

		var options = {
			width: 400,
			height: 240,
			title: 'Class <%= @grade.grade_name %><%= @section.section_name %> Attendance',
			titlePosition: 'none',
			colors: ['#5dd4b7', '#ea5b31'],
			is3D: true
		};

		var chart = new google.visualization.PieChart(document.getElementById('chart_div_class'));
		chart.draw(data, options);
	}

	function fetchAttendanceData(){
		start_date = $('#startDatetimepicker').data('date');
		end_date = $('#endDatetimepicker').data('date');
		Turbolinks.visit('/institutes/<%= @institute.id %>/attendance_records?start_date=' + start_date + '&end_date=' + end_date);
	}

	$(".attendance-record-date").click(function(){
		var date = $(this).attr("data-date");
		var gradeId = $(this).attr("data-grade-id");
		var sectionId = $(this).attr("data-section-id");
		$.ajax({
  			url: '<%= section_attendance_record_form_institute_attendance_records_path(@institute) %>.js?grade_id='+gradeId + '&section_id='+sectionId + '&date=' + date,
      		method: "GET",
        	complete: function(data){
        		if(data.status == "200"){
        			eval(data.responseText);
        		}
        	}	
  		});
	});
</script>
