<% content_for :heading do %>
  <a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE88A;</i></a>
  Add Subjects to Class <%= @grade.grade_name %>
<% end %>
<div style="margin-top: 45px;"></div>
<div class="new-subject-step-1-form-div">
	<%= form_tag institute_grade_section_subjects_path(@institute, @grade, @section), method: :post, multipart: true, remote: true, id: "new-subject-form" do %>
		<%= hidden_field_tag :step, 1 %>
			
		<div class="grades-div text-left teachers-grades-div-circle">
			
			<% @subjects.each do |subject| %>					
				<div class="main-grade main-grade-circle">

					<ul class="detectul detectCircle-ul">
						<span class="add-class-checkbox"></span>
						<li class="listitems"> 
							<div class="checkbox">
								<label for="grades-division-<%= subject.id %>" class="grades-division">
									<%= check_box_tag "subject_ids[]", subject.id, false, { class: "checkbox grade-names-input", id: "grades-division-#{subject.id}"} %>
									<span> <%= subject.subject_name %></span>
								</label>
							</div>
						</li>
					</ul>	
					<div class="division-criterias" style="display:none;">
						<% if(!@teachers.blank?) %>
				    		<h1 style="font-size: 15px;margin: 0;margin-bottom: 4px;"> Select <%= subject.subject_name %> Teacher of Class <%= @grade.grade_name %><%= @section.section_name %> </h1>		
							<div class="form-group">
								<% options = [["Subject Teacher", ""]] %>	
								<% default_option = ["Subject Teacher", ""] %>
								<% @teachers.each do |teacher| %>
									<% options << [teacher.first_name + " " + teacher.last_name, teacher.id] %>
								<% end %>
								<%= select_tag "subject_ids_for_subject_teacher[#{subject.id}][subject_teacher_id]", options_for_select(options, default_option), class: "form-control" %>
							</div>
						<% end %>

					</div>	
				</div>					
			<% end %>
		</div>			
		<div class="clearfix"></div>
		<div class="text-center col-md-6 col-md-offset-3">
			<div class="form-group form-button-register">
				<%= button_tag(type:"submit", class: "form-control btn btn-login", data: {disable_with: "Please Wait..."}) do %>
					Next
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<div style="margin-bottom: 100px;"></div>
<script type="text/javascript">
	$(document).on('change','.grade-names-input',function(){
		if($(this).is(':checked')) {
			$(this).parents(".main-grade").find(".division-criterias").slideDown();
			$(this).parents("ul.detectCircle-ul").addClass("detectCircle-ul-background");
			$(this).parents("ul.detectCircle-ul").find(".add-class-checkbox").addClass("detectCircle-ul-background-checkbox");
		} else {
			$(this).parents(".main-grade").find(".division-criterias").slideUp();
			$(this).parents("ul.detectCircle-ul").removeClass("detectCircle-ul-background");
			$(this).parents("ul.detectCircle-ul").find(".add-class-checkbox").removeClass("detectCircle-ul-background-checkbox");
		}
	});
	$(".all-sections").change(function(e){
		$(this).parents(".main-grade").find(".division-upper-sections input:checkbox").prop('checked', $(this).prop("checked"));
	});

</script>

