<!DOCTYPE html>
<html>
	<head>
		<title>ClassTalk</title>
		<link rel="manifest" href="/manifest.json">

		<link rel="image_src" href="/app_logo_small.png">
		<link rel="icon" type="image/png" href="/app_logo_small.png">
		
		<!-- for Google -->
		<meta name="description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta name="keywords" content="School, Teacher, Parent, Chat" />

		<meta name="author" content="ClassTalk" />
		<meta name="copyright" content="ClassTalk" />
		<meta name="application-name" content="ClassTalk" />

		<!-- for Facebook -->  
		<meta property="og:site_name" content="ClassTalk">
		
		<meta property="og:title" content="ClassTalk" />
		<meta property="og:description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta property="og:type" content="Education" />
		<meta property="og:image" content="app_logo_small.png" />
		<meta property="og:url" content="http://classtalk.in" />

		<!-- for Twitter -->          
		<meta name="twitter:card" content="ClassTalk" />
		<meta name="twitter:title" content="ClassTalk" />
		<meta name="twitter:description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta name="twitter:image" content="app_logo_small.png" />

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
		<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Julius+Sans+One" %>
		<%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="current-user-id" content="<%= current_user.id if user_signed_in? %>">
	</head>
	<body>
		<div class="wrapper">
		    <nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-width">
					<div class="navbar-header pull-left">
						<button type="button" class="navbar-toggle collapsed pull-left hamburger-menu hamburger-menu-left-arrow" data-toggle="collapse" id="navbar-toggle-button">
							<span></span>
						</button>
						<span class="navbar-brand"><%= yield :heading %></span>
					</div>
					<div id="navbar" class="navbar-collapse pull-left navbar-fixed-small-screen">
						<ul class="nav navbar-nav left-self-image">
							<li><a href="/users/<%= current_user.id %>"><img src="<%= current_user.profile_picture.media.url(:medium) %>"  class="img-circle img-xss"><span>Profile</span></a></li>
							<li>
								<a href="/conversations"><i class="material-icons menu-inner-icon">&#xE156;</i><span>My Messages</span></a>

							</li>	
							<% if(!@institute.blank?) %>
								<li><a href="<%= institute_grades_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE86E;</i><span>My Classes</span></a></li>
								<li><a href="<%= institute_attendance_records_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE85D;</i><span>My Attendance</span></a></li>
								<li>
									<a href="<%= my_classwork_institute_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE146;</i><span>Custom Categories</span></a>
								</li>			
								<li><a href="<%= institute_notices_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE616;</i><span>My Notices</span></a></li>
								<li >
									<a href="<%= institute_events_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE8A3;</i><span>Event Calendar</span></a>								
								</li>
								<li>
									<a href="<%= institute_timetable_slots_path(@institute) %>"><i class="material-icons menu-inner-icon">&#xE8A3;</i><span>Day Plan</span></a>								
								</li>
							<% end %>							
							<li><a href="javascript:void(0)"><i class="material-icons menu-inner-icon">&#xE0C6;</i><span>Help</span></a></li>						
						</ul>
					</div>
					<ul class="nav navbar-nav navbar-right pull-right right-self-image" style="margin-right: 3px;">

						<li>
							<a class="navbar-brand right-menu" href="javascript:void(0)"><%= current_user.role %><i class="material-icons arrow-up-icon" style="vertical-align:middle;">&#xE313;</i></a>
							<ul class="right-menu-toggle" id="right-menu-toggle-id" style="display:none;">
								<li class="main-image text-center">
									<a href="/users/<%= current_user.id %>">
										<img src="<%= current_user.profile_picture.media.url(:thumb) %>" class="img-circle img-xs" >
										<br>
										<span><%= current_user.first_name.capitalize %></span>
									</a>
								</li>
								<% if(!@institute.blank?) %>
									<li class="main-school-name text-center"><%= link_to conversation_path(@institute_conversation) do %><%= @institute_conversation.conversation_name %><% end %></li>
								<% end %>
							</ul>						
						</li>							
					</ul>
				</div>
			</nav>
			<%= yield %>
		</div>
	</body>
</html>
