<!DOCTYPE html>
<html>
	<head>
		<title>ClassTalk</title>
		<link rel="manifest" href="/manifest.json">

		<link rel="image_src" href="/app_logo_small.png">
		<link rel="icon" type="image/png" href="/app_logo_small.png">
		
		<!-- for Google -->
		<meta name="description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta name="keywords" content="School, Teacher, Parent, Chat" />

		<meta name="author" content="ClassTalk" />
		<meta name="copyright" content="ClassTalk" />
		<meta name="application-name" content="ClassTalk" />

		<!-- for Facebook -->  
		<meta property="og:site_name" content="ClassTalk">
		
		<meta property="og:title" content="ClassTalk" />
		<meta property="og:description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta property="og:type" content="Education" />
		<meta property="og:image" content="app_logo_small.png" />
		<meta property="og:url" content="http://classtalk.in" />

		<!-- for Twitter -->          
		<meta name="twitter:card" content="ClassTalk" />
		<meta name="twitter:title" content="ClassTalk" />
		<meta name="twitter:description" content="Teacher-Parent communication simpliefied like never before!" />
		<meta name="twitter:image" content="app_logo_small.png" />

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
		<%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
		<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Julius+Sans+One" %>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="current-user-id" content="<%= current_user.id if user_signed_in? %>">
	</head>
	<body>
		<div class="wrapper">
		    <nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-width">
					<div class="navbar-header pull-left">						
						<span class="navbar-brand main-navbar-brand truncate"><%= yield :heading %></span>
					</div>
					
					<ul class="nav navbar-nav navbar-right pull-right right-self-image" style="margin-right: 3px;">
						<li>
							<a class="navbar-brand right-menu text-center" href="javascript:void(0)" style="padding: 15px;padding-left:4px;padding-right: 4px;width:200px;"><%= @institute.institute_name.truncate(20) if !@institute.blank? %></a>
							<button type="button" class="navbar-toggle collapsed pull-left hamburger-menu hamburger-menu-left-arrow" data-toggle="collapse" id="navbar-toggle-button">
								<span></span>
							</button>
							<ul class="right-menu-toggle" id="right-menu-toggle-id" style="display:none;">
								<li class="main-image text-center" style="border-bottom: 1px solid #cccaca;">
									<a href="/users/<%= current_user.id %>">
										<img src="<%= current_user.profile_picture.media.url(:thumb) %>" class="img-circle img-xs" >
										<br>
										<span><%= current_user.first_name.capitalize %></span><br>
										<span><%= current_user.role %></span>
									</a>									
								</li>
								
								<% if(user_signed_in?) %>
									<li class="log-out" style="list-style: none;">
										<%= link_to destroy_user_session_path, method: :delete do %>
											<button type="button" class="btn btn-danger" style="padding:0px;color: #2ad;background:none; border:none;">LogOut</button>
										<% end %>
									</li>
								<% end %>
							</ul>						
						</li>							
					</ul>
					<div id="navbar" class="navbar-collapse pull-right navbar-fixed-small-screen">
						<ul class="nav navbar-nav left-self-image">
							<li>
								<a href="/users/<%= current_user.id %>">
									<img src="<%= current_user.profile_picture.media.url(:medium) %>"  class="img-circle img-xss">
									<span>Profile</span>
								</a>
							</li>
							<% if(!@institute.blank? and (current_user.role.include?("Principal") or current_user.role.include?("Institute Admin"))) %>
								<% if(params[:controller] == "institutes" or params[:controller] == "grades" or params[:controller] == "sections" or params[:controller] == "subjects") %>
									<% active_class="class=active-navigation" %>
								<% else %>
									<% active_class="" %>
								<% end %>
								<li <%= active_class %>>
									<a href="/institutes/<%= @institute.id %>">
										<i class="material-icons menu-inner-icon">&#xE8B9;</i><span>Manage</span>
									</a>
								</li>
							<% end %>
							
							<% if(!(params[:controller] == "conversations" and params[:action]=="index")) %>
								
								<li>
									
									<a href="/#all-messages">
										<i class="material-icons menu-inner-icon">&#xE8CD;</i>
										<span>Messages</span>
									</a>
								</li>	
								<% if(!@institute.blank?) %>
									<% if(current_user.role.include?("Student") or current_user.role.include?("Parent") or current_user.role.include?("Teacher")) %>
										<li>
											<a href="/#all-homework">
												<i class="material-icons menu-inner-icon">&#xE146;</i>
												<span>HomeWork</span>
											</a>
										</li>
									<% end %>
									
									<li >
										<a href="/#all-classes">
											<i class="material-icons menu-inner-icon">&#xE86E;</i>
											<span>Classes</span>
										</a>
									</li>
									<% if(!@institute.blank? and (current_user.role.include?("Principal") or current_user.role.include?("Institute Admin"))) %>
										<li>
											<a href="/#all-staff">
												<i class="material-icons menu-inner-icon">&#xE8D3;</i>
												<span style="margin-left: 11px;">Staff</span>
											</a>
										</li>
									<% end %>
							
									<li>
										<a href="/#all-dayplan">
											<i class="material-icons menu-inner-icon">&#xE8A3;</i>
											<span>Day Plan</span>
										</a>								
									</li>
									
								<% end %>							
							<% else %>
								
								<li>									
									<a href="#all-messages" data-toggle="tab">
										<i class="material-icons menu-inner-icon">&#xE8CD;</i>
										<span>Messages</span>
									</a>
								</li>	
								<% if(!@institute.blank?) %>
									<% if(current_user.role.include?("Student") or current_user.role.include?("Parent") or current_user.role.include?("Teacher")) %>
										<li>
											<a href="#all-homework" data-toggle="tab">
												<i class="material-icons menu-inner-icon">&#xE146;</i>
												<span>HomeWork</span>
											</a>
										</li>
									<% end %>
									<li>
										<a href="#all-classes" data-toggle="tab">
											<i class="material-icons menu-inner-icon">&#xE86E;</i>
											<span>Classes</span>
										</a>
									</li>

									<% if(!@institute.blank? and (current_user.role.include?("Principal") or current_user.role.include?("Institute Admin"))) %>
										<li>
											<a href="#all-staff" data-toggle="tab">
												<i class="material-icons menu-inner-icon">&#xE8D3;</i><span>Staff</span>
											</a>
										</li>
									<% end %>
							
									<li>
										<a href="#all-dayplan" data-toggle="tab">
											<i class="material-icons menu-inner-icon">&#xE8A3;</i>
											<span>Day Plan</span>
										</a>								
									</li>
									
								<% end %>
							<% end %>	
							
							<% if(user_signed_in?) %>
								<li class="log-out">
									<%= link_to destroy_user_session_path, method: :delete do %>
										<i class="material-icons menu-inner-icon">&#xE62A;</i><span>LogOut</span>
									<% end %>
								</li>
							<% end %>
							
						</ul>
					</div>
				</div>
			</nav>
			<% flash.each do |key, value| %>
			  <div class="alert alert-success">
			    <a href="#" data-dismiss="alert" class="close">×</a>
			    <span class="flash-message"> <%= value %> </span>
			  </div>
			<% end %>

			<%= yield %>
			
		</div>
		<div class="ajax-loader" style="display:none;">
			<%= image_tag "ring-alt.gif" %>
		</div>
		<% if(!@institute.blank?) %>
			<footer class="footer text-center">
				<div class="container-width">
					<ul class="list-inline footer-list">
						<% if(params[:controller] == "events") %>
							<% active_class="class=active-navigation-footer" %>
						<% else %>
							<% active_class="" %>
						<% end %>
						<li <%= active_class %>>
							<%= link_to institute_events_path(@institute) do %>
								Events<i class="material-icons calender-icon">&#xE8B5;</i>
							<% end %>				
						</li>
						<% if(params[:controller] == "attendance_records") %>
							<% active_class="class=active-navigation-footer" %>
						<% else %>
							<% active_class="" %>
						<% end %>
						<% if(!@assigned_classteacher_grades_sections_model.blank?) %>
							<li data-toggle="modal" data-target="#attendance-modal" <%= active_class %>>
								<a href="javascript:void(0)">Attendance<i class="material-icons attendance-icon">&#xE85D;</i></a>
							</li>
						<% else %>
							<li <%= active_class %>>
								<%= link_to institute_attendance_records_path(@institute) do %>
									Attendance<i class="material-icons attendance-icon">&#xE85D;</i>	
								<% end %>					
							</li>
						<% end %>
						<% if(params[:controller] == "notices") %>
							<% active_class="class=active-navigation-footer" %>
						<% else %>
							<% active_class="" %>
						<% end %>
						<li <%= active_class %>>
							<%= link_to institute_notices_path(@institute) do %>Notices<i class="material-icons notice-icon">&#xE616;</i><% end %>
						</li>
					</ul>
				</div>
			</footer>
		<% end %>

	</body>
</html>
