<!DOCTYPE html>
<html>
	<head>
		<title>ClassTalk</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
		<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Julius+Sans+One" %>
		<%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	</head>
	<body>
		<div class="wrapper">
		    <nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-width">
					<div class="navbar-header pull-left">
						<button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar top-bar"></span>
							<span class="icon-bar middle-bar"></span>
							<span class="icon-bar bottom-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><%= yield :heading %></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse pull-left navbar-fixed-small-screen">
						<ul class="nav navbar-nav left-self-image">
							<li class="self-image text-center">
								<a href="#">
									<%= image_tag "default_profile_picture.png" , class:"img-circle img-sm"%>
									<br>
									<span>Gaurav</span>
									<br>
									<span class="school-name">School Name</span>
								</a>
							</li>
							
							<li class="dropdown">
								<a href="#">Messages</a>
								<div class="inner-dropdown">
									<span class="dropdown-toggle caret-dropdown" id="drop2" data-toggle="dropdown" role="button"><b class="caret"></b></span>	
									<ul class="dropdown-menu caret-dropdown-menu" aria-labelledby="drop2">
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Inbox</a>
										</li>
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Sent</a>
										</li>
									</ul>
								</div>
							</li>			
							<li class="dropdown">
								<a href="#">My Classes</a>
								<div class="inner-dropdown">
									<span class="dropdown-toggle caret-dropdown" id="drop1" data-toggle="dropdown" role="button"><b class="caret"></b></span>	
									<ul class="dropdown-menu caret-dropdown-menu" aria-labelledby="drop1">
										<li class="dropdown-submenu">
											<a href="#">Class 1A</a>
											<ul class="dropdown-menu">
												<li><a href="#">Science</a></li>
												<li><a href="#">Maths</a></li>
												<li><a href="#">English</a></li>
											</ul>
										</li>
										<li class="dropdown-submenu">
											<a href="#">Class 1B</a>
											<ul class="dropdown-menu">
												<li><a href="#">Science</a></li>
												<li><a href="#">Maths</a></li>
												<li><a href="#">English</a></li>
											</ul>
										</li>
									</ul>
								</div>	
							</li>
							<li><a href="#">Attendance</a></li>
							<li class="dropdown">
								<a href="#">Custom Categories</a>
								<div class="inner-dropdown">
									<span class="dropdown-toggle caret-dropdown" id="drop2" data-toggle="dropdown" role="button"><b class="caret"></b></span>	
									<ul class="dropdown-menu caret-dropdown-menu" aria-labelledby="drop2">
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Homework</a>
										</li>
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Classwork</a>
										</li>
									</ul>
								</div>
							</li>			
							<li><a href="#about">Notices</a></li>
							<li class="dropdown">
								<a href="#">Calendar/Day Plan</a>
								<div class="inner-dropdown">
									<span class="dropdown-toggle caret-dropdown" id="drop2" data-toggle="dropdown" role="button"><b class="caret"></b></span>	
									<ul class="dropdown-menu caret-dropdown-menu" aria-labelledby="drop2">
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Calendar</a>
										</li>
										<li class="dropdown-submenu dropdown-submenu-2">
											<a href="#">Day Plan</a>
										</li>
									</ul>
								</div>
							</li>
							<li><a href="#">Help</a></li>						
						</ul>
					</div><!--/.nav-collapse -->
					<ul class="nav navbar-nav navbar-right pull-right right-self-image" style="margin-right: 3px;">
						<li class="main-school-name"><%= link_to institute_information_route_path do %>Dav School<% end %></li>
						<li class="main-image text-center">
							<a href="#">
								<%= image_tag "default_profile_picture.png" , class:"img-circle img-sm"%>
								<br>
								<span>Gaurav</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<%= yield %>
		</div>
	</body>
</html>
