<!DOCTYPE html>
<html>
	<head>
		<title>ClassTalk</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
		<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Julius+Sans+One" %>
		<%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	</head>
	<body>
		<div class="wrapper">
		    <nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-width">
					<div class="navbar-header pull-left">
						<button type="button" class="navbar-toggle collapsed pull-left hamburger-menu hamburger-menu-left-arrow" data-toggle="collapse" id="navbar-toggle-button">
							<span></span>
						</button>
						<a class="navbar-brand" href="#"><%= yield :heading %></a>
					</div>
					<div id="navbar" class="navbar-collapse pull-left navbar-fixed-small-screen">
						<ul class="nav navbar-nav left-self-image">
							<li><a href="#"><%= image_tag "default_profile_picture.png" , class:"img-xss"%><span>Profile</span></a>
							
							<li class="main_toggle_menu">
								<a href="javascript:void(0)"><i class="material-icons menu-inner-icon">&#xE156;</i><span>Messages</span><i class="material-icons arrow-up-icon">&#xE313;</i></a>
								<ul class="submenu list-unstyled" style="display:none;">
									<li><a href="#">Inbox</a></li>
									<li><a href="#">Sent</a></li>
								</ul>
							</li>			
							<li><a href="#"><i class="material-icons menu-inner-icon">&#xE86E;</i><span>My Classes</span></a></li>
							<li><a href="#"><i class="material-icons menu-inner-icon">&#xE85D;</i><span>Attendance</span></a></li>
							<li class="main_toggle_menu">
								<a href="javascript:void(0)"><i class="material-icons menu-inner-icon">&#xE146;</i><span>Custom Categories</span><i class="material-icons arrow-up-icon">&#xE313;</i></a>
								<ul class="submenu list-unstyled" style="display:none;">
									<li><a href="#">Classwork</a></li>
									<li><a href="#">Homework</a></li>
								</ul>
							</li>			
							<li><a href="#"><i class="material-icons menu-inner-icon">&#xE616;</i><span>Notices</span></a></li>
							<li class="main_toggle_menu">
								<a href="javascript:void(0)"><i class="material-icons menu-inner-icon">&#xE8A3;</i><span>Calendar/Day Plan</span><i class="material-icons arrow-up-icon">&#xE313;</i></a>
								<ul class="submenu list-unstyled" style="display:none;">
									<li><a href="#">Calendar</a></li>
									<li><a href="#">Day Plan</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="material-icons menu-inner-icon">&#xE0C6;</i><span>Help</span></a></li>						
						</ul>
					</div>
					<ul class="nav navbar-nav navbar-right pull-right right-self-image" style="margin-right: 3px;">
						<li>
							<a class="navbar-brand right-menu" href="javascript:void(0)">Teacher<i class="material-icons arrow-up-icon" style="vertical-align:middle;">&#xE313;</i></a>
							<ul class="right-menu-toggle" id="right-menu-toggle-id" style="display:none;">
								<li class="main-image text-center">
									<a href="#">
										<%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
										<br>
										<span>Gaurav</span>
									</a>
								</li>
								<li class="main-school-name text-center"><%= link_to institute_information_route_path do %>Dav School<% end %></li>
							</ul>						
						</li>							
					</ul>
				</div>
			</nav>
			<%= yield %>
		</div>
	</body>
</html>
