<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header">
  <div class="container-fluid">
    <div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
      <a class="mybtn btn btn-link btn-xs pull-left" href="<%= edit_user_path(current_user) %>"><i class="material-icons">&#xE317;</i></a>
      <div class="media pull-left">
        <div class="media-body chat-show-media">
          <h4 class="media-heading"> Change your Password </h4>

          <p> Profile Last Updated <%= show_human_time(@user.updated_at) %> </p>  
        </div>
      </div>
    </div>

  </div>
</nav>

<div class="container new-group-member-container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
      <div class="row new-group-row">
        <div class="col-md-12 text-center edit-user-page">
          <span></span>
          
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", "autocomplete"=>"off", class:"form-control", required: true %>
            
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", "autocomplete"=>"off", class:"form-control", required: true %>
            
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Your current Password", "autocomplete"=>"off", class:"form-control", required: true %>
            
          </div>

      </div>
      
      <%= button_tag(type:"submit", class: "new-group-submit-button") do %>
        <i class="material-icons">&#xE876;</i>
      <% end %> 
    <% end %>
      
      
  </div>
</div> 



<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<-->